nav.box-menu-container
{
  display:         flex;
  flex-flow:       column;
  justify-content: flex-start;
  align-items:     flex-start;

  width:           100%;
  padding:         12px;

  //border:    #ff2b8e solid 5px;

  & ul
  {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: flex-start;
    align-items:     stretch;

    width:           100%;

    padding:         0;
    margin:          40px 0 0 0;

    //border:          #622e2e solid 1px;

    & li
    {
      display:          flex;
      flex-flow:        column wrap;
      flex:             1 0 auto;
      justify-content:  flex-start;
      align-items:      center;


      max-width:        $box-menu-item-width;
      min-width:        $box-menu-item-width;
      width:            $box-menu-item-width;
      min-height:       220px;

      margin:           12px;

      background-color: #ffffff;

      border:           $neutral1-light-04 solid 2px;
      border-radius:    32px;
      box-shadow:       $neutral1-light-04 0px 2px 4px 0px;

      transition:       box-shadow 0.4s ease, background-color 0.4s ease;


      //border:          #46ff6c solid 1px;

      &:hover
      {
        box-shadow: $neutral1-light-03 4px 4px 4px, $neutral1-light-05 -2px -2px 4px;
      }

      & a
      {
        display:         flex;
        flex-flow:       column;
        justify-content: flex-start;
        width:           100%;
        height:          100%;

        //border:          #404aff solid 1px;

        & .box-menu-item-icon
        {
          display:         flex;
          flex-flow:       row;
          justify-content: center;
          width:           100%;

          //border:  #ff2255 solid 1px;

          & svg
          {
            display:    flex;
            align-self: center;
            width:      100%;
            height:     98px;
          }

          //& img
          //{
          //  display: flex;
          //  width:   100%;
          //  height:  100%;
          //  //border:  #ff2255 solid 1px;
          //}
        }

        & .box-menu-item-caption
        {
          display:         flex;
          flex-flow:       column wrap;
          justify-content: flex-start;
          
          margin-bottom: 16px;

          & header
          {
            font-weight: bold;

          }

          //border: #4258ff solid 2px;
        }
      }
    }
  }

  //-----------------------------------------------------------------
  // box menu big
  //-----------------------------------------------------------------
  &.box-menu-big
  {
    & ul
    {
      & li
      {
        & a
        {
          align-items: center;
          padding:     0 0 8px 0;

          & .box-menu-item-icon
          {
            flex-flow: column;
            height:    100%;
          }

          & .box-menu-item-caption
          {
            align-items: center;

            width:       100%;

            font-weight: bold;
            font-size:   150%;

            //border: #4258ff solid 2px;
          }
        }
      }
    }
  }

  //-----------------------------------------------------------------
  // box menu small
  //-----------------------------------------------------------------
  &.box-menu-small
  {
    & ul
    {
      & li
      {
        & a
        {
          padding: 8px 8px 20px 8px;

          & .box-menu-item-icon
          {
            flex-flow:       row nowrap;
            justify-content: flex-start;
            padding:         0 0 16px 0;

            &.last
            {
              margin-bottom:   -8px;
              justify-content: flex-end;
              padding:         0;
            }
          }

          & .box-menu-item-caption
          {
            align-items: flex-start;

            margin:      0;
            padding:     12px;

            max-width:   $box-menu-small-caption-width;

            & header
            {
              display:        flex;
              flex-flow:      row nowrap;

              width:          100%;

              margin:         0;

              font-weight:    bold;
              font-size:      150%;
              text-align:     left;
              font-style:     normal;
              color:          $text-dark-05;
              line-height:    1;
              font-family:    Poppins;

              text-transform: uppercase;

            }

            & p
            {
              margin-top:  8px;
              font-weight: bolder;
              color:       $neutral1-light-02;
            }

          }
        }
      }
    }
  }
}

/*
nav.box-menu-container
{
  display:         flex;
  flex-flow:       column;
  justify-content: flex-start;
  align-items:     flex-start;

  width:           100%;
  padding:         12px;

  //border:      #2640ff solid 3px;

  & ul
  {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: flex-start;
    align-items:     stretch;

    width:           100%;

    padding:         0;
    margin:          40px 0 0 0;

    & li
    {
      display:          flex;
      flex-flow:        column wrap;
      flex:             1 0 auto;
      justify-content:  flex-start;
      align-items:      center;

      max-width:        $box-menu-item-width;
      min-width:        $box-menu-item-width;
      width:            $box-menu-item-width;

      margin:           12px;

      background-color: #ffffff;

      border:           $neutral1-light-05 solid 1px;
      border-radius:    2px;
      box-shadow:       $neutral1-light-05 2px 4px 1px;

      transition:       box-shadow 0.4s ease, background-color 0.4s ease;

      &:hover
      {
        box-shadow: $neutral1-light-03 4px 4px 4px, $neutral1-light-05 -2px -2px 4px;
      }

      & a
      {
        display:         flex;
        flex-flow:       column;
        justify-content: flex-start;
        height:          100%;
        width:           100%;

        & .box-menu-item-icon
        {
          display: flex;
          width:   100%;

        }

        & .box-menu-item-caption
        {
          display:         flex;
          flex-flow:       column wrap;
          justify-content: flex-start;
        }
      }
    }
  }

  &.box-menu-small
  {
    align-items: flex-start; // ***
    padding:     8px 8px 24px 8px; // ***

    & .box-menu-item-icon
    {
      flex-flow:       row nowrap; // ***
      justify-content: flex-start; // ***
      padding:         0 0 8px 0; // ***

      &.last // ***
      {
        margin-bottom:   -16px;
        justify-content: flex-end;
        padding:         0;
      }
    }

    & .box-menu-item-caption
    {
      align-items: flex-start; // ***

      margin:      0; // ***
      padding:     12px; // ***

      max-width:   $box-menu-small-caption-width; // ***

      & header
      {
        display:        flex;
        flex-flow:      row nowrap;

        width:          100%;

        margin:         0;

        font-weight:    bold;
        font-size:      150%;
        text-align:     left;
        font-style:     normal;
        color:          $text-dark-05;
        line-height:    1;
        font-family:    Poppins;

        text-transform: uppercase;

      }

      & p
      {
        margin-top:  8px;
        font-weight: bolder;
        color:       $neutral1-light-02;
      }

    }
  }
}
*/
 