@supports (display: grid)
{
  @media only screen and (max-width: $screen-width-down)
  {
    .page-container
    {
      & .page-menu
      {
        // hide wide menu when showing narrow menu
        & .page-menu-container.menu-wide
        {
          display: none;
        }

        //----------------------------------------------------------
        // main menu container
        //----------------------------------------------------------
        & .page-menu-container.menu-narrow
        {
          & .site-logo-container
          {
            padding: 0;

            & .site-logo-link
            {
              padding: 0;
              //width: 128px;
              //border: #ff4fea solid 1px;
            }
          }

          //----------------------------------------------------------
          // menu (main part)
          //----------------------------------------------------------
          & .page-menu-inner
          {
            padding-top: $menu-narrow-padding-top;

            & hr.menu-sep
            {
              //margin: 0 8px;
            }

            & nav
            {
              & ul
              {
                & li
                {
                  & a
                  {
                    justify-content: center;

                    &.menu-entry
                    {
                      flex-flow:   column;
                      align-items: center;

                      & svg
                      {
                        fill: $primary1-light-04;
                      }
                    }
                  }
                }

                &.submenu
                {
                  font-size: 8pt;

                  & li
                  {
                    & a
                    {
                      justify-content: flex-start;
                      padding-left:    $menu-narrow-submenu-padleft;
                      //border: #ff4fea solid 1px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
