.form-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;

  //border: #264aff solid 1px;

  & .form-fieldset
  {
    display:   flex;
    flex-flow: column;
    width:     100%;

    & label
    {
      display:   flex;
      flex-flow: column nowrap;
    }

    & .form-field
    {
      display:   flex;
      flex-flow: row nowrap;
      width:     100%;

    }
  }

  & .form-buttonset
  {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: flex-end;
    width:           100%;
    //border: #d43a26 solid 1px;
  }

  & .form-buttonset.condition
  {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: flex-start;
    width:           100%;
    //border: #d43a26 solid 1px;
  }
}

.sampling-subform-container
{
  display:         flex;
  flex-flow:       row;
  width:           100%;
  justify-content: flex-start;

  & .sampling-subform-inner
  {
    display:         flex;
    flex-flow:       row;
    justify-content: space-between;
  }

  & .form-fieldset
  {
    display:   flex;
    flex-flow: column;
    padding:   0 16px 0 0;

    //border:    #d422d1 solid 1px;
  }
}

.sampletime-form-container
{
  display:   flex;
  flex-flow: row;


  & .sampletime-button-container
  {
    display:   flex;
    flex-flow: column;

    //border:    #d424d1 solid 3px;

  }

}