@import "../00-03/settings";
@import "../00/nds-colors2";

.page-container
{
  & .page-subheader-filterpanel
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #c79f28 solid 1px;

    & .subheader-filterpanel-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;
      //border:          #3631c7 solid 1px;

      & .subheader-filterpanel-content
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-start;
        align-items:     flex-end;
        width:           $content-width-w0;

        //border:          #11ffcf solid 1px;

        & form
        {
          display:     flex;
          flex-flow:   row;
          align-items: flex-end;

        }

        & .filter-input
        {
          display:      flex;
          flex-flow:    column;
          justify-content: flex-start;
          padding: 8px;
          //border: #e65c98 solid 1px;

          &.save-button
          {
            margin-left:  auto;
            margin-right: 16px;
          }
        }

      }
    }
  }
}
