body
{
  overflow: auto;
}

@supports (display: grid)
{
  @supports (display: grid)
  {
    @media only screen and (max-width: $screen-width-down)
    {
      .page-container
      {
        & .page-content
        {
          overflow-y: scroll;
          padding: 0;

          //-----------------------------------------------------------------------
          // vertical scrollbar
          //-----------------------------------------------------------------------
          //overflow-y:      scroll;
          //scrollbar-color: $neutral1-center transparent;

          //border:  #ff2384 solid 1px;

          &::-webkit-scrollbar
          {
            background-color: transparent;
            width:            0.8rem;
          }

          &::-webkit-scrollbar-thumb
          {
            background-color: $neutral1-center;

            &:hover
            {
              background-color: $neutral1-dark-02;
            }
          }

          //overflow-y:      scroll;


          & .page-content-inner
          {
            display:    flex;
            flex-flow:  column;

            width:      100%;
            max-height:     100vh;
            margin:     0;
            padding:    0;

            overflow-y: scroll;
            //scrollbar-color: $neutral1-center transparent;

            //background-color: #ffffff;

            //border:     #6468ff solid 1px;

          }
        }
      }
    }
  }
}
