.button
{
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: center;
  align-items:     center;
  white-space:     nowrap;
  //word-break: keep-all;

  &.reset
  {
    display:          flex;
    justify-content:  center;
    align-items:      center;
    background-color: $accent3-light-01;
    padding:          0 4px;
    cursor:           pointer;
    appearance:       none;
    border:           $accent4-dark-01 solid 1px;
    border-radius: 4px;
  }

  &.filter
  {
    display: flex;
    
  }

  &.tiny
  {
    font-size:  65%;
    max-height: 16px;
    min-height: 16px;
    max-width:  12px;
    min-width:  12px;
  }

  &.stretch
  {
    width:   100%;
    height:  100%;
    padding: 0;
  }

  &.actinfo-select
  {
    width:            35px;
    height:           30px;
    min-width:        35px;

    transition:       0.2s ease-in-out;

    border:           #213917 solid 1px;
    border-radius:    8px;
    padding:          0;
    background-color: #daffd8;
    color:            #213917;

    &:hover
    {
      background-color: #edd8ff;
    }
  }

  &.circle
  {
    border-radius: 50%;
  }

  &:hover
  {
    cursor: pointer;
  }

  & .msg-button
  {
    width: 20px;
  }

  &.details-toggle
  {
    display:     flex;
    flex-flow:   row nowrap;
    appearance:  none;
    border:      none;
    background:  none;
    cursor:      pointer;
    text-align:  left;
    font-size:   120%;
    font-weight: bold;
  }
}