@supports (display: grid)
{
  @media only screen and (min-width: $screen-width-up)
  {
    .page-container
    {
      & .page-menu
      {

        & .page-menu-container.menu-narrow
        {
          display: none;
        }

        //----------------------------------------------------------
        // main menu container
        //----------------------------------------------------------
        & .page-menu-container.menu-wide
        {
          & .site-logo-container
          {
            padding: 0;

            & .site-logo-link
            {
              //width: 128px;
              padding-right: 32px;

              & img
              {
                height: 34px;
                //border: #ff4fea solid 1px;
              }
            }
          }

          //----------------------------------------------------------
          // menu (main part)
          //----------------------------------------------------------
          & .page-menu-inner
          {
            padding-top: $menu-wide-padding-top;

            & nav
            {
              & ul
              {
                &.module-header
                {
                  font-size: 16pt;
                  //border: #5dd497 solid 1px;
                }
                & ul
                {
                  & li
                  {
                    // side menu main entries
                    &.main
                    {
                      //border: #5dd497 solid 1px;
                      margin-top: 32px;
                    }
                  }
                }
              }
            }

            & nav
            {
              padding-left: 16px;

              & ul
              {
                //border: #5dd497 solid 1px;
                &.submenu
                {
                  padding-left:  24px;
                  padding-right: 16px;

                  & li
                  {
                    &.head
                    {
                      //border-radius: 6px;
                      padding-left: 24px;
                    }

                    &.current
                    {
                      padding-left: 0;
                      margin-left:  -50px;
                      //padding-left: 70px;
                      //margin-right: 20px;
                      min-width:    380px;

                      & a
                      {
                        padding-left: 80px;
                        //min-width: 100%;
                        //border:       #ffffff solid 1px;
                        //margin-left: -36px;
                        //padding-left: 70px;
                        //min-width: 252px;

                      }
                    }
                  }

                  //------------------------------------------------------------
                  //  main-submenu colors
                  //------------------------------------------------------------
                  &.import li.current
                  {
                    background-color: $primary1-dark-02;
                  }

                  &.study li.current
                  {
                    background-color: $primary2-dark-01;
                  }
                }

                & li
                {
                  & a
                  {
                    &.menu-entry
                    {
                      flex-flow: row nowrap;

                      & svg
                      {
                        margin-right: 8px;
                        fill:         $primary1-light-04;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
