.subheader-action-content
{
  padding: 0;

  & .action-row
  {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: flex-start;

    height:          100%;
    width:           100%;
    
    padding: 4px 0;

    //border:          #709eff solid 1px;

    & .action-box
    {
      display:         flex;
      flex-flow:       row nowrap;
      //flex:            0.25 1 auto;
      justify-content: flex-start;
      align-items:     center;

      height:          100%;
      width:           20%;

      padding-left:    4px;

      //border:          #709eff solid 1px;

      & button
      {
        margin-top: 8px;
      }

      & .action-box-inner
      {
        display:         flex;
        flex-flow:       column;
        //flex:            0.25 1 auto;
        justify-content: flex-end;

        height:          100%;
        width:           100%;

        padding-left:    8px;

        //border:          #e570ff solid 1px;

        & header
        {
          font-weight: bold;
          color:       $neutral1-center;
        }

        & .action-text
        {
          display:         flex;
          flex-flow:       row nowrap;
          justify-content: flex-start;

          width:           100%;
          height:          100%;
          padding:         0 2px;

          //border:          #033ebd solid 1px;
          height:          45%;
          align-items:     flex-start;
          font-weight:     bold;
          color:           $neutral1-dark-04;
        }
      }
    }
    & .action-box-x
    {
      & .action-box-inner
      {
        & header
        {
          font-weight: 900;
          font-family: Poppins, sans-serif bold;
          font-size: 110%;
          padding: 0 4px;
        }
        & .action-text
        {
          padding: 0 4px;
        }
      }
    }
  }
}