@keyframes spinner
{
  to
  {
    transform: rotate(360deg);
  }
}


.has-spinner
{
  & ~ .spinner-container
  {
    display:          flex;
    flex-flow:        row nowrap;
    flex:             0 1 auto;
    justify-content:  center;

    // move the spinner to the right of the button
    // remove space at the container's original positioun (margin-left: -3rem)
    position:         relative;
    width:            3rem;
    margin-left:      -3rem;
    left:             -350px;

    transition:       left 1s ease-in-out;
    min-height:       100%;
    padding:          0;

    background-color: transparent;
    //border:           #c713b1 solid 3px;
  }

  &:focus ~ .spinner-container,
  &:active ~ .spinner-container
  {
    //border: #f563dc 1px solid;
    left: -60px;

    & .spinner
    {

      width:               1.5rem;
      height:              1.5rem;

      border-radius:       50%;
      border:              5px solid transparent;
      border-top-color:    #07d;
      border-bottom-color: #07d;
      animation:           spinner .8s ease infinite;
    }
  }
}
