.page-container
{
  & .page-header
  {
    display:   flex;
    flex-flow: row nowrap;
    //background-color: $shade-13-01;

    & .page-header-inner
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: space-between;

      height:          100%;
      width:           100%;

      & .header-title
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-start;
        align-items:     center;
        width:           100%;
        height:          100%;
        padding-left:    32px;

        //border:          #e30088 solid 1px;

        & span
        {
          font-size:      125%;
          text-transform: lowercase;

          &::first-letter
          {
            text-transform: uppercase;
          }
        }

        &.index-page-title
        {
          & span
          {
            font-size: 200%;
          }
        }
      }

      & .user-menu
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-end;
        align-items:     center;

        padding-right:   32px;

        //border: #5d90d4 solid 1px;

        & .user-link
        {
          margin-right: 16px;

          & .account-svg
          {
            width:  32px;
            height: 32px;
          }
        }

      }
    }
  }
}