@supports (display: grid)
{
  @media only screen and (max-width: $screen-width-down)
  {
    .page-container
    {
      & .page-subfooter
      {
        display:   flex;
        flex-flow: row nowrap;
        padding:   0;

        //border:    #666bff solid 1px;

        & .subfooter-inner
        {
          display:   flex;
          flex-flow: column;
          width:     100%;
          //max-width: revert;
        }
      }
    }
  }
}
