.table-container
{
  &.fixed-header-select,
  &.fixed-header
  {
    //border:      #d45dc8 solid 1px;
    //padding-top: 5px;
    //height: 100%;

    & table
    {
      border-collapse: collapse;
      min-width:       100%;
      width:           100%;
      
      & caption
      {
        font-weight: bold;
        font-size: 150%;
        text-align: left;
        margin: 8px;
      }

      & thead
      {

        & th
        {
          position:         sticky;
          top:              0;
          background-color: #ffffff;
          text-align:       left;

          padding:          4px;


          background-color: $primary1-light-04;

          border-left:      #f0f0f0 solid 1px;
          border-right:     #f0f0f0 solid 1px;
        }
      }

      & tbody
      {
        & td
        {
          top:              0;
          background-color: #ffffff;

          padding:          8px;

          border-left:      #f0f0f0 solid 1px;
          border-right:     #f0f0f0 solid 1px;
          border-bottom:    #f0f0f0 solid 1px;

        }
      }
    }
  }

  &.fixed-header
  {
    & table
    {
      & tbody
      {
        & td
        {
          white-space: nowrap;
        }
      }
    }
  }
}