.condition-summary-container
{
  display:   flex;
  flex-flow: row;
  width:     100%;
  margin: 0 8px;
  //border: #fa4da9 solid 2px;
  & table
  {
    border-collapse: collapse;
    & caption
    {
      font-size: 120%;
      font-weight: bold;
    }
    & td,
    & th
    {
      border-top: $primary1-center solid 1px;
      border-bottom: $primary1-center solid 1px;
      padding: 0 8px;
    }
  }
}