.subheader-msg-row
{
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: flex-start;

  width:           100%;
  height:          100%;
  //margin:          10px 2px 2px 0;
  margin:         0;


  //box-shadow: 2px 2px 2px 2px #70a2ff;
  border-left:     transparent solid 8px;
  box-shadow:      2px 2px 2px 2px #b1b1b1;

  & .smr-message-header
  {
    display:          flex;
    flex-flow:        row;
    flex:             0 1 auto;
    justify-content:  flex-start;
    align-items:      center;

    height:           100%;

    padding:          0 8px;

    background-color: transparent;
    font-size:        150%;
    font-weight:      bold;
    color:            $primary1-dark-05;

    //border: #70a2ff solid 1px;
  }

  & .smr-message-text
  {
    display:         flex;
    flex-flow:       row;
    flex:            1 1 auto;
    justify-content: flex-start;
    align-items:     center;

    padding-left:    4px;

    height:          100%;

    font-size:       90%;
  }

  &.warn
  {
    background-color:  #fff1e5;
    border-left-color: #ff9437;

    & .msg-button
    {
      fill: #ff9437;
    }
  }

  &.success
  {
    background-color:  #d9f1f2;
    border-left-color: #0097a7;

    & .msg-button
    {
      fill: #0097a7;
    }
  }

  &.notice
  {
    background-color:  #e3f2fd;
    border-left-color: #1e88e5;

    & .msg-button
    {
      fill: #1e88e5;
    }
  }

  &.error
  {
    background-color:  #ffebee;
    border-left-color: #f44336;

    & .msg-button
    {
      fill: #f44336;
    }
  }

}