.page-container
{
  & .page-menu
  {
    //----------------------------------------------------------
    // menu activator
    //----------------------------------------------------------
    & .slide-menu-activator-label
    {
      display:         flex;
      flex-flow:       column;
      position:        fixed;
      bottom:          2px;
      background-size: 100%;
      width:           96px;
      height:          96px;
      justify-content: flex-end;
      align-items:     flex-start;
      cursor:          pointer;

      //border:          #ff4be5 solid 1px;

      // arrow in/out icon
      & .hambg
      {
        width:            48px;
        height:           48px;
        fill:             #ff4fe8;
        stroke:           #ff4fe8;
        background-color: transparent;

        margin:           0 0 16px 16px;


      }
    }

    //----------------------------------------------------------
    // activator logic
    //----------------------------------------------------------
    & .slide-menu-activator
    {
      position: fixed;
      left:     -1000px;

      & ~ .hright
      {
        display: none;
      }

      &:checked
      {
        // switch arrows: 
        //    wide: left-arrow covers right-arrow
        //    narrow: left-arrow is hidden
        & ~ .hleft
        {
          display: none;
        }

        & ~ .hright
        {
          display: flex;
        }
      }
    }
  }
}
