@supports (display: grid)
{
  @media only screen and (max-width: $screen-width-down)
  {
    .content-inner,
    .subfooter-inner,
    .subheader-inner
    {
      display:   flex;
      flex-flow: column;

      width:     100%;
      height:    100%;

      //border:    #39af65 solid 1px;
    }
  }
}
