@import "../00-03/settings";

.page-container
{
  & .page-menu
  {
    //border: #4d58ff solid 1px;

    //font-size: 110%;

    //----------------------------------------------------------
    // main menu container
    //----------------------------------------------------------
    & .page-menu-container
    {
      display:   flex;
      flex-flow: column;

      height:    100%;
      width:     100%;

      //----------------------------------------------------------
      // site-logo
      //----------------------------------------------------------
      & .site-logo-container
      {
        display:         flex;
        flex-flow:       column;
        justify-content: center;
        align-items:     center;

        width:           100%;
        height:          $page-header-height;
        min-height:      $page-header-height;

        //background-color: $neutral1-light-05;
        //border:    #065247 solid 1px;
        box-shadow:      #b1b1b1 0px 0px 5px;

        & .site-logo-link
        {
          display:         flex;
          flex-flow:       column;
          justify-content: center;
          // keep aspect ration, height decideds size
          width:           unset;
          height:          100%;

          & img
          {
            // keep aspect ration, height decideds size
            width:  unset;
            height: 100%;
          }
        }
      }

      //----------------------------------------------------------
      // menu (main part)
      //----------------------------------------------------------
      & .page-menu-inner
      {
        display:          flex;
        flex-flow:        column;
        width:            100%;
        height:           100%;
        overflow-y:       scroll;
        overflow-x:       hidden;

        & .version-string
        {
          display:          flex;
          flex-flow:        row;
          height:           32px;
          width:            100%;
          padding-left:     32px;
          color:            $neutral1-light-01;
          background-color: transparent;
          margin-top:       auto;
          justify-content:  flex-start;
          align-items:      center;
          //border:           #fff7fe solid 1px;
        }

        //----------------------------------------------------------
        // scrollbar
        //----------------------------------------------------------
        // ::-webkit-scrollbar             — the entire scrollbar.
        // ::-webkit-scrollbar-button      — the buttons on the scrollbar (arrows pointing upwards and downwards).
        // ::-webkit-scrollbar-thumb       — the draggable scrolling handle.
        // ::-webkit-scrollbar-track       — the track (progress bar) of the scrollbar.
        // ::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.
        // ::-webkit-scrollbar-corner      — the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
        // ::-webkit-resizer               — the draggable resizing handle that appears at the bottom corner of some elements.

        //----------------------------------------------------------
        // scrollbar-color: thumb track-bg
        //scrollbar-color:  $scrollbar-thumb-bgcolor $scrollbar-track-bgcolor;
        scrollbar-width:  none;

        &::-webkit-scrollbar
        {
          width: 0;
        }

        //&::-webkit-scrollbar-track
        //{
        //  background-color: $scrollbar-track-bgcolor;
        //}
        //&::-webkit-scrollbar-thumb
        //{
        //  background-color: $scrollbar-thumb-bgcolor;
        //}
        //----------------------------------------------------------

        background-color: $primary-color-02;
        color:            $shade-13-01;

        //border:           #ff4fea solid 1px;

        & hr.menu-sep
        {
          border-color: $shade-13-01;
          margin:       4px 8px;
        }

        & nav
        {
          display:     flex;
          flex-flow:   column;
          align-items: stretch;
          width:       100%;

          //border:      #7665ff solid 1px;

          & ul
          {
            display:   flex;
            flex-flow: column;
            width:     100%;
            width:     100%;
            //border:    #7665ff solid 1px;

            & li
            {
              display:   flex;
              flex-flow: row nowrap;

              width:     100%;

              //border:  #7665ff solid 1px;

              & a
              {
                display:     flex;
                flex-flow:   row nowrap;
                align-items: center;

                width:       100%;

                padding:     8px;

                font-weight: bold;
                font-size:   120%;
                color:       $shade-13-01;

                //border:      #7665ff solid 1px;

                &.menu-entry
                {
                  display: flex;

                  & svg
                  {
                    fill: $primary1-light-04;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}