@import "../00-03/settings";
@import "../00/nds-colors2";

.page-container
{
  & .page-subheader-action
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #c7282d solid 1px;

    & .subheader-action-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;
      //border:          #c731a0 solid 1px;

      & .subheader-action-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-start;
        align-items: center;
        width:       $content-width-w0;
        
        padding: 0;

        //border:      #11ff30 solid 1px;
      }
    }
  }
}
