/*********************************************************************
 * Kd Questionnaire System
 * Copyright (c) 2019-2021 Kd Lab team
 * Created 2021-03-29
 * This file is part of the 'Kd Questionnaire System'.
 * Author: Finn Sandø <fs@3q.dk>
 *********************************************************************
 */
.nds-form-container input[type="text"][readonly],
.replaced-plaintext
{
  border-radius:    2px;
  padding:          0 4px;
  margin:           8px 0 20px 0;
  font-size:        100%;
  font-family:      Poppins, sans-serif;
  background-color: $shade-13-02;

  border:           $primary-col-l2 solid 1px;
}

.form-container
{
  & .form-fieldset
  {
    & .form-field
    {
      & textarea,
      & input
      {
        width: 100%;
      }

      & input[type=checkbox]
      {
        width:        unset;
        margin-right: auto;
      }
    }

    & .form-buttonset
    {

    }
  }
}

select
{
  border:              $shade-13-04 solid 1px;
  cursor:              pointer;

  &::-ms-expand
  {
    display: none;
  }

  //---------------------------------------------------------
  // style FF to look like chrome:
  // appearance:
  // FF:     does not remove all padding
  // chrome: removes all padding
  //---------------------------------------------------------
  //appearance: none;
  -moz-appearance:     none;

  //max-width:           80px;
  padding:             0 16px 4px 0;
  margin:              0;
  line-height:         1.4;
  border-radius:       4px;
  text-transform:      none;
  height:              24px;

  background-image:    url("/img/triangle-down.svg");
  background-repeat:   no-repeat;
  background-size:     18px 12px;
  background-position: center right;
  background-color:    $primary1-light-05;

}

