@import "../00-03/settings";
@import "../00/nds-colors2";

.page-container
{
  padding: 0;

  & .page-subheader-nav
  {
    display:          flex;
    flex-flow:        row;
    background-color: $neutral1-light-06;
    height:           100%;
    width:            100%;

    //border:           #ff93c2 solid 1px;

    & .subheader-nav-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: center;
      width:           100%;
      height:          100%;

      //border:           #ff93c2 solid 1px;

      & .subheader-nav-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-start;
        width:       $content-width-w0;
        //height:      100%;

        //border:          #0e07e8 solid 1px;
      }
    }
  }

  & .page-sub-k-nav
  {
    display:          flex;
    flex-flow:        row;
    justify-content: flex-start;
    background-color: $neutral1-light-06;
    height:           100%;
    width:            100%;
    //border:           #0e07e8 solid 1px;

  }

  & .page-subheader-msg
  {
    & .subheader-msg-inner
    {
      //border: #ff93c2 solid 1px;
      & .subheader-msg-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-end;
        width:       100%;
        height:      100%;
      }
    }
  }

  & .page-subheader-action
  {
    & .subheader-action-inner
    {
      & .subheader-action-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-end;
        width:       100%;
        height:      100%;
      }
    }
  }

  & .page-subheader-info
  {
    & .subheader-info-inner
    {
      & .subheader-info-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-end;
        width:       100%;
        height:      100%;

        //border: none;

        //border:    #398aaf solid 1px;

      }

    }
  }
}
