@supports (display: grid)
{
  .page-container
  {
    @media only screen and (max-width: $screen-width-down)
    {
      & .page-subfooter
      {
        & .subfooter-inner
        {
          & .table-nav-container
          {
            display:   flex;
            flex-flow: row nowrap;

            width:     100%;
            height:    100%;


            & .table-searchbar
            {
              display:         flex;
              flex-flow:       row nowrap;
              justify-content: space-between;
              flex:            1 0 auto;
              //align-items:      center;
              //height:           24px;
              width:           100%;
              height:          100%;

              & nav
              {
                display:     flex;
                flex-flow:   row nowrap;
                flex:        1 1 auto;
                align-items: center;

                width:       100%;

                height:      100%;


                & ul
                {
                  display:         flex;
                  flex-flow:       row nowrap;
                  justify-content: space-between;
                  align-items:     center;

                  list-style:      none;
                  width:           25%;
                  height:          100%;

                  padding:         0;

                  //border: #ff66f8 solid 1px;

                  & li
                  {
                    display:         flex;
                    flex-flow:       row nowrap;
                    justify-content: center;
                    align-items:     center;

                    width:           100%;
                    height:          100%;

                    //border:    #ff2762 solid 1px;

                    & a
                    {
                      display:         flex;
                      flex-flow:       row nowrap;
                      justify-content: center;
                      align-items:     center;

                      width:           100%;
                      height:          100%;


                    }

                  }

                  &.table-nav-double-row
                  {
                    margin-right: 16px;
                  }

                  &.table-pg-of-pgs
                  {
                    justify-content: center;
                    //width: 48px;
                    //border: #ff36bb solid 1px;
                  }

                }

                & .svg-nav-arrow
                {
                  fill:       $neutral1-center;
                  //fill:       #dbffd9;
                  transition: 0.2s ease-in-out;

                  &:hover
                  {
                    fill: $neutral1-dark-02;
                  }
                }

              }

            }

          }
        }
      }
    }
  }
}
