@keyframes fadeIn
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}
.subheader-msg-column
{
  display:   flex;
  flex-flow: column;
  z-index:   1000;
  width:     100%;
  height:    100%;
  //margin:          10px 2px 2px 0;
  margin:    0;
  padding:   0;

  & .subheader-msg-row
  {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: flex-start;

    width:           100%;
    height:          100%;
    //margin:          10px 2px 2px 0;
    margin:          0;


    //--------------------------------
    // border
    //--------------------------------
    border-color:    transparent;
    border-width:    1px 1px 1px 8px;
    border-style:    solid;
    //box-shadow: 2px 2px 2px 2px #70a2ff;
    //box-shadow:      2px 2px 2px 2px #b1b1b1;

    & .smr-message-header
    {
      display:          flex;
      flex-flow:        row;
      flex:             0 1 auto;
      justify-content:  flex-start;
      align-items:      center;

      height:           100%;

      padding:          0 8px;

      background-color: transparent;
      font-size:        90%;
      font-weight:      bold;
      color:            $primary1-dark-05;

      //border: #70a2ff solid 1px;
    }

    & .smr-message-text
    {
      display:         flex;
      flex-flow:       row;
      flex:            1 1 auto;
      justify-content: flex-start;
      align-items:     center;

      padding-left:    4px;

      height:          100%;

      font-size:       90%;
    }

    &.warning,
    &.warn
    {
      animation:                 fadeIn ease 0.7s;
      animation-iteration-count: 1;
      animation-fill-mode:       forwards;

      background-color: #fff1e5;
      border-color:     #ff9437;

      & .msg-button
      {
        fill: #ff9437;
      }
    }

    &.success
    {
      animation:                 fadeIn ease 0.7s;
      animation-iteration-count: 1;
      animation-fill-mode:       forwards;

      background-color: #d9f1f2;
      border-color:     #0097a7;

      & .msg-button
      {
        fill: #0097a7;
      }
    }

    &.notice
    {
      animation:                 fadeIn ease 0.7s;
      animation-iteration-count: 1;
      animation-fill-mode:       forwards;

      background-color: #e3f2fd;
      border-color:     #1e88e5;

      & .msg-button
      {
        fill: #1e88e5;
      }
    }

    &.error
    {
      animation:                 fadeIn ease 0.7s;
      animation-iteration-count: 1;
      animation-fill-mode:       forwards;

      background-color: #ffebee;
      border-color:     #f44336;

      & .msg-button
      {
        fill: #f44336;
      }
    }

  }

}
