.emptypage-container
{
  display:         flex;
  flex-flow:       column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  border: #d44025 solid 1px;

  & .emptypage-msg
  {
    display:   flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    height: 100%;
    
    font-size: 150%;
  }

  & .emptypage-action
  {
    display:   flex;
    flex-flow: row nowrap;
    justify-content: center;

    height: 100%;

    font-size: 150%;
  }
}