@import "../00-03/design-elements";

.page-container
{
  & .page-content
  {
    & .page-content-inner
    {
      & .card-container
      {
        display:   flex;
        flex-flow: column;
        width:     100%;
        //padding-top:   16px;
        padding:   0;

        //border:    #c72227 solid 1px;

        & .card
        {
          display:          flex;
          flex-flow:        column;
          align-items:      stretch;
          width:            100%; //700px

          border:           $neutral1-light-04 solid 2px;
          background-color: #ffffff;
          //box-shadow:       $card-boxshadow;
          border-radius:    16px;
          padding:          32px;
          margin:           8px 0 16px 0;
          transition:       background-color 0.3s ease-in-out;

          //border:           #c72227 solid 1px;
          //&:hover
          //{
          //  background-color: #fcfdff;
          //}

          &.warning
          {
            background-color: #ffdfde;
            //border:           #ff0d32 solid 1rem;
          }

          & .card-row
          {
            display:   flex;
            flex-flow: row nowrap;
            //justify-content: space-around;
            width:     100%;

            //border:    #c732a2 solid 1px;
          }

          & .card-temp-row
          {
            display:   flex;
            flex-flow: row nowrap;
          }

          & .card-button-box
          {
            display:         flex;
            justify-content: flex-end;
            align-items:     flex-end;
            height:          100%;
            width:           100%;

            //border:          #5c90d4 solid 1px;
          }

          & .card-fieldset-column
          {
            display:       flex;
            flex-flow:     column;
            width:         100%;
            padding:       8px;
            border:        $shade-13-01 solid 2px;
            border-radius: 4px;
          }

          & .card-fieldset-row
          {
            display:         flex;
            flex-flow:       row;
            justify-content: space-between;
            width:           100%;
            padding:         8px;
            border:          $shade-13-01 solid 2px;
            border-radius:   4px;
          }

          & .card-submenu-container,
          & .card-column
          {
            display:        flex;
            flex-flow:      column;
            padding-bottom: 16px;
            width:          100%;

            //border:         #c7262b solid 1px;
          }

          & .card-submenu-container,
          & .card-fieldset-column,
          & .card-fieldset-row,
          & .card-column,
          & .card-row
          {
            & header
            {
              font-weight: bolder;
              font-size:   150%;
              padding:     16px 0 8px 0;

            }

            & .card-fieldset-label
            {
              font-size: 100%;
              color:     $neutral1-dark-01;
            }

            & .card-fieldset-header
            {
              display:     flex;
              font-size:   120%;
              font-weight: bold;
              color:       $neutral1-dark-06;

            }

            & .card-field-header
            {
              display:         flex;
              flex-flow:       column;
              justify-content: center;
              font-size:       120%;
              font-weight:     bold;
              color:           $temp-grey-01;

              //border:          #168970 solid 5px;
            }

            & .card-field-content
            {
              display:         flex;
              flex-flow:       column;
              justify-content: center;
              align-items:     flex-start;

              font-size:       12pt;
              line-height:     1.6;
              color:           $temp-grey-02;
              //border:          $shade-13-02 solid 2px;
              //background-color: $shade-13-01;
              //height:          32px;
              //min-height:      32px;
              //margin-top:      16px;
              
              //border:          #b50093 solid 5px;
            }
          }

          & .card-submenu-container
          {
            display:        flex;
            flex-flow:      row;
            padding-bottom: 16px;
            width:          100%;

            //border:         #c7262b solid 1px;
            & header
            {
              font-size: 150%;
            }

            & .card-submenu-menu
            {
              display:   flex;
              flex-flow: column;
            }

            & .card-submenu-content
            {
              display:   flex;
              flex-flow: column;
              width:     100%;

              //border:    #d420d0 solid 3px;
            }

          }

          & .card-field-row
          {
            display:         flex;
            flex-flow:       row nowrap;
            justify-content: space-between;

            //border:          #d45dc8 solid 1px;
          }

          & .card-button-row
          {
            display:   flex;
            flex-flow: row nowrap;
          }

          & .card-temp-spacing
          {
            display: flex;
            height:  32px;
          }

          & .card-img-button
          {
            display:     flex;
            background:  none;
            color:       #1562bf;
            font-weight: bold;
            border:      none;
            cursor:      pointer;
            transition:  background-color 0.2s, box-shadow 0.2s;
            //border-radius: 1rem;

            & > img
            {
              //height: 1.2rem;
              //width:  1.2rem;
            }

            &:hover
            {
              background-color: $shade-13-02;
              //box-shadow:       #a6a6a6 1px 1px 2px;
            }
          }

        }
      }
    }
  }
}


.card-summary-table
{
  display: table;

  & .card-summary-tablerow
  {
    display: table-row;

    & .card-summary-tablecell,
    & .card-summary-tableheader
    {
      display: table-cell;
      //border: #989898 solid 2px;
      padding: 8px 8px 8px 4px;
    }

    & .card-summary-tableheader
    {
      font-weight: bold;
      color:       #943b96;
    }

  }
}