//@keyframes showdetails
//{
//  0%    {opacity: 0; margin-top: -50px}
//  100%  {opacity: 1; margin-top: 0px}
//}
.page-container
{
  & .page-content
  {
    & .page-content-inner
    {
      & .card-container
      {
        & .card
        {
          & .design-summary-box
          {
            display:   flex;
            flex-flow: column;
            width:     100%;


            //border: #403bc7 solid 1px;


            & details
            {
              //display:          flex;
              //flex-flow:        row;
              background-color: #ffffff;
              border-bottom:    #ebebeb solid 1px;
              //box-shadow:       $card-boxshadow;
              padding:          0;
              margin:           8px 8px 8px 0;
              transition:       background-color 0.3s ease-in-out, height 1s ease-in-out;
              height: 100%;

              //&::-webkit-details-marker,
              //&::marker
              //{
              //  display: none;
              //}

              & summary
              {
                display:     flex;
                flex-flow:   row nowrap;
                align-items: center;
                cursor:      pointer;


                padding:     16px;
                font-size:   150%;

                transition:  background-color 0.3s ease-in-out;

                &:hover
                {
                  background-color: #fcfdff;
                  border-radius:    4px;
                }

                &::before
                {
                  //  arrow left
                  width:         0;
                  height:        0;
                  border-top:    8px solid transparent;
                  border-bottom: 8px solid transparent;
                  border-left:   18px solid #000000;
                  content:       '';
                  margin-right:  8px;
                  transition:    transform 0.4s;
                }
              }

              &[open]
              {
                & summary
                {
                  &::before
                  {
                    transform: rotate(90deg);
                  }
                  //& ~ *
                  //{
                  //  animation: showdetails .5s ease-in-out;
                  //}
                }
              }

              & .table-container
              {
                & table
                {
                  table-layout:    fixed;
                  border-collapse: collapse;
                  width:           100%;

                  & th,
                  & td
                  {
                    border:  #efefef solid 1px;
                    padding: 8px 0 8px 16px;
                  }

                  & th
                  {
                    text-align:  left;
                    font-weight: 900;
                    color:       #000000;

                  }

                  & td
                  {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
