.mgrselect-outer
{
  display:       flex;
  flex-flow:     row;
  //border:        #ff7db7 solid 1px;
  border-radius: 16px;

  & .mgrselect-header,
  & .mgrselect-button
  {
    display:          flex;
    flex-flow:        column;
    flex:             1 0 auto;

    justify-content:  flex-start;

    appearance:       none;
    border-radius:    16px;
    cursor:           pointer;

    font-size:        125%;

    border:           $neutral1-light-03 solid 1px;
    background-color: $neutral1-light-04;

    &.active
    {
      background-color: $secondary-col-d1;
      border-color:     $secondary-col-d2;
      justify-content:  space-evenly;
    }

    & .mgrselect-inner
    {
      display:   flex;
      flex:      1 1 auto;
      flex-flow: row;

      //border: #ff36f2 solid 1px;

      & .content,
      & .head
      {
        padding:    0 16px;
        width:      50%;
        text-align: left;
      }
    }

  }

  & .mgrselect-header
  {
    font-weight:      bold;
    font-size: 150%;

    background-color: transparent;
    border: none;
  }
}