.page-container
{
  border: #ff42d6 solid 5px;

  & .page-content
  {
    border: #ff2384 solid 2px;

    & .page-content-inner
    {
      border: #6468ff solid 2px;
    }
  }

  & .page-subheader
  {
    border: #d409ea solid 1px;

    & .subheader-inner
    {
      border: #ff93c2 solid 1px;

      & .subheader-row
      {
        border: #398aaf solid 1px;
      }
    }
  }
}

.page-menu
{
  border: #d2dc12 solid 1px;
}

.page-header
{
  border: #4842ff solid 1px;
}

.page-subheader
{
  border: #ff0034 solid 1px;
}

.page-content
{
  border: #217f09 solid 1px;
}

.page-subfooter
{
  border: #dedc1b solid 1px;
}

.page-footer
{
  border: #ff0034 solid 1px;
}
