{% extends "00index.volt" %}
    {% block menu2 %}
      <ul>
        <li>
          <a href="/dashin/index/{{ _ls_querystring_ }}">
            <div class="info-group-inner">
              <header>Admin</header>
            </div>
          </a>
        </li>
      </ul>
    {% endblock %}
