@supports (display: grid)
{
  .page-container.indexpage
  {

    display:               grid;
    height:                100%;
    grid-gap:              0;

    grid-template-columns: $menu-width-wide repeat(12, 1fr);
    grid-template-rows: $page-header-height $subheader-msg-height 1fr $page-subfooter-height $page-footer-height;
    grid-template-areas: 
        "m h  h  h  h  h  h  h  h  h  h  h  h"
        "m b2 b2 b2 b2 b2 b2 b2 b2 k2 k2 k2 k2"
        "m c  c  c  c  c  c  c  c  kc kc kc kc"
        "m d  d  d  d  d  d  d  d  kd kd kd kd"
        "m f  f  f  f  f  f  f  f  f  f  f  f";

    //border:                #ff42d6 solid 5px;

    .page-menu
    {
      grid-area: m;

      //border:    #d2dc12 solid 5px;
    }

    .page-header
    {
      grid-area:     h;

      //border-bottom: $neutral1-light-04 solid 1px;
      //background-color: $neutral1-light-06;

      //border:    #4842ff solid 5px;
    }

    .page-subheader-msg
    {
      grid-area: b2;
      //border:    #89e4ff solid 5px;
    }

    .page-sub-k-msg
    {
      grid-area: k2;
      //border:    #ff4346 solid 5px;
    }

    .page-subheader-msg
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      //padding:         $main-outer-padding-w0;
    }

    .page-sub-k-msg
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      //padding:         $main-outer-padding-w0;

      //border:          #ff0034 solid 1px;
    }

    .page-content
    {
      grid-area: c;

      //border:          #217f09 solid 5px;
    }

    .page-content-k
    {
      grid-area: kc;

      //border:    #7d0908 solid 5px;
    }

    .page-subfooter
    {
      grid-area: d;

      //border:    #dedc1b solid 5px;
    }

    .page-subfooter-k
    {
      grid-area: kd;

      //border:    #de1b86 solid 5px;
    }

    .page-footer
    {
      grid-area: f;

      //border:    #ff0034 solid 5px;
    }
  }

}