<svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M43.3994 37.7984H40.7134L39.7614 36.8804C43.0934 33.0044 45.0994 27.9724 45.0994 22.4984C45.0994 10.2924 35.2054 0.398438 22.9994 0.398438C10.7934 0.398438 0.899414 10.2924 0.899414 22.4984C0.899414 34.7044 10.7934 44.5984 22.9994 44.5984C28.4734 44.5984 33.5054 42.5924 37.3814 39.2604L38.2994 40.2124V42.8984L55.2994 59.8644L60.3654 54.7984L43.3994 37.7984ZM22.9994 37.7984C14.5334 37.7984 7.69941 30.9644 7.69941 22.4984C7.69941 14.0324 14.5334 7.19844 22.9994 7.19844C31.4654 7.19844 38.2994 14.0324 38.2994 22.4984C38.2994 30.9644 31.4654 37.7984 22.9994 37.7984Z" fill="#8994EF"/>
</svg>
