<svg width="51" height="40" viewBox="0 0 51 40" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.000488281 0.166016V39.8327H51.0005V0.166016H0.000488281ZM15.1022 34.166H5.66715V5.83268H15.1022V34.166ZM30.2322 34.166H20.7972V22.8327H30.2322V34.166ZM45.3338 34.166H35.8988V22.8327H45.3338V34.166ZM45.3338 17.166H20.7688V5.83268H45.3338V17.166Z" fill="#DAD28F"/>
</svg>
