@supports (display: grid)
{
  body
  {
    display: flex;
    flex-flow: column;
    background-color: #949494;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .page-container
  {

    display:               grid;
    height:                90%;
    grid-gap:              0;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: $page-header-height $importguide-page-subheader-nav-height $importguide-page-subheader-msg-height $importguide-page-subheader-action-height $importguide-page-subheader-info-height 4fr $importguide-page-subfooter-height 64px;
    grid-template-areas: 
        "l1  h1 h1 h1 h1 h1 h1 h1 h1 h1 h1  r1"
        
        "l2  h2 h2 h2 h2 h2 h2 h2 h2 h2 h2  r2"
        "l3  h3 h3 h3 h3 h3 h3 h3 h3 h3 h3  r3"
        "l4  h4 h4 h4 h4 h4 h4 h4 h4 h4 h4  r4"
        "l5  h5 h5 h5 h5 h5 h5 h5 h5 h5 h5  r5"
        "lc  c1 c1 c1 c1 c1 c1 c1 c1 c1 c1  rc"
        "lf  f2 f2 f2 f2 f2 f2 f2 f2 f2 f2  rf"
        
        "f1 f1  f1 f1 f1 f1 f1 f1 f1 f1  f1 f1";

    //border:                #ff42d6 solid 5px;
    
    max-width: 90%;
    margin: 1%;
    box-shadow: #5b5b5b 16px 16px 32px 16px, #323232 2px 2px 32px 16px;
    border-radius: 16px;

    .page-header
    {
      grid-area:     h1;

      //border-bottom: $neutral1-light-08 solid 1px;
      background-color: $importguide-page-background-color;
      
      //border:    #4842ff solid 1px;

    }
    
    .page-header-l
    {
      grid-area: l1;
      background-color: $importguide-page-background-color;
    }

    .page-header-r
    {
      grid-area: r1;
      background-color: $importguide-page-background-color;
    }

    //----------------------------------------------------------
    // nav row
    //----------------------------------------------------------
    .page-subheader-nav
    {
      grid-area: h2;
      //border:    #ff4346 solid 1px;
    }

    .page-sub-l-nav
    {
      grid-area: l2;

    }
    .page-sub-r-nav
    {
      grid-area: r2;
    }

    //----------------------------------------------------------
    // msg row
    //----------------------------------------------------------

    .page-subheader-msg
    {
      grid-area: h3;
      //border:    #ec65ff solid 3px;
    }

    .page-sub-l-msg
    {
      grid-area: l3;

      //border:    #ec65ff solid 3px;
    }

    .page-sub-r-msg
    {
      grid-area: r3;

      //border:    #ff4346 solid 1px;
    }

    //----------------------------------------------------------
    // action row
    //----------------------------------------------------------
    .page-subheader-action
    {
      grid-area: h4;
      //border:    #ec65ff solid 3px;
    }

    .page-sub-l-action
    {
      grid-area: l4;
    }

    .page-sub-r-action
    {
      grid-area: r4;
      //border:    #ec65ff solid 1px;
    }

    //----------------------------------------------------------
    // info row
    //----------------------------------------------------------
    .page-subheader-info
    {
      grid-area: h5;
      //border:    #5c5dff solid 1px;
    }

    .page-sub-l-info
    {
      grid-area: l5;
    }

    .page-sub-r-info
    {
      grid-area: r5;
      //border:    #5c5dff solid 1px;
    }

    //----------------------------------------------------------
    // header rows general
    //----------------------------------------------------------
    .page-subheader-nav,
    .page-subheader-msg,
    .page-subheader-action,
    .page-subheader-info
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;
      background-color: #ffffff;

      //padding:         $main-outer-padding-w0;

      //border:          #57579c solid 3px;
    }

    .page-sub-l-nav,
    .page-sub-l-msg,
    .page-sub-l-action,
    .page-sub-l-info,
    .page-sub-r-nav,
    .page-sub-r-msg,
    .page-sub-r-action,
    .page-sub-r-info
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      background-color: $importguide-page-background-color;
      //padding:         $main-outer-padding-w0;

      //border:          #ff0034 solid 1px;
    }

    //----------------------------------------------------------
    // content row
    //----------------------------------------------------------
    .page-content
    {
      grid-area: c1;
      background-color: #ffffff;

      //border:          #217f09 solid 1px;
      //border:    #ec65ff solid 3px;
    }

    .page-content-l
    {
      grid-area: lc;

      //border:    #1c2e7d solid 2px;
    }

    .page-content-r
    {
      grid-area: rc;

      //border:    #1c2e7d solid 2px;
    }

    .page-content-l,
    .page-content-r
    {
      background-color: $importguide-page-background-color;

      //border:    #1c2e7d solid 2px;
    }

    //----------------------------------------------------------
    // footer rows
    //----------------------------------------------------------
    .page-subfooter
    {
      grid-area: f2;
      background-color: #ffffff;

      //border:    #dedc1b solid 1px;
    }

    .page-subfooter-l
    {
      grid-area: lf;

      //border:    #de1b86 solid 3px;
    }

    .page-subfooter-r
    {
      grid-area: rf;

      //border:    #de1b86 solid 1px;
    }

    .page-subfooter-l,
    .page-subfooter-r
    {
      background-color: $importguide-page-background-color;

      //border:    #de1b86 solid 1px;
    }

    .page-footer
    {
      grid-area: f1;
      background-color: $importguide-page-background-color;

      //border:    #ff0034 solid 1px;
    }
  }
}