@supports (display: grid)
{
  .page-container
  {
    & .page-subfooter
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: flex-end;
      align-items: flex-end;

      padding:         8px 8px 8px 0;
      
      width: 100%;
      
      //border: #8205ff solid 3px;

      & .subfooter-inner
      {
        display:   flex;
        flex-flow: column;
        width:     100%;
        //max-width: $main-inner-width-w0;
        //border:    #666bff solid 1px;
      }
    }
  }
}
