.page-container
{
  & .page-subheader-nav
  {
    display:          flex;
    flex-flow:        row;
    //background-color: $neutral1-light-06;
    height:           100%;
    width:            100%;
    //padding: 0;

    //border:           #ff93c2 solid 1px;

    & .subheader-nav-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-start;
      width:           100%;
      height:          100%;

      //border:           #ff93c2 solid 1px;

      & .subheader-nav-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        justify-content: flex-start;
        align-items: center;
        width:       100%;
        padding: 0;
        //height:      100%;
        
        //border:          #0e07e8 solid 1px;
        
        & .nav-item
        {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;

          height: 100%;
          padding: 4px;
          
          font-weight: bold;
          //border: #ff3958 solid 1px;
          
        }
      }
    }
  }

  //& .page-sub-r-nav
  //{
  //  display:          flex;
  //  flex-flow:        row;
  //  justify-content: flex-start;
  //  //background-color: $neutral1-light-06;
  //  height:           100%;
  //  width:            100%;
  //  //border:           #0e07e8 solid 1px;
  //
  //}
}
