@supports (display: grid)
{
  .page-container
  {
    //background-color: $neutral1-light-06;
    overflow: hidden;
    //height: 100vh;
    width:    100%;
    //*
    //{
    //  border: #d42a68 solid 0.02em;
    //}

    & .page-content
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: flex-end;

      //padding:         $main-outer-padding-w0;
      overflow:        hidden;
      width:           100%;

      //border: #5e61ff solid 1px;

      //-----------------------------------------------------------------------
      // vertical scrollbar
      //-----------------------------------------------------------------------
      //overflow-y:      scroll;
      //scrollbar-color: $neutral1-center transparent;

      border:          #ff2384 solid 2px;
      //-----------------------------------------------------------------------
      // extra space at bottom
      //-----------------------------------------------------------------------


      & .page-content-index-inner,
      & .page-content-inner
      {
        display:         flex;
        flex-flow:       column;
        align-items:     center;


        height:          100%;
        width:           100%;
        //max-width:       $main-inner-width-w0;

        overflow:        scroll;
        scrollbar-color: $neutral1-center transparent;

        // remove focus outline
        outline:         none;
        border:          none;

        margin:          0;

        //background-color: #ffffff;

        border:          #6468ff solid 2px;

        input::file-selector-button
        {
          background-color: #ff6c9c;
          padding:          16px;
          border-radius:    8px;
          cursor:           pointer;
          
          transition: background-color 0.2s;

          &:hover
          {
            background-color: #ff3958;
          }
        }

        &::-webkit-scrollbar
        {
          background-color: transparent;
          width:            0.8rem;
        }

        &::-webkit-scrollbar-thumb
        {
          background-color: $scrollbar-thumb-bgcolor;

        }
      }

      & .page-content-index-inner
      {
        max-width:   unset;
        margin-left: 32px;
      }
    }

    & .page-content-k
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;
      //padding:         $main-outer-padding-w0;
      //overflow:        hidden;
      width:           100%;

      & .page-content-k-inner
      {
        display:     flex;
        flex-flow:   column;
        align-items: flex-end;

        height:      100%;
        width:       100%;


        //max-width:       $main-inner-width-w0;

        //overflow:        scroll;
        //scrollbar-color: $neutral1-center transparent;

        //background-color: #ffffff;

        //border:    #c11a73 solid 2px;

        //padding-bottom: 200px;

        & .user-profile-box
        {
          display:         flex;
          flex-flow:       row;
          justify-content: center;
          align-items:     center;

          min-height:      60px;
          min-width:       240px;

          margin:          32px;

          font-weight:     bold;
          font-size:       125%;


          background:      linear-gradient(90deg, #9bd0ff 10%, #ffffff 100%);;
          border-radius:   4px;
          border:          #9bd0ff solid 2px;

        }

      }
    }
  }
}