.page-container
{
  & .page-header
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;
    //border:    #ff93c2 solid 1px;

    & .page-header-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;
      //border:          #c731a0 solid 1px;
      & .page-header-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: center;

        width:       100%;
        //width:       $content-width-w0;

        padding:     0;

        & .importguide-page-title
        {
          font-family: 'Roboto';
          font-weight: bold;
          font-size:   150%;
          color:       $neutral1-dark-05;

        }
      }
    }

  }
}
