@import "../config/font-roboto";
@import "../config/colors";
@import "../config/colors-01";
@import "../config/color-mapping";
@import "../config/reset";
@import "../config/elements";

a
{
  color: $primary-color-02;
}

$screen-width-narrow:                      800px;

// frontpage
$frontpage-header-height:                  128px;
$frontpage-section-height:                 1fr;

//----------------------------------------------
// screen sizes
//----------------------------------------------
$screen-width-down:                        1200px;
//avoid overlap between width-down and width-up
$screen-width-up:                          $screen-width-down+1;

//----------------------------------------------
// content width
//----------------------------------------------
$content-width-w0:                         800px;
$main-inner-width-w0:                      $content-width-w0;
$main-outer-padding-w0:                    0 50px;
$main-inner-width-w1:                      100%;
$main-outer-padding-w1:                    auto;


//----------------------------------------------
// side-menu 
//----------------------------------------------
// size
$menu-width-wide:                          272px;
$menu-wide-padding-top:                    32px;

$menu-width-narrow:                        56px;
$menu-narrow-padding-top:                  16px;
$menu-narrow-submenu-padleft:              8px;

// scrollbar
$scrollbar-width:                          10px;
$scrollbar-track-bgcolor:                  transparent;
$scrollbar-thumb-bgcolor:                  $neutral1-dark-01;

// menu items: paddings, margins
$header-icon-text-dist:                    16px;
$sub-header-icon-text-dist:                $header-icon-text-dist + 6;
$sub-header-home-text-dist:                $header-icon-text-dist - 8;

//----------------------------------------------
// headers, footers
//----------------------------------------------
$page-header-height:                       55px;
$page-subfooter-height:                    32px;
$page-subnav-subfooter-height:             64px;
$page-footer-height:                       32px;

//----------------------------------------------
// selectpage headers, footers
//----------------------------------------------
$selectpage-header-height:                 55px;
$selectpage-subheader-action-height:       96px;
$selectpage-subheader-info-height:         8px;
$selectpage-subfooter-height:              64px;
$selectpage-subnav-subfooter-height:       64px;
$selectpage-footer-height:                 32px;

//----------------------------------------------
// importguide-page headers, footers
//----------------------------------------------
$importguide-page-header-height:           55px;
$importguide-page-subheader-nav-height:    32px;
$importguide-page-subheader-msg-height:    32px;
$importguide-page-subheader-action-height: 32px;
$importguide-page-subheader-info-height:   32px;
$importguide-page-subfooter-height:        32px;
$importguide-page-subnav-subfooter-height: 64px;
$importguide-page-footer-height:           32px;
//----------------------------------------------
// subheader
//----------------------------------------------
$subheader-nav-height:                     48px;
$subheader-nav-height-studydesignpage:     64px;
$subheader-subnav-height:                  32px;
$subheader-msg-height:                     40px;
$subheader-action-height:                  32px;
$subheader-info-height:                    32px;
$subheader-filterpanel-height:             56px;

$sub-header-row-height-nav:                32px;
$sub-header-row-height-msg:                48px;
$sub-header-row-height-action:             44px;
$sub-header-row-height-info:               44px;

//----------------------------------------------
// box-menu
//----------------------------------------------
$box-menu-item-width:                      216px;
$box-menu-big-item-height:                 $box-menu-item-width;
$box-menu-item-width:                      216px;
$box-menu-small-item-height:               $box-menu-item-width;
$box-menu-small-caption-width:             200px;
