@import "../config/colors";
@import "../config/colors-01";

//----------------------------------------------
// module-header
//----------------------------------------------
$module-header-color:               $primary-color;

// section colors
$menu-focus-color:                  $primary-color;

$dataset-section-color:             $dataset-logo-color;
$studies-section-color:             $studies-logo-color;
$search-section-color:              $search-logo-color;
$account-section-color:             $account-logo-color;
$admin-section-color:               $admin-logo-color;
$sysadmin-section-color:            $sysadmin-logo-color;


// selectpage
$selectpage-background-color:       $primary-color;
$deletepage-background-color:       $accent4-light-03;

// importguide-page
$importguide-page-background-color: $neutral1-light-04;

//----------------------------------------------
// submenu tabs
//----------------------------------------------
$submenu-tab-border-current:        $neutral1-dark-06;
$submenu-tab-border:                $neutral1-light-04;

//----------------------------------------------
// box
//----------------------------------------------
$box-border-color:                  $neutral1-light-04;
$card-border-color:                 $neutral1-light-04;
$box-background-color:              #ffffff;
$card-background-color:             #ffffff;
$dots-background-color:             $temp-grey-03;


//----------------------------------------------
// form elements
//----------------------------------------------

$element-color-selected:            $accent1-center;
$element-color-unselected:          $neutral1-light-05;

// standard buttons
$btn-primary-bgcolor:               $primary-color;
$btn-primary-bgcolor-hover:         $primary-color-hover;
$btn-primary-bordercolor:           $primary-color;
$btn-primary-color:                 #ffffff;

//$btn-secondary-bgcolor:             #ffffff;
//$btn-secondary-bordercolor:  $primary-color;
//$btn-secondary-color:        $primary-color;

//$btn-standard-bgcolor:       $primary-color;
//$btn-standard-bgcolor-hover: $primary-color-hover;
//$btn-standard-bordercolor:   $primary-color;

$btn-standard-bgcolor:              #ffffff;
$btn-standard-bgcolor-hover:        darken(#ffffff, 5%);

$btn-disabled-bgcolor:              $neutral1-light-04;
$btn-disabled-color:                $neutral1-dark-03;


$btn-submit-bgcolor:                $temp-orange-01;
$btn-submit-bgcolor-hover:          $temp-orange-02;

$btn-select-bgcolor:                #000000;
$btn-select-bordercolor:            #000000;
$btn-select-color:                  #ffffff;

// button icons
$btn-table-icon-color:              $primary-color;
$table-icon-background:             $temp-blue-01;


// special buttons
$filter-reset-color:                $primary-color;
$table-action-remove:               $error-color;
$btn-icon24-hover-bgcolor:          $neutral1-light-05;

// input
$input-text-border-color:           $neutral1-light-03;
$input-text-background-color:       $temp-grey-05;

//----------------------------------------------
// table
//----------------------------------------------
$table-row-striped-dark:            $neutral1-light-05;
$table-row-striped-light:           $neutral1-light-09;
$table-row-hover:                   $primary1-light-04;
$table-framed-border:               $neutral1-light-05;
$table-framed-header:               $neutral1-light-04;
