//----------------------------------------------
// box (big icon buttons, cards, etc.)
//----------------------------------------------
$box-standard-border:        $box-border-color solid 2px;
$box-standard-border-radius: 16px;
$box-standard-shadow:        4px 4px 6px $box-border-color;
$box-slim-border-radius:     16px;
