@font-face
{
  font-family: 'Roboto';
  font-weight: normal;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Regular.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Regular.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Regular.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: normal;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-RegularItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-RegularItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-RegularItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: bold;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Bold.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Bold.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Bold.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Bold.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: bold;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-BoldItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-BoldItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-BoldItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-BoldItalic.ttf') format('truetype');
}

