@font-face
{
  font-family: 'RobotoBlack';
  font-weight: normal;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Black.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Black.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Black.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Black.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Black.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoBlack';
  font-weight: bold;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-BlackItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-BlackItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-BlackItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: normal;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Regular.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Regular.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Regular.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: normal;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-RegularItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-RegularItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-RegularItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-RegularItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: bold;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Bold.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Bold.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Bold.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Bold.ttf') format('truetype');
}

@font-face
{
  font-family: 'Roboto';
  font-weight: bold;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-BoldItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-BoldItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-BoldItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoLight';
  font-weight: normal;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Light.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Light.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Light.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Light.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Italic.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoLight';
  font-weight: normal;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-LightItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-LightItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-LightItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Light.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoMedium';
  font-weight: normal;
  font-style:  normal;
  src:         url('/fonts/roboto-eot/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Medium.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Medium.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Medium.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-LightItalic.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoMedium';
  font-weight: normal;
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-MediumItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-MediumItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-MediumItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Medium.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoThin';
  src:         url('/fonts/roboto-eot/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-Thin.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-Thin.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-Thin.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-Thin.ttf') format('truetype');
}

@font-face
{
  font-family: 'RobotoThin';
  font-style:  italic;
  src:         url('/fonts/roboto-eot/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
               url('/fonts/roboto-svg/Roboto-ThinItalic.svg') format('svg'),
               url('/fonts/roboto-woff/Roboto-ThinItalic.woff') format('woff'),
               url('/fonts/roboto-woff/Roboto-ThinItalic.woff2') format('woff2'),
               url('/fonts/roboto-ttf/Roboto-ThinItalic.ttf') format('truetype');
}


//url('/fonts/roboto-ttf/RobotoCondensed-Bold.ttf')           format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-BoldItalic.ttf')     format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-Italic.ttf')         format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-Light.ttf')          format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-LightItalic.ttf')    format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-Medium.ttf')         format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-MediumItalic.ttf')   format('truetype'),
//url('/fonts/roboto-ttf/RobotoCondensed-Regular.ttf')        format('truetype'),
