// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

// box-sizing
*, *:before, *:after
{
  box-sizing: border-box;
}

*
{
  margin:  0;
  padding: 0;
}

html, body
{
  height: 100%;
}


// https://www.joshwcomeau.com/css/custom-css-reset/#digit-tweaking-line-height

//-----------------------------------------------------------------------------------------
// dynamic viewport size on mobile devices:
// https://dev.to/frehner/css-vh-dvh-lvh-svh-and-vw-units-27k4#the-new-css-units
// https://www.bram.us/2021/07/08/the-large-small-and-dynamic-viewports/
//-----------------------------------------------------------------------------------------


//-----------------------------------------------------------------------------------------
// line-height
//-----------------------------------------------------------------------------------------
body
{
  line-height: 1.5;
}

// line-height is active font-size + half the default font-size
// meaning: default font has line-height 1.5 others have their font-size plus some extra

// caveat: good for larger font-sizes, not good for smaller one - so problematic
//* {
//  line-height: calc(1em + 0.5rem);
//}

//-----------------------------------------------------------------------------------------
// media defaults
//-----------------------------------------------------------------------------------------
//img, picture, video, canvas, svg
//{
//  display:   block;
//  max-width: 100%;
//}

//-----------------------------------------------------------------------------------------
// font style on form elements
//
// these elements do not automatically inherit font
// may lead to weird experience - especially on mobile devices

// font is a rarely-used shorthand that sets a bunch of font-related properties, like
// font-size, font-weight, and font-family. By setting it to inherit, we instruct these
// elements to match the typography in their surrounding environment
//-----------------------------------------------------------------------------------------

//input, button, textarea, select
//{
//  font: inherit;
//}


//-----------------------------------------------------------------------------------------
// wrapping
//-----------------------------------------------------------------------------------------
//p, h1, h2, h3, h4, h5, h6
//{
//  overflow-wrap: break-word;
//}
p
{
  overflow-wrap: break-word;
  hyphens:       auto;
}

