/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

// reset
//*
//{
//  box-sizing: border-box;
//}

html, body
{
  //box-sizing:       border-box;
  height:           100%;
  //padding:          0;
  //margin:           0;
  //font-family:      "Poppins";
  //font-weight:      normal;
  //font-style:       normal;
  //line-height:      1.4;
  //background-color: #ffffff;
  //font-size:        10pt;
  //color:            #455962;
}

//h1, h2, h3, h4, h5, h6, header, .header
//{
//  font-family: "Poppins";
//  font-weight: normal;
//  font-style:  normal;
//  color:       $primary-color-02;
//  line-height: 1;
//}

//h1
//{
//  font-size: 40pt;
//}
//
//h2
//{
//  font-size: 33.65pt;
//}
//
//h3
//{
//  font-size: 25pt;
//}
//
//h4
//{
//  font-size: 16pt;
//}

//ul
//{
//  padding: 0;
//  margin:  0;
//}

.nds-expanded
{
  width: 100%;
}

.nds-site-logo-link
{
  //border: #aa0019 solid 1px;
  height: 100%;
}

a
{
  text-decoration: none;
  color:           $primary-color-02;
}

$media-wide-width:         950px;
//header
$header-height:            125px;
$footer-height:            40px;

//user menu
$usermenu-bg-color:        $shade-12-01;
$usermenu-bg-hover-color:  $shade-12-02;
$usermenu-fg-color:        $shade-10-06;

//table
$tbl-header-bg:            $primary-color-01;
$tbl-header-fg:            $primary-color-03;

$tbl-row-hover-bg:         $shade-13-02;

$tbl-row-border-color:     $shade-13-01;

//buttons
$btn-bg-gradiant-start:    $shade-12-03;
$btn-bg-gradiant-end:      $shade-12-05;
$btn-primary-bg:           $primary-color-01;
$btn-primary-bg-hover:     $shade-12-04;
$btn-primary-border-color: $shade-12-06;
$btn-primary-fg:           $primary-color-03;