{% include "00macros/form_innerloop_standard.volt" %}
{% include "00macros/m_form_innerloop_card.volt" %}
{% include "00macros/m_menu_entry.volt" %}
{% include "00macros/m_menu_entry_no_submenu.volt" %}
{% include "00macros/m_menu_tabentry.volt" %}
{% include "00macros/m_menu_submenuentry.volt" %}
{% include "00macros/m_info_element.volt" %}
{% include "00macros/m_emptypage_filler.volt" %}
{% include "00macros/m_conditional_selectbutton.volt" %}
{% include "00macros/m_conditional_genericbutton.volt" %}
{% include "00macros/m_card_button_box_confirm.volt" %}
{% include "00macros/m_study_description.volt" %}
{% include "00macros/m_indexpage_menu_entry.volt" %}
{% include "00macros/m_studydesign_menu_tabentry.volt" %}

