.card-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;
  //padding-top:   16px;
  padding:   0;

  //border:    #c72227 solid 1px;

  & header
  {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 125%;
  }

  & .card
  {
    display:          flex;
    flex-flow:        column;
    align-items:      stretch;
    
    width:            100%;
    padding:          32px;
    margin:           8px 0 16px 0;

    background-color: $box-background-color;

    border:           $box-standard-border;
    border-radius:    $box-standard-border-radius;

    & .card-row
    {
      display:   flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      
      width:     100%;

      //border:    #c732a2 solid 1px;
    }
    
    
    
  }
}