<div class="tabs-row">

  {{ m_menu_tabentry("Select elements", "/dashin/owner/studyexport/exportstudy", "exportstudy", current_tab, _ls_querystring_) }}
  {{ m_menu_tabentry("Export Sqdr", "/dashin/owner/studyexport/exportsqdr", "exportsqdr", current_tab, _ls_querystring_) }}

</div>
