{% extends "layouts/root-importguide-page.volt" %}
  {% block set_params %}
    {{ set_title("Index page") }}
  {% endblock %}
  {% block page_content %}


    <a href="/dashin/owner/importguide/upload/">Upload datafile</a>

{#    {{ m_form_innerloop_card(form,[["submit","Ok","button submit has-spinner"],["cancel","Cancel","button cancel"]],"form1") }}#}

    {#    <form id="form1">#}
    {#    </form>#}

  {% endblock %}
