.page-container.login
{

  & .page-content
  {
    justify-content: center;
    padding:         100px 0 0 0;

    //border:          #ff1e45 solid 3px;

    & .page-content-inner
    {
      justify-content: center;
      align-items:     center;
      max-width:       440px;


      //border:          #8931ff solid 3px;

      & .login-container
      {
        display:   flex;
        flex-flow: column;
        width:     100%;

        & .login-container-inner
        {
          display:       flex;
          flex-flow:     column;
          width:         100%;

          border:        $neutral1-light-04 solid 2px;
          border-radius: 16px;

          padding:       48px 80px;

          & .logo-container
          {
            display:         flex;
            flex-flow:       row nowrap;

            justify-content: flex-start;
            align-items:     center;
            width:           100%;


            & .logo-img
            {
              display:          flex;
              flex-flow:        column;
              justify-content:  center;
              align-items:      flex-start;

              width:            100%;
              //height:           52px;

              border:           none; //$main-menu-bgcolor solid 1px;
              background-color: #0d8eff;//$main-menu-bgcolor;
              border-radius:    8px;
              
              padding: 8px;
              //border:           #ff4fea solid 1px;

              & svg
              {
                justify-content:  flex-start;
                height:           64px;
                width:            auto;

                //margin-right:     16px;
                padding:          6px;
                border-radius:    8px;
                background-color: transparent;
                //border: #ff4fea solid 1px;
              }

            }

            & .logo-text
            {
              display:     flex;
              flex-flow:   row nowrap;
              margin-left: 16px;
              font-family: Roboto;

              font-weight: bold;
              font-size:   270%;
            }

          }

          & header
          {
            font-family: Roboto;
            font-size:   125%;
            font-weight: bold;
            margin:      32px 0 24px 0;
            //border:  #ff47e8 solid 3px;
          }


          & .form-fieldset
          {
            width: 100%;

            & .form-field
            {
              margin: 0 0 16px 0;
              width:  100%;

              & input
              {
                background-color: $primary1-light-04;
                padding-left:     16px;
                height:           32px;
                border-radius:    6px;
                border:           $primary1-light-03 solid 1px;
                margin:           8px 0 0 0;
                width:            100%;

                &::placeholder
                {
                  color: $neutral1-dark-05;
                }
              }

              & button
              {
                &.button.login
                {
                  display:          flex;
                  flex-flow:        row nowrap;

                  width:            100%;
                  height:           32px;

                  padding:          4px 0;
                  margin:           24px 0 16px 0;

                  border:           none;
                  border-radius:    6px;

                  background-color: $primary-color;

                  font-family:      Roboto;
                  font-weight:      bold;
                  color:            white;
                  font-size:        100%;

                }
              }

              & a
              {
                &.login.reset-pw
                {
                  display:         flex;

                  padding:         0;
                  text-decoration: none;

                  width:           100%;
                  height:          100%;

                  font-family:     Roboto;
                  font-weight:     bold;

                  color:           $primary-color;
                }
              }
            }
          }
        }
      }
    }
  }
}