<div class="nds-tabs-row" style="margin-bottom: 1rem">
  
  <div class="nds-tab{% if current_tab is defined and current_tab === "viewgeneral" %} current{% endif %}">
    <a href="/dashin/owner/study/summary/{{ _ls_querystring_ }}">
      View General
    </a>
  </div>

</div>
