<div class="nds-tabs-row" style="margin-bottom: 1rem;justify-content: flex-start">
  
{#  <div class="nds-tab{% if current_tab is defined and current_tab === "list" %} current{% endif %}">#}
{#    <a href="/dashin/owner/study/list/{{ _ls_querystring_ }}">#}
{#      List studies#}
{#    </a>#}
{#  </div>#}

  <div class="nds-tab{% if current_tab is defined and current_tab === "create" %} current{% endif %}" style="max-width: 10rem">
    <a href="/dashin/owner/study/create/{{ _ls_querystring_ }}">
      Create study
    </a>
  </div>
  
{#  <div class="nds-tab{% if current_tab is defined and current_tab === "editgeneral" %} current{% endif %}">#}
{#    <a href="/dashin/owner/study/editgeneral/{{ _ls_querystring_ }}">#}
{#      Edit General#}
{#    </a>#}
{#  </div>#}

{#  <div class="nds-tab{% if current_tab is defined and current_tab === "editstudydesign" %} current{% endif %}">#}
{#    <a href="/dashin/owner/study/editstudydesign/{{ _ls_querystring_ }}">#}
{#      Edit structure#}
{#    </a>#}
{#  </div>#}

{#  <div class="nds-tab{% if current_tab is defined and current_tab === "editcontact" %} current{% endif %}">#}
{#    <a href="/dashin/owner/study/editcontact/{{ _ls_querystring_ }}">#}
{#      Edit contacts#}
{#    </a>#}
{#  </div>#}

{#  <div class="nds-tab{% if current_tab is defined and current_tab === "viewgeneral" %} current{% endif %}">#}
{#    <a href="/dashin/owner/study/summary/{{ _ls_querystring_ }}">#}
{#      View#}
{#    </a>#}
{#  </div>#}

{#  <div class="nds-tab{% if current_tab is defined and current_tab === "viewdatasets" %} current{% endif %}">#}
{#    <a href="/dashin/owner/study/viewdatasets/{{ _ls_querystring_ }}">#}
{#      Datasets#}
{#    </a>#}
{#  </div>#}

</div>
