@supports (display: grid)
{
  .page-container
  {

    display:               grid;
    height:                100%;
    grid-gap:              0;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:
        $page-header-height
        $subheader-nav-height
        //$subheader-msg-height
        //$subheader-action-height
        //$subheader-info-height
        1fr
        $page-subfooter-height
        $page-footer-height;
    grid-template-areas: 
        "h  h  h  h  h  h  h  h  h  h  h  h  h "
        "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
        //"b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2"
        //"b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3"
        //"b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4 b4"
        "c  c  c  c  c  c  c  c  c  c  c  c  c "
        "d  d  d  d  d  d  d  d  d  d  d  d  d "
        "f  f  f  f  f  f  f  f  f  f  f  f  f ";

    //border:                #ff42d6 solid 5px;

    //.page-menu
    //{
    //  grid-area: m;
    //
    //  //border:    #d2dc12 solid 1px;
    //}

    //----------------------------------------------------------------------------

    //border:                #ff008c solid 5px;

    //----------------------------------------------------------------------------

    .page-header
    {
      grid-area:     h;

      //border-bottom: $neutral1-light-08 solid 1px;

      //border:    #4842ff solid 1px;
    }

    .page-subheader-nav
    {
      grid-area: b1;
      z-index:   100000;

      //border:    #d2dc12 solid 5px;
    }

    .page-subheader-msg
    {
      grid-area:        b2;
      background-color: white;

      //border:    #db2a49 solid 1px;
    }

    .page-subheader-action
    {
      grid-area: b3;

      //border:    #59d956 solid 1px;
    }

    .page-subheader-info
    {
      grid-area: b4;

      //border:    #59d956 solid 1px;
    }


    .page-subheader-nav,
    .page-subheader-msg,
    .page-subheader-action,
    .page-subheader-info
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      //padding:         $main-outer-padding-w0;

      //border:          #57579c solid 3px;
    }


    .page-content
    {
      grid-area: c;

      border:          #217f09 solid 1px;
    }

    .page-subfooter
    {
      grid-area: d;

      //border:    #dedc1b solid 1px;
    }


    .page-footer
    {
      grid-area: f;

      //border:    #ff0034 solid 1px;
    }
  }

}