.page-container
{
  & .page-subheader-nav
  {
    display:   flex;
    flex-flow: row nowrap;


  }
}

.tabs-row
{
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: flex-start;

  height:          100%;
  width:           100%;

}