$pub-squidr-logo-color: #464646;

html
{
  width: 100%;
}

body
{
  width: 100%;
}

.page-container
{
  width: 100%;

  & .page-header
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #5343ff solid 1px;

    & .page-header-inner
    {
      display:   flex;
      flex-flow: row;
      height:    100%;
      width:     100%;


      //border:    #ff3845 solid 5px;

      & .site-logo-container
      {
        display:       flex;
        flex-flow:     row;
        align-content: flex-start;
        align-items:   flex-start;
        height:        100%;
        width:         100%;
        padding:       0;

        transition:    background-color 0.2s;

        //border:        #5db45a solid 1px;

        & svg
        {
          display: flex;
          padding: 0;
          padding: 0 8px;
          width:   100px;
          height:  100%;

          //border:  #a841b4 solid 5px;


          //height:  100%;
          //width:   100%;


          &#squidr-logo-text-neutral
          {
            & path#path1
            {
              stroke: $pub-squidr-logo-color;
            }

            & path#path2
            {
              fill: $pub-squidr-logo-color;
            }

            & path#path3
            {
              fill: $pub-squidr-logo-color;
            }
          }
        }

        &:hover
        {
          background-color: darken(#ffffff, 5%);
        }
      }

    }

  }
}

//-------------------------------------------------------------------

