
.listview-container
{
  display:   flex;
  flex-flow: column;
  height:    100%;

  border:    #be162e solid 1px;

  & .listview-record
  {
    display:   flex;
    flex-flow: column;
    padding:   16px;
  }

  //  -----------------------------------------
  // structure  elements
  //  -----------------------------------------
  & .listview-row
  {
    display:   flex;
    flex-flow: row;

    border:    #be47a6 solid 1px;

  }

  & .listview-column
  {
    display:   flex;
    flex-flow: column;

    border:    #4f2abe solid 1px;
  }

  //  -----------------------------------------
  //  formatting elements
  //  -----------------------------------------
  & .listview-title
  {
    display:     flex;
    flex-flow:   row;
    font-weight: bold;
    font-size:   150%;
    padding:     8px;


  }

  & .listview-label
  {
    display:     flex;
    flex-flow:   row;
    padding:     8px;
    font-weight: bold;

  }

  & .listview-text
  {
    display:   flex;
    flex-flow: row;
    padding:   8px;

  }

}

.listview-container
{
  .listview-table-container
  {
    display:   flex;
    flex-flow: row;

    & .table-container-column
    {
      display:   flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    & .table-container-row
    {
      display:   flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    & .css-table
    {
      display: table;

      & .css-thead
      {
        display: table-header-group;

        & .css-trh
        {
          display: table-row;
        }

      }

      & .css-tbody
      {
        display: table-row-group;
      }

      & .css-tfoot
      {
        display: table-footer-group;
      }

      & .css-tr
      {
        display: table-row;

      }

      & .css-col
      {
        display: table-column;
      }

      & .css-colgroup
      {
        display: table-column-group;
      }

      & .css-th,
      & .css-th,
      & .css-td
      {
        display:        table-cell;
        //white-space:    nowrap;
        padding:        4px 8px;
        border-left:    #dcdcdc solid 1px;
        //border-right:   #dcdcdc solid 1px;
        //text-align:     center;
        vertical-align: middle;
      }

      & .css-th
      {
        font-weight: bold;
        text-align:  center;
        //background-color: #d8d8d8;
        &.row-header
        {
          text-align: left;
        }
      }

      & .css-td
      {
      }

      & .css-caption
      {
        display: table-caption;
      }
    }
  }
}


.listview-row
{
  //  -----------------------------------------
  //  below the fold
  //  -----------------------------------------
  &.below-the-fold
  {
    transform-origin: top;
    transform:        scaleY(0);
    max-height:       0;
    overflow:         clip;
    transition:       transform 0.5s ease, max-height 0.3s linear;

  }
}

label.show-more-checkbox
{
  display:          flex;
  flex-flow:        row;
  justify-content:  center;
  align-items:      center;
  min-height:       32px;
  background-color: #b0ff89;
  cursor:           pointer;

  &::before
  {
    content: 'Show more';
  }

}

input.show-below-the-fold
{
  position: absolute;
  left:     -1000px;
}

.show-below-the-fold
{
  &:checked ~ .below-the-fold
  {
    transform:  scaleY(1);
    max-height: 100%;

  }

  &:checked ~ label.show-more-checkbox
  {
    &::before
    {
      content: 'Show less';
    }
  }
}