.landing-page-form
{
  height: 100%;

  //border: #83dc82 solid 5px;
  //border: #5644c9 solid 3px;

  & .card-container
  {
    display: flex;
    width:   100%;
    height:  100%;

    & .card
    {
      display: flex;
      width:   100%;
      height:  100%;

      & .card-title
      {
        display: none;
      }
    }
  }
}


.page-container
{
  & .form-container
  {
    display:   flex;
    flex-flow: row;
    width:     100%;
    height:    100%;

    //border:    #c92325 solid 5px;

    & .form-fieldset
    {
      display:   flex;
      flex-flow: column;
      width:     100%;
      height:    100%;

      //border:    #c32ec9 solid 1px;

      & label
      {
        display: flex;

        //border:  #c32ec9 solid 1px;
      }

      & .form-field
      {
        display:   flex;
        flex-flow: column;
        width:     100%;
        height:    100%;

        //border:    #5644c9 solid 1px;

        & input
        {
          display:   flex;
          flex-flow: row;
          width:     100%;
          height:    100%;
          font-size: 150%;

          //border:    #5644c9 solid 1px;

          &::placeholder
          {
            color:       #717171;
            font-weight: bold;
          }

        }

      }
    }
  }

}


button.button
{
  display: flex;
  flex-flow: row;
  align-items: center;
  &:hover
  {
    cursor: pointer;
  }

  &.submit
  {

    background-color: #ebebeb;
    padding:          0 16px;
    font-size:        175%;
    font-weight:      bold;
    height:           100%;
    white-space:      nowrap;
  }

  &.reset
  {
    
    //margin-right: 20px;
    appearance: none;
    border: none;
    //border:           #5644c9 solid 1px;
  }

}

.landing-page-search-term
{
  & > div
  {

  }

  //&::before
  //{
  //  content: 'xx';
  //}
  //
  //&::after
  //{
  //  content: "dlksjfldskjfldskjfldskj";
  //  right:   -10px;
  //}
}

//.landing-page-form
//{
//  & .form-fieldset
//  {
//    flex-flow: row;
//    justify-content: flex-end;
//
//    & .form-field
//    {
//      
//      &::before
//      {
//        display: block;
//        margin-left: auto;
//        margin-bottom: -20px;
//        border:  #5644c9 solid 5px;
//        z-index: 100;
//        content: "Before";
//      }
//
//      &::after
//      {
//        display:   flex;
//        flex-flow: row;
//        justify-self: flex-end;
//        content:   "After";
//      }
//
//      & input
//      {
//
//      }
//    }
//  }
//}

.landing-page-form
{
  & .form-container
  {

    & .form-fieldset
    {
      & .form-field
      {
        flex-flow: row;

        & .landing-page-search-term
        {
          padding: 0 16px;

          //&:not(:placeholder-shown)
          //{
          //  background-color: #7fdbf0;
          //}
        }
      }
    }

    //  ----------------------------------
    .form-buttonset
    {
      display:   flex;
      flex-flow: row;
    }

  }

}