
<ul class="submenu study">

  {{ m_menu_submenuentry("Dataset" ,"/dashin/owner/import/listdatasets", _ls_querystring_ ,current|default(null),  "dataset_index") }}
  {{ m_menu_submenuentry("Variable info" ,"/dashin/owner/varinfo/listupvardatasets", _ls_querystring_ ,current|default(null),  "varinfo_index") }}

</ul>

