<ul class="submenu search">

  {{ m_menu_submenuentry("Metabolomics 1" ,"/dashin/owner/search/metabolomics", _ls_querystring_ ,current|default(null),  "metabolomics_index") }}
  {{ m_menu_submenuentry("Metabolomics 2" ,"/dashin/owner/search/metabolomicstype02", _ls_querystring_ ,current|default(null),  "metabolomics02_index") }}
  {{ m_menu_submenuentry("Resultsets" ,"/dashin/owner/search/listresults", _ls_querystring_ ,current|default(null),  "resultsets_index") }}

{#  <li class="head{% if current is defined and current === "metaboltype1" %} current{% endif %}">#}
{#    <a href="/dashin/owner/search/metabolomics/{{ _ls_querystring_ }}">Metabolomics 1</a>#}
{#  </li>#}

{#  <li class="head{% if current is defined and current === "metaboltype2" %} current{% endif %}">#}
{#    <a href="/dashin/owner/search/metabolomicstype02/{{ _ls_querystring_ }}">Metabolomics 2</a>#}
{#  </li>#}

{#  <li class="head{% if current is defined and current === "resultset" %} current{% endif %}">#}
{#    <a href="/dashin/owner/search/listresults/{{ _ls_querystring_ }}">Resultsets</a>#}
{#  </li>#}

</ul>

