{% extends "layouts/root-subnavpage.volt" %}
  
  {% block main_menu_wide %}
    {{ partial("00menu/main_menu_wide",['submenu_name':'dataset',"show_submenu":1,"current":"dataset_index"]) }}
  {% endblock %}

  {% block main_menu_narrow %}
    {{ partial("00menu/main_menu_narrow",['submenu_name':'dataset',"show_submenu":1,"current":"dataset_index"]) }}
  {% endblock %}

  {% block page_section_header %}
    <div class="section-header-inner">
      <div class="section-logo-container section-dataset">
        {{ partial("00img_partials/v1/icons/dataset-icon.svg") }}
      </div>
      <a href="/dashin/owner/import/index/{{ _ls_querystring_ }}">Datasets</a>
    </div>
  {% endblock %}
