@import "../00/nds-colors2";
//----------------------------------------------
// screen sizes
//----------------------------------------------
$screen-width-down:            1200px;
//avoid overlap between width-down and width-up
$screen-width-up:              $screen-width-down+1;

//----------------------------------------------
// content width
//----------------------------------------------
$content-width-w0:             800px;
$main-inner-width-w0:          $content-width-w0;
$main-outer-padding-w0:        0 50px;
$main-inner-width-w1:          100%;
$main-outer-padding-w1:        auto;


//----------------------------------------------
// side-menu 
//----------------------------------------------
// size
$menu-width-wide:              272px;
$menu-wide-padding-top:        32px;

$menu-width-narrow:            56px;
$menu-narrow-padding-top:      16px;
$menu-narrow-submenu-padleft:  8px;

// scrollbar
$scrollbar-width:              10px;
$scrollbar-track-bgcolor:      transparent;
$scrollbar-thumb-bgcolor:      $neutral1-dark-01;

//----------------------------------------------
// headers, footers
//----------------------------------------------
$page-header-height:           55px;
$page-subfooter-height:        32px;
$page-subnav-subfooter-height: 64px;
$page-footer-height:           32px;

//----------------------------------------------
// subheader
//----------------------------------------------
$subheader-nav-height:         64px;
$subheader-subnav-height:      32px;
$subheader-msg-height:         40px;
$subheader-action-height:      32px;
$subheader-info-height:        32px;
$subheader-filterpanel-height: 56px;

$sub-header-row-height-nav:    32px;
$sub-header-row-height-msg:    48px;
$sub-header-row-height-action: 44px;
$sub-header-row-height-info:   44px;

//----------------------------------------------
// box-menu
//----------------------------------------------
$box-menu-item-width:          216px;
$box-menu-big-item-height:     $box-menu-item-width;
$box-menu-item-width:          216px;
$box-menu-small-item-height:   $box-menu-item-width;
$box-menu-small-caption-width: 200px;
