/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{
  .nds-page-container.nds-no-nav
  {
    grid-template-columns: $nds-menu-narrow-width repeat(11, 1fr);
    grid-template-rows: $nds-main-header-height 1fr $nds-main-footer-height;
    grid-template-areas:
            "m h h h h h h h h h h h"
            "m c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
            "m f f f f f f f f f f f";

    & .nds-menu
    {
      & label
      {
        &.nds-slide-menu-activator-label
        {
          position:        fixed;
          bottom:          2px;
          background:      url("/img/hmb-right.svg") no-repeat;
          background-size: 100%;
          width:           $nds-main-footer-height * 0.8;
          height:          $nds-main-footer-height * 0.8;
          left:            5px;
          z-index:         3000000;
          cursor:          pointer;
        }
      }

      & input
      {
        &.nds-slide-menu-activator
        {
          position: fixed;
          left:     -1000px;
          z-index:         3000000;
        }
      }
    }

    & .nds-content2
    {
      padding: 0 0 2rem 0;
    }
  }
  //html body div.nds-page-container.nds-dashboard-1 div.nds-content2 nav.nds-box-menus ul.nds-card-menu li.nds-card a div.nds-big-icon img
  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container.nds-no-nav
    {
      grid-template-columns: $nds-menu-wide-width repeat(11, 1fr);
      grid-template-rows: $nds-main-header-height 1fr $nds-main-footer-height;
      grid-template-areas:
            "m h h h h h h h h h h h"
            "m c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
            "m f f f f f f f f f f f";

    }

  }
}

//html body div.nds-page-container.nds-dashboard-1 div.nds-menu div.nds-nav-container