/*********************************************************************
 * Kd Questionnaire System
 * Copyright (c) 2019-2021 Kd Lab team
 * Created 2021-01-31
 * This file is part of the 'Kd Questionnaire System'.
 * Author: Finn Sandø <fs@3q.dk>
 *********************************************************************
 */

.nds-content2 > .nds-content2-inner
{
  & > .nds-emptypage-card
  {
    display:          flex;
    flex-flow:        row nowrap;
    align-items:      center;
    justify-content:  space-evenly;

    min-height:       100px;
    display:          flex;
    width:            100%; //700px
    border:           #f2f8ff solid 0.2rem;
    box-shadow:       $tbl-tr-box-shadow;
    border-radius:    0.5rem;
    background-color: #ffffff;

    padding:          4rem;
    margin-bottom:    1rem;
    transition:       background-color 0.3s ease-in-out;

    //border-color: #ff42d0;


    &:hover
    {
      background-color: #fcfdff;
    }

    & .nds-button
    {
    }

    & header
    {
      margin-bottom: 32px;
      font-size:     18pt;
      border-radius: 5px;
      padding:       15px;
      font-weight:   900;

      &.warning
      {
        color:            #b71c1c;
        //background-color: #ffcdd2;
        background-color: #ffebee;
        border-color:     #ffcdd2;
      }

      &.disabled
      {
        color:            #546e7a;
        background-color: #cfd8dc;
        border-color:     #cfd8dc;
      }
    }

    & .nds-card-column
    {
      display:     flex;
      flex-flow:   column;
      align-items: center;
      width: 100%;
      height: 100%;
      //border: #ff42d3 solid 1px;
    }

  }
}