/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{
  .nds-page-container
  {
    & .nds-menu
    {
      & *
      {
      }

      overflow-x: visible;
      overflow-y: visible;
      z-index:    30000;

      & .nds-nav-container
      {
        display:          flex;
        flex-flow:        column;
        padding-top:      0;
        width:            100%;
        height:           100%;
        background-color: $primary-color-02;
        color:            $shade-13-01;

        left:             0;
        width:            $nds-menu-wide-width;
        //box-shadow:       $shade-13-05 0.4rem 0.4rem 4rem;

        //---------------------------------------------------------
        // move menu out of screen - shadow must also be hidden
        // TODO: main side menu: transition not working as expected on chrome
        //---------------------------------------------------------
        //transition: 0ms ease-in;
        //transform: translateX(-$nds-menu-wide-transform);

        overflow:         hidden;

        //border:           #e32b2b solid 5px;

        & .nds-nav-container-inner
        {
          display:          flex;
          flex-flow:        column;
          padding-top:      0;
          width:            100%;
          height:           100%;
          background-color: $primary-color-02;
          color:            $shade-13-01;

          left:             0;
          width:            $nds-menu-wide-width;
          padding-top:      32px;

          overflow-y:       scroll;
          //---------------------------------------------------------
          // custom scrollbars:
          // w3c draft: https://drafts.csswg.org/css-scrollbars-1/
          // -webkit: https://webkit.org/blog/363/styling-scrollbars/
          // SO: https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
          //---------------------------------------------------------
          scrollbar-color:  #ffffff66 transparent;
          scrollbar-width:  thin;


          &::-webkit-scrollbar
          {
            transition:       0.25s ease-in-out;
            background-color: transparent;
            width:            0.4rem;
          }

          &::-webkit-scrollbar-thumb
          {
            transition:       0.25s ease-in-out;
            background-color: #ffffff66;
          }

          &:hover
          {
            scrollbar-color: #ffffff88 transparent;
            //scrollbar-width: auto;

            &::-webkit-scrollbar
            {
              //width: 0.8rem;
            }

            &::-webkit-scrollbar-thumb
            {
              background-color: #ffffffaa;
            }
          }


          & a
          {
            color: $shade-13-01;
          }

          & nav
          {
            //border: #7665ff solid 1px;
            display:     flex;
            flex-flow:   column;
            align-items: stretch;

            & .nds-menu-sep
            {
              border-color: $shade-13-01;
              margin:       0.2rem;
            }

            & ul
            {
              width:   100%;
              padding: 0 1.5rem 0 1rem;

              &.nds-submenu-head,
              &.nds-submenu
              {
                //background-color: $shade-13-06;//#42424D;//#202035;//$primary-color-02;//#64717B,//$primary-color-02;
              }

              &.nds-submenu
              {
                & li
                {
                  padding-left: 0.5rem;

                  &.sub
                  {
                    padding-left: 1.5rem;
                  }
                }
              }

              & li
              {
                display:   flex;
                flex-flow: row nowrap;
                width:     100%;
                margin:    0.8rem 0;
                //border-top:    transparent solid 1px;
                //border-bottom: transparent solid 1px;
                font-size: 120%;

                //--------------------------------------------------------------------------------
                // submenu in left menu 
                // TODO: change ".head" to something that indicates submenu
                //--------------------------------------------------------------------------------
                &.head
                {
                  & a
                  {
                    border-radius: 0.4rem;
                    padding:       0.4rem 1.6rem;

                    &:hover
                    {
                      background-color: $neutral1-dark-02;
                    }
                  }

                  &.current
                  {
                    //background-color: lighten($shade-13-06,10%);
                    & a
                    {
                      background-color: $primary1-dark-01;

                      &:hover
                      {
                        background-color: lighten($primary1-dark-01, 7%);
                      }
                    }
                  }
                }

                &.main
                {
                  //background-color: $shade-14-06;
                  & a
                  {
                    //border-top:    $shade-13-05 solid 1px;
                    //border-bottom: $shade-13-05 solid 1px;

                    transition:    background-color 0.2s ease-in-out;
                    border-radius: 0.4rem;
                    padding:       0.4rem 0.4rem;

                    &:hover
                    {
                      background-color: lighten($shade-13-06, 5%);
                    }
                  }
                }

                & a
                {
                  width:       100%;
                  height:      100%;
                  padding:     0.2rem 0.2rem 0.2rem 0.4rem;
                  font-family: $font-family-header;
                  transition:  background-color 0.2s ease-in-out;

                  &:hover
                  {
                    //background-color: lighten($shade-13-06, 5%);
                  }
                }

              }
            }
          }
        }
      }


    }
  }

  @media only screen and (max-width: $media-wide-width)
  {
    .nds-page-container
    {
      & .nds-menu
      {
        & .nds-nav-container
        {
          //left: -$nds-menu-wide-transform;
          width:      0;
          transition: 0.25s ease-out;
          transform:  translateX(-$nds-menu-wide-transform);
        }
      }
    }

    //html body div.nds-page-container.nds-dashboard-1 div.nds-menu a.nds-slide-menu-activator
    input
    {
      &.nds-slide-menu-activator
      {
        &:checked
        {
          & ~ .nds-nav-container
          {
            transition: 0.25s ease-in-out;
            transform:  translateX(0px);
            width:      $nds-menu-wide-transform;
            //box-shadow: $shade-13-05 0.4rem 0.4rem 4rem;
          }
        }
      }
    }
  }


  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container
    {
      & .nds-menu
      {
        & .nds-nav-container
        {
          transform:  translateX(0px);
          box-shadow: none;
          //left: 0;
          //width: 20rem;
          //box-shadow: $shade-13-05 0.4rem 0.4rem 4rem;
          // move menu out of screen - shadow must also be hidden
          //transition: 0.25s ease-in-out;
          //transform: translateX(-370px);
        }

        //html body div.nds-page-container.nds-dashboard-1 div.nds-menu a.nds-slide-menu-activator
        & input
        {
          &.nds-slide-menu-activator
          {
            &:checked
            {
              & ~ .nds-nav-container
              {
                transition: 0.25s ease-in-out;
                transform:  translateX(-$nds-menu-wide-transform);
                //box-shadow: $shade-13-05 0.4rem 0.4rem 4rem;
              }

              border: #00ff49 solid 2px;
            }
          }
        }
      }
    }
  }
}
