@supports (display: grid) {
  .nds-page-container
  {
    & .nds-menu
    {
      & .nds-nav-container2
      {
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: column;
        padding-top:      0;//$nds-main-header-height;
        //width:            100%;
        height:           100%;
        background-color: $primary-color-02;
        color:            $shade-13-01;
        left:             0;
        width:            $nds-menu-narrow-width;
        max-width:        $nds-menu-narrow-width;
        //box-shadow:       $shade-13-05 0.4rem 0.4rem 4rem;

        //---------------------------------------------------------
        // move menu out of screen - shadow must also be hidden
        // TODO: main side menu: transition not working as expected on chrome
        //---------------------------------------------------------
        transition:       0s ease-out;
        transform:        translateX(0px);

        overflow-y:       scroll;
        overflow-x:       hidden;
        
        //---------------------------------------------------------
        // custom scrollbars:
        // w3c draft: https://drafts.csswg.org/css-scrollbars-1/
        // -webkit: https://webkit.org/blog/363/styling-scrollbars/
        // SO: https://stackoverflow.com/questions/9251354/css-customized-scroll-bar-in-div
        //---------------------------------------------------------
        scrollbar-color: #ffffff66 transparent;
        scrollbar-width: thin;
        
        &::-webkit-scrollbar
        {
          transition: 0.25s ease-in-out;
          background-color: transparent;
          width: 0.4rem;
        }
        &::-webkit-scrollbar-thumb
        {
          transition: 0.25s ease-in-out;
          background-color: #ffffff66;
        }
        
        &:hover
        {
          scrollbar-color: #ffffff88 transparent;
          //scrollbar-width: auto;

          &::-webkit-scrollbar
          {
            //width: 0.8rem;
          }
          &::-webkit-scrollbar-thumb
          {
            background-color: #ffffffaa;
          }
        }

        & a
        {
          color: $shade-13-01;
        }

        & nav
        {
          //border: #7665ff solid 1px;
          display: flex;
          flex-flow: column;
          align-items: stretch;
          
          & .nds-menu-sep
          {
            border-color: $shade-13-01;
            margin: 0.2rem;
          }
          & ul
          {
            width: 100%;
            padding-left: 0.2rem;

            &.nds-submenu-head,
            &.nds-submenu
            {
              //background-color: $shade-13-06;//#42424D;//#202035;//$primary-color-02;//#64717B,//$primary-color-02;
            }
            &.nds-submenu
            {
              & li
              {
                padding-left: 0.5rem;
                &.sub
                {
                  padding-left: 1.5rem;
                }
              }
            }

            & li
            {
              display: flex;
              flex-flow: row nowrap;
              width: 100%;
              margin-top: 0;
              border-top: transparent solid 1px;
              border-bottom: transparent solid 1px;
              &.current
              {
                //background-color: lighten($shade-13-06,10%);
                & a
                {
                  border-top: $shade-13-05 solid 1px;
                  border-bottom: $shade-13-05 solid 1px;
                  //font-style: italic;
                  //color: $shade-13-05;
                  //background-color: $shade-13-06;
                  background-color: $shade-03-06;
                  &:hover
                  {
                    background-color: lighten($shade-03-06,7%);
                  }
                }
                &.main
                {
                  & a
                  {
                    border-top: $shade-13-05 solid 1px;
                    border-bottom: $shade-13-05 solid 1px;
                    background-color: $shade-14-06;

                    transition: background-color 0.2s ease-in-out;
                    &:hover
                    {
                      //background-color: lighten($shade-13-06,20%);
                    }
                  }
                }
              }
              
              & a
              {
                width: 100%;
                height: 100%;
                padding: 0.2rem 0.2rem 0.2rem 0.4rem;
                font-family: $font-family-header;
                transition: background-color 0.2s ease-in-out;
                &:hover
                {
                  background-color: lighten($shade-13-06,20%);
                }
              }
              
            }
          }
        }
      }

      //html body div.nds-page-container.nds-dashboard-1 div.nds-menu a.nds-slide-menu-activator
      & input
      {
        &.nds-slide-menu-activator
        {
          &:checked
          {
            & ~ .nds-nav-container2
            {
              transition: 0.25s ease-out;
              transform: translateX(-$nds-menu-narrow-transform);
              //box-shadow: $shade-13-05 0.4rem 0.4rem 4rem;
            }
          }
        }
      }

    }
  }

  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container
    {
      & .nds-menu
      {
        & .nds-nav-container2
        {
          transform: translateX(-$nds-menu-narrow-transform);
          box-shadow: none;
          //left: 0;
          //width: 20rem;
          //box-shadow: $shade-13-05 0.4rem 0.4rem 4rem;
          // move menu out of screen - shadow must also be hidden
          //transition: 0.25s ease-in-out;
          //transform: translateX(-370px);
        }
        //html body div.nds-page-container.nds-dashboard-1 div.nds-menu a.nds-slide-menu-activator
        & input
        {
          &.nds-slide-menu-activator
          {
            &:checked
            {
              & ~ .nds-nav-container2
              {
                transition: 0.25s ease-out;
                transform: translateX(0);
                //box-shadow: $shade-13-05 0.4rem 0.4rem 4rem;
              }
              border: #00ff49 solid 2px;
            }
          }
        }
      }
    }
  }
}