/*********************************************************************
 * dash-in datasharing
 * 
 * Copyright (c) 2017-2020 dash-in team NEXS Copenhage University
 * 
 * Created 2020-07-13
 * 
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 * 
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 * 
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
*/
.nds-site-logo-container-light
{
  width:            100%;
  padding:          24px 30px 24px 50px;
  background-color: #f5f6f6;
  margin:           0;
  height:           $logo-container-height;
  display:          flex;
  flex-flow:        row nowrap;
  justify-content:  flex-start;
  align-items:      center;
  //border-radius:    0 0.2rem 0.2rem 0;

  // site-logo
  & .nds-site-logo-link
  {
    //border: #c25977 solid 1px!important;
    //margin-left: 0.2rem;
    display:         flex;
    flex-flow:       column;
    justify-content: center;
    align-items:     flex-start;
    height:          100%;
    padding-left: 0.4rem;

    & img
    {
      height: 35px;
    }
  }
}

.nds-site-logo-container-dark
{
  width:            100%;
  padding:          0.5rem 0.2rem;
  background-color: transparent;
  margin:           0.5rem 0;
  height:           75px;
  display:          flex;
  flex-flow:        row nowrap;
  justify-content:  flex-start;
  align-items:      center;
  border-radius:    0 0.2rem 0.2rem 0;

  // site-logo
  & .nds-site-logo-link
  {
    //border: #c25977 solid 1px!important;
    //margin-left: 0.2rem;
    display:         flex;
    flex-flow:       column;
    justify-content: center;
    align-items:     flex-start;
    height:          100%;
    padding-left: 0.4rem;

    & img
    {
      width: 100%;
    }
  }
}



