/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid) {
  .nds-page-container.nds-front-page
  {
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: $nds-main-header-height 16fr $nds-main-footer-height;
    grid-template-areas:
            "h h h h h h h h h h h h"
            //"c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
            "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
            //"f f f f f f f f f f f f"
    ;
  }

  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container.nds-front-page
    {
      grid-template-columns: repeat(12,1fr);
      grid-template-rows: $nds-main-header-height 1fr $nds-main-footer-height;
      grid-template-areas:
              "h h h h h h h h h h h h"
              "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
              //"f f f f f f f f f f f f"
    ;
    }
  }
}
