.nds-content2
{
  background-color: $neutral1-light-08;
}

.nds-content2-inner
{
  //border:      #e00b24 solid 4px;
  display:     flex;
  align-self:  center;
  flex-flow:   column;
  align-items: center;
  max-width:   $content-width;
  width:       100%;
  padding:     0.2rem 0.5rem 20rem 0.5rem;
}

.nds-content2-index-inner
{
  display:    flex;
  align-self: center;
  flex-flow:  column;
  //max-width:  $content-width;
  width:      100%;
  padding:    4px 8px 250px 8px;

  //border:     #e00b24 solid 1px;
}

//0.5rem
