/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

.nds-row
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: inherit;
  align-items: inherit;
}

.nds-column
{
  display: flex;
  flex-flow: column;
  justify-content: inherit;
  align-items: inherit;
}

.nds-column-stretch
{
  display: flex;
  flex-flow: column;
  justify-content: inherit;
  align-items: inherit;
  width: 100%;
}
@media only screen and (min-width: $media-wide-width)
{
  .nds-row
  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: inherit;
    align-items: inherit;
  }

  .nds-column
  {
    display: flex;
    flex-flow: column;
    justify-content: inherit;
    align-items: inherit;
  }

  .nds-column-stretch
  {
    display: flex;
    flex-flow: column;
    justify-content: inherit;
    align-items: inherit;
    width: 100%;
  }
}