/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{
  .nds-page-container
  {
    //header for index pages
    & .nds-index-header
    {
      display:      flex;
      flex-flow:    row nowrap;
      align-items:  flex-start;
      width:        100%;
      height:       100%;
      padding-left: 48px;
      padding-top:  12px;
      //padding: 0;

      //border-bottom: #dc12bc solid 20px;
      //z-index: 1000000;


      & header
      {
        margin:         0;
        font-weight:    900;
        font-size:      250%;
        text-transform: lowercase;
        width:          100%;

        //border:         #e30088 solid 1px;

        &::first-letter
        {
          text-transform: uppercase;
        }
      }
    }

    &.nds-dashboard-1
    {
      & .nds-content2
      {
        display:       flex;
        flex-flow:     column;
        align-items:   flex-start;
        padding-left:  0.5rem;
        padding-right: 0.5rem;
        //overflow-x: hidden;

        &:focus
        {
          outline: none;
        }


        // outer nav container
        & nav.nds-box-menus
        {
          display:     flex;
          flex-flow:   column;
          align-items: center;
          width:       100%;
          padding:     12px;
          
          //border: #c25977 solid 3px;

          & header
          {
            text-transform: uppercase;

            &.nds-page-header
            {
              //border: #c25977 solid 3px;
              @extend h1;
              text-align:     center;
              text-transform: lowercase;

              &::first-letter
              {
                text-transform: uppercase;
              }
            }
          }

          // inner nav container
          & ul.nds-card-menu
          {
            //border: #4154c2 solid 3px;
            display:     flex;
            flex-flow:   column;
            width:       100%;
            align-items: center;
            margin-top:  3rem;

            // individual cards
            & li.nds-card
            {
              display:          flex;
              flex-flow:        column;

              //-----------------------------
              // flex-shrink: 0; 
              // ensures that nds-card grows with content
              //-----------------------------
              flex:             1 0 auto;

              border:           none;
              //border: #ff0f84 solid 3px;

              background-color: white;
              border-radius:    0;
              //box-shadow: $shade-13-04 0.2rem 0.2rem 0.4rem, $shade-13-02 -0.1rem -0.1rem 0.2rem;
              box-shadow:       $shade-13-02 0 0.2rem 0.4rem;
              width:            100%;
              max-width:        30rem;
              padding:          0.2rem;
              margin:           1rem;

              //---------------------------------------------------------
              // link covers all content of li
              //---------------------------------------------------------
              & a
              {
                //border: #489645 solid 3px;
                display:   flex;
                flex-flow: row nowrap;
                width:     100%;
                height:    100%;

                & .nds-small-icon
                {
                  //border:          #7b0ccb solid 3px;
                  display:         flex;
                  width:           100%;
                  flex-flow:       row nowrap;
                  justify-content: flex-start;
                  padding:         0 0 8px 0;

                  &.last
                  {
                    margin-bottom:   -16px;
                    justify-content: flex-end;
                    padding:         0 0 0 0;

                  }
                }

                & .nds-big-icon
                {
                  padding: 0.5rem 0.5rem 0.7rem 0.5rem;

                  & img
                  {
                    height: 100px;
                  }
                }

                //---------------------------------------------------------
                // text to the right of image
                // keep distance to image to the left
                //---------------------------------------------------------
                & info-group-inner-big
                {
                  //border: #8fc2a1 solid 3px;
                  display:         flex;
                  flex-flow:       column;
                  justify-content: center;

                  margin-left:     3rem;
                  margin-right:    2rem;

                  & header
                  {
                    @extend h4;
                    font-weight: bold;
                  }

                  & p
                  {
                    margin-top:  0.4rem;
                    line-height: 1;
                  }
                }

                & .info-group-inner
                {
                  display:         flex;
                  flex-flow:       column;
                  justify-content: flex-start;
                  align-items:     flex-start;
                  width:           100%;

                  margin-left:     16px;
                  margin-right:    2rem;

                  & header
                  {
                    display:     flex;
                    flex-flow:   row nowrap;
                    width:       100%;
                    font-weight: bold;
                    text-align:  left;
                    //min-height:  3rem;
                    //border:      #e30088 solid 3px;
                    margin:      0;
                  }

                  & p
                  {
                    //border:      #e30088 solid 3px;
                    margin-top:  8px;
                    text-align:  left;
                    font-weight: bolder;
                    color:       $neutral1-light-02;
                  }
                }
              }

              transition:       box-shadow 0.4s ease, background-color 0.4s ease;

              &:hover
              {
                box-shadow:       $shade-13-04 0.4rem 0.4rem 0.4rem, $shade-13-02 -0.1rem -0.1rem 0.2rem;
                background-color: $shade-12-00;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container
    {
      &.nds-dashboard-1
      {
        & .nds-content2
        {
          padding-left:  2rem;
          padding-right: 2rem;

          & nav.nds-box-menus
          {
            align-items: flex-start;

            & ul.nds-card-menu
            {
              //border: #4154c2 solid 3px;
              display:         flex;
              flex-flow:       row wrap;
              width:           100%;
              align-items:     stretch;
              justify-content: flex-start;

              & li.nds-card
              {
                flex-flow:   column wrap;
                align-items: center;
                width:       unset;
                min-width:   16rem;
                max-width:   16rem;
                width:       16rem;
                padding:     8px 8px 25px 8px;

                & a
                {
                  flex-flow:   column;
                  align-items: center;
                  height:      100%;
                  //padding: 0;
                  //margin: 0;
                  //min-height:  16rem;

                  & .nds-big-icon
                  {
                    //border: #f53158 solid 2px;
                    padding: 0;

                    & img
                    {
                      height: 100%;
                      width:  100%;
                    }
                  }

                  & info-group-inner-big
                  {
                    flex-flow:   column wrap;
                    align-items: center;
                    margin:      0;
                    padding:     1rem;
                    max-width:   15rem;

                    & p
                    {
                      text-align: center;
                    }

                  }

                  & .info-group-inner
                  {

                    flex-flow:   column wrap;
                    align-items: flex-start;
                    margin:      0;
                    padding:     1rem;
                    max-width:   15rem;
                    text-align:  left;

                    & header
                    {
                      text-align: left;
                    }

                    & p
                    {
                      text-align: left;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}
