/*********************************************************************
 * dash-in datasharing
 * 
 * Copyright (c) 2017-2020 dash-in team NEXS Copenhage University
 * 
 * Created 2020-07-12
 * 
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 * 
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 * 
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
*/

.nds-nav-header-container
{
  width:           100%;
  //border:     #7665ff solid 3px;
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: center;
  align-items:     center;

  max-width:       $content-width;
  align-self:      center;

  padding:         4px 16px 4px 4px;
  //& *
  //{
  //  border: #ff3fcf solid 1px;
  //}

}

@supports (display: grid)
{
  .nds-page-container
  {
    & .nds-nav-header
    {
      & *
      {
        //border: #c25977 solid 1px;
      }

      //border: #c25977 solid 4px;
      display:          flex;
      flex-flow:        column nowrap;
      justify-content:  center;
      //----------------------------------
      // align towards bottom
      //----------------------------------
      align-items:      flex-start;
      background-color: $neutral1-light-08;
      //box-shadow: $shade-13-03 0.1rem 0.1rem 0.5rem;
      padding:          0 0.2rem 0 0.2rem;
      
    }
  }
}
