/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{
  .nds-page-container
  {
    & .nds-header
    {
      //---------------------------------------------------------
      //drop-down profile menu
      //---------------------------------------------------------
      & .nds-dropdown-menu-container
      {
        
        * 
        {
          //border: #ff1b6f solid 1px;
        }
        //border: #ff1b6f solid 1px;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        height: 100%;
        z-index: 1000;

        cursor: pointer;
        padding-top: $mh-padding-top;

        //---------------------------------------------------------
        // front page login link
        //---------------------------------------------------------
        & > a
        {
          display: flex;
          flex-flow: row nowrap;
          //color: $primary-color-02;
          color: $primary-color-02;
          text-decoration: none;
          height: 100%;
          //font-weight: bold;
          & > .user-login
          {
            display: flex;
            flex-flow: column;
            line-height: 1;
            font-size: 90%;
            //background: linear-gradient(90deg, $shade-11-05, $shade-12-05);
            //background: linear-gradient(90deg, $shade-11-05, $shade-12-05);
            height: 100%;
            width: 10em;
            padding: 0rem 0.5rem;
            justify-content: center;
            //text-align: center;
            align-items: center;
            margin-top: 3px;
          }
        }

        & .nds-dropdown-menu
        {
          //border: #2f25ff solid 1px;
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: flex-end;
          padding-top: $mh-padding-top;
          width: 2rem;
          overflow: visible;

          & .nds-dropdown-menu-header
          {
            //border: #7665ff solid 3px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            
            margin-right: 0;
            //width: 100%;
            
            //padding: 0.2rem 0.5rem 0 0.5rem;
            //background-color: $shade-12-01;
            //background-color: white;
            //padding: 0.3rem;
            //border-radius: 50%;
            color: $shade-10-06;
            //height: 50px;
            //z-index: 2000;
            padding-bottom: $mh-padding-bottom;
            
            & div.nds-user-avatar
            {
              //border: #7665ff solid 1px;
              margin-top: -5px;
              margin-right: 5px;
              display: inherit;
              align-items: center;
              width: 1.8rem;
              //background-color: #a9c4ff;
              //border-radius: 50%;
              //padding: ;
              & img
              {
                width: 100%;
                margin: 0 auto;
              }
            }
            
            & .nds-icon-txt
            {
              //display: none;
              font-size: 80%;
            }

          }

          & .nds-dropdown-items-container
          {
            //border: #7665ff solid 3px;
            display: flex;
            flex-flow: column;
            justify-content: center;
            //width: 100%;
            width: 7rem;
            //box-shadow: #727272 0.4rem 0.4rem 1rem;
            background-color: $shade-12-01;
            //background-color: $shade-14-02;
            //background-color: transparent;
            //border: #ff2f8b solid 1px;
            border-radius: 0.5rem;

            & > a
            {
              display: block;
              overflow: hidden;
              //background-color: $shade-12-01;
              text-decoration: none;
              color: $shade-10-06;

              padding: 0 0.5rem;

              transition: 0.2s ease-in-out, background-color 0.2s ease-in-out, padding 0.2s ease-in-out;

              max-height: 0;
              line-height: 0;
              opacity: 0;
              
              &:first-of-type
              {
                border-radius: 0.5rem 0.5rem 0 0;
              }

              &:last-of-type
              {
                border-radius: 0 0 0.5rem 0.5rem;
              }

              &:hover
              {
                background-color: $shade-12-02;
              }
            }

            &:hover
            {
              //box-shadow: $shade-13-05 0.2rem 0.2rem 1rem;
              & a
              {
                max-height: 100%;
                line-height: 1.6;
                opacity: 1;
                //padding: 0.2rem 0.5rem;
                padding: 0 0.5rem 0.2rem 0.5rem;
              }
            }
          }

          & .nds-dropdown-menu-header
          {
            &:hover
            {
              & ~ .nds-dropdown-items-container
              {
                //box-shadow: $shade-13-05 0.2rem 0.2rem 1rem;
                & a
                {
                  max-height: 100%;
                  line-height: 1.6;
                  opacity: 1;
                  //padding: 0.2rem 0.5rem;
                  padding: 0 0.5rem 0.2rem 0.5rem;
                }
              }
            }
          }
        }
      }

    }
  }
}