/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{

  .nds-page-container.nds-front-page
  {
    & .nds-header
    {
      max-height:      128px;
      flex-flow:       row nowrap;
      justify-content: space-between;
      align-items:     center;
      //background-color: $primary-color-02;
      //border:          #5f73d9 solid 2px;
      //color: #fff!important;

      & .nds-other-links
      {
        display:         flex;
        flex-flow:       nowrap;
        padding-right:   4rem;
        //width: 20rem;
        justify-content: space-between;
        height: unset;

        //border:          #a01705 solid 2px;
      }

      & .nds-frontpage-logo-wrapper
      {
        display:   flex;
        flex-flow: row nowrap;
        width:     30rem;
        //border:    #121f10 solid 2px;

        & .nds-site-logo-container-light
        {
          background-color: transparent;
          height: unset;

          & .nds-site-logo-link
          {
            height: 64px;
            //border: #c61e9f solid 2px;
            & img
            {
              height: 100%;
            }
          }
        }
      }
    }

    & .nds-content2
    {
      overflow: visible;
    }

    //& .nds-content1
    //{
    //  //border: #6ec223 solid 5px;
    //  display: flex;
    //  flex-flow: row nowrap;
    //  justify-content: center;
    //  align-items: flex-start;
    //  padding-top: 0;
    //  & .nds-fp-img
    //  {
    //    //border: #6ec223 solid 5px;
    //    width: 100%;
    //    text-align: center;
    //
    //    & img
    //    {
    //      width: 50%;
    //      max-width: 30rem;
    //    }
    //  }
    //}

    & .nds-content2
    {
      //border: #c2276d solid 5px;
      display:         flex;
      flex-flow:       column;
      justify-content: flex-start;
      align-items:     center;
      //padding-top: 25rem;
      //position: absolute;
      top:             $nds-main-header-height;
      overflow-y:      scroll;

      & .nds-fp-img
      {
        //border: #6ec223 solid 5px;

        display:         flex;
        flex-flow:       column;
        flex:            1 0 auto;
        justify-content: flex-start;
        align-items:     center;

        width:           100%;
        //text-align: center;
        //top: 0;

        & img
        {
          width:     50%;
          max-width: 30rem;
        }
      }

      & .nds-fp-text-container
      {
        //border: #c23c3f solid 5px;

        display:         flex;
        flex-flow:       column;
        flex:            1 0 auto;
        justify-content: flex-start;
        align-items:     flex-start;

        width:           100%;
        padding:         0 2rem 2rem 2rem;

        & header
        {
          //border: #c26532 solid 5px;
          @extend h1;
          display:   flex;
          flex-flow: column;
          padding:   0 0 0.5rem 0;
        }

        & p
        {
          //border: #6ec223 solid 5px;
        }

        & ul
        {
          margin:     2rem 0 0 0;
          list-style: circle;

          & li
          {
            //font-size: 120%;
            margin: 0.2rem 0 0.2rem 2rem;
          }
        }

        &.nds-about
        {
          padding-top: 25rem;
        }
      }
    }
  }

  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container.nds-front-page
    {
      //& .nds-content1
      //{
      //  padding-top: 10rem;
      //}
      //border: #6ec223 solid 5px;

      & .nds-content2
      {
        padding-top:     $nds-main-header-height*2;
        flex-flow:       row nowrap;
        justify-content: center;
        align-items:     flex-start;

        & .nds-fp-img
        {
          width: 50%;
        }

        & .nds-fp-text-container
        {
          //border: #6ec223 solid 5px;
          width: 50%;
        }
      }
    }

  }
}

