/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{
  .nds-page-container
  {
    & .nds-content2
    {
      //--------------------------------------------------------------------------
      // set page header for dashboard-1 based pages
      //--------------------------------------------------------------------------
      & header
      {
        font-size:   150%;
        font-weight: bold;
        font-family: Poppins;
        margin:      1rem 0;
        //&:first-of-type
        //{
        //}
      }
    }
  }
}
