/*********************************************************************
 * dash-in datasharing
 * 
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 * 
 * Created 2019-12-03
 * 
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 * 
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 * 
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
*/

/****************************************************************
Comments:
*****************************************************************

nds-tab-container should be used for all NORMAL tabbed page heads
that is: one row, equally spaced centered text
  tab-row: justify-content: space-between
  tab: justify-content: center

nds-tab-container-aligned:
Pages with ultirow tabs, for now only one set of pages: studydesign
  display: table

nds-tab-container-xx?: for single-row toolbar-like rows (ie. select-buttons)
  display:flex, ?
 
xx?: information about current selected objects
  Spørg Susanne

*****************************************************************
 */
.nds-tab-container
{
  width:           100%;
  height:          100%;
  max-height:      50px;
  display:         flex;
  flex-flow:       column;
  justify-content: space-between;

  //max-width:       $content-width;
  align-self:      center;

  padding:         0;

  //border-bottom:   $neutral1-light-03 solid 4px;

  //border:          #7665ff solid 3px;

  & .nds-tab-container-inner
  {

    width:           100%;
    height:          100%;
    display:         flex;
    flex-flow:       column;
    justify-content: space-between;

    max-width:       $content-width;
    align-self:      center;

    padding:         0 4px 8px 8px;

    //border:          #128d20 solid 1px;

    // TODO: temporary fix for when a table inside a form-container needs to 100%
    &.wide
    {
      max-width: 100%;
    }

    &.nds-framed
    {
      border-top:    $shade-13-03 solid 0.1rem;
      border-bottom: $shade-13-03 solid 0.1rem;
    }

    & .nds-tabs-row
    {
      //display:         flex;
      //flex-flow: row nowrap;
      @extend .nds-row;
      //border:          #1bec11 solid 1px;
      justify-content: flex-start;

      &:first-of-type
      {
        margin-bottom: 1.5rem;
      }

      & .nds-tab
      {
        display:         flex;
        flex-flow:       row nowrap;
        flex:            0 1 auto;
        justify-content: flex-start;
        //padding:         0 8px;
        padding:         0 0 4px 0;
        margin-right:    16px;
        border:          transparent solid 0.1rem;

        //border: #f52f2c solid 1px;

        border-bottom:   transparent solid 5px;

        transition:      0.2s ease-in-out;

        &.current
        {
          //background-color: $primary-col-l3;
          //border:           $primary-col-d3 solid 0.1rem;
          border-bottom: #00acc1 solid 5px;

          & a
          {
            color:       #00acc1;
            font-weight: bold;
          }

          &:hover
          {
            //background-color: $primary-col-l2;
            cursor:        pointer;
            border-bottom: #00838f solid 5px;

            & a
            {
              color: #00838f;
            }
          }
        }

        &:hover
        {
          //background-color: $shade-14-01;
          cursor: pointer;

          & a
          {
            color: #263238;
          }
        }

        & a
        {
          transition:      color 0.2s ease-in-out;
          font-family:     "Poppins", sans-serif;
          font-size:       120%;
          color:           #78909c;
          display:         flex;
          flex:            1 1 auto;
          justify-content: center;
        }
      }
    }
  }
}

.nds-study-design
{
  & .nds-tab-container
  {
    //border:      #ce54e3 solid 2px;
    min-height:  16em;
    padding-top: 1em;

    & .nds-tab-aligned-study-design
    {
      width:         100%;
      //border:        #7665ff solid 3px;
      display:       table;
      table-layout:  fixed;
      //flex-flow:  column;
      max-width:     $content-width-studydesign;
      align-self:    center;
      margin-bottom: 1rem;

      & .nds-tabs-row-st
      {
        display:         table-row;
        //@extend .nds-row;
        //border:          #ff5a47 solid 1px;
        justify-content: flex-start;

        & a
        {
          display:          flex;
          flex:             1 1 auto;
          justify-content:  center;
          font-weight:      bold;
          color:            $neutral1-light-01;
          border-radius:    6px;
          background-color: $neutral1-light-05;
          //border:          #e30088 solid 0.1px;
          padding:          4px;

          &:hover
          {
            color: #263238;
          }
        }

        & .nds-studydesign-header
        {
          display:         flex;
          flex:            1 1 auto;
          justify-content: flex-start;
          padding:         0.2rem 0 0.2rem 12px;
          //border-bottom:   transparent solid 3px;
          font-weight:     bold;
          font-size:       100%;
          color:           $neutral1-dark-04;
        }

        & .nds-tab-header
        {
          display:         table-cell;
          flex-flow:       row nowrap;
          flex:            1 1 auto;
          justify-content: flex-start;
          padding:         0.2rem 0;
          //border: #e30088 solid 3px;
        }

        & .nds-tab
        {
          display:         table-cell;
          flex-flow:       row nowrap;
          flex:            1 1 auto;
          justify-content: center;
          padding:         4px 32px 4px 8px;
          //border:          transparent solid 0.1rem;
          //border:          #e30088 solid 2px;
          //border:          #e30088 solid 0.1px;


          transition:      background-color 0.2s;

          &.current
          {
            //background-color: $primary-col-l3;
            //border:           $primary-col-d3 solid 0.1rem;

            &:hover
            {
              cursor: pointer;
            }

            & a
            {
              //display:         flex;
              //flex:            1 1 auto;
              //justify-content: flex-start;
              //padding:         0.2rem 0 0.2rem 1rem;
              //border-bottom-color: #00acc1;
              color: #00acc1;

              &:hover
              {
                color: #007380;
              }
            }
          }
        }
      }
    }
  }
}

//.nds-form-container
//{
//  & .nds-tab-aligned
//  {
//    width:      100%;
//    //border: #7665ff solid 3px;
//    display:    table;
//    //flex-flow:  column;
//    max-width:  100%;
//    align-self: center;
//    margin-bottom: 1rem;
//
//    // TODO: temporary fix for when a table inside a form-container needs to 100%
//    &.wide
//    {
//      max-width: 100%;
//    }
//
//    &.nds-framed
//    {
//      border-top:    $shade-13-03 solid 0.1rem;
//      border-bottom: $shade-13-03 solid 0.1rem;
//    }
//
//    & .nds-tabs-row
//    {
//      display:         table-row;
//      //@extend .nds-row;
//      border:          #ff5a47 solid 1px;
//      justify-content: stretch;
//
//      & .nds-tab
//      {
//        display:         table-cell;
//        flex-flow:       row nowrap;
//        flex:            1 1 auto;
//        justify-content: center;
//        padding:         0 0.2rem;
//        border:          transparent solid 0.1rem;
//
//        //border-bottom:   transparent solid 5px;
//
//        transition:      background-color 0.2s;
//
//        &.current
//        {
//          background-color: $primary-col-l3;
//          //border:           $primary-col-d3 solid 0.1rem;
//
//          &:hover
//          {
//            background-color: $primary-col-l2;
//            cursor:           pointer;
//          }
//        }
//
//        &:hover
//        {
//          background-color: $shade-14-01;
//          cursor:           pointer;
//        }
//
//        & a
//        {
//          display:         flex;
//          flex:            1 1 auto;
//          justify-content: flex-start;
//        }
//      }
//    }
//  }
//}
//
//.nds-tab-container-aligned
//{
//  width:      100%;
//  //border: #7665ff solid 3px;
//  display:    table;
//  //flex-flow:  column;
//  max-width:  $content-width;
//  align-self: center;
//
//  // TODO: temporary fix for when a table inside a form-container needs to 100%
//  &.wide
//  {
//    max-width: 100%;
//  }
//
//  &.nds-framed
//  {
//    border-top:    $shade-13-03 solid 0.1rem;
//    border-bottom: $shade-13-03 solid 0.1rem;
//  }
//
//  & .nds-tabs-row
//  {
//    display:         table-row;
//    //@extend .nds-row;
//    border:          #ff5a47 solid 1px;
//    justify-content: stretch;
//
//    & .nds-tab
//    {
//      display:         table-cell;
//      flex-flow:       row nowrap;
//      flex:            1 1 auto;
//      justify-content: center;
//      padding:         0 0.2rem;
//      border:          transparent solid 0.1rem;
//
//      //border-bottom:   transparent solid 5px;
//
//      transition:      background-color 0.2s;
//
//      &.current
//      {
//        background-color: $primary-col-l3;
//        //border:           $primary-col-d3 solid 0.1rem;
//
//        &:hover
//        {
//          background-color: $primary-col-l2;
//          cursor:           pointer;
//        }
//      }
//
//      &:hover
//      {
//        background-color: $shade-14-01;
//        cursor:           pointer;
//      }
//
//      & a
//      {
//        display:         flex;
//        flex:            1 1 auto;
//        justify-content: flex-start;
//      }
//    }
//  }
//}
//
