/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

//button
//{
//  text-decoration: none;
//  border: none;
//  outline: transparent 0;
//  margin: 0;
//  appearance: none;
//
//  &:focus
//  {
//    //outline: none;
//  }
//
//  &::-moz-focus-inner
//  {
//    border: 0;
//  }
//
//}
.nds-btn-group
{
  display:   flex;
  flex-flow: row nowrap;
  //justify-content: flex-start;

  &.vertical
  {
    flex-flow: column;
  }
}

.nds-button-invisible
{
  display:         flex;
  flex-flow:       row;
  justify-content: center;
  background:      none;
  border:          none;
  appearance:      none;
  cursor:          pointer;
  margin:          0;

  &.stretch
  {
    width: 100%;
  }

  & .checkbox
  {
    fill: $primary1-center;
  }
}

.nds-button
{
  display:          flex;
  flex-flow:        row nowrap;
  justify-content:  center;
  align-items:      center;
  //word-break: keep-all;
  white-space:      nowrap;
  margin:           0;
  padding:          0 0.9rem;
  height:           2rem;
  height:           2rem;

  font-family:      "Poppins", sans-serif;
  font-size:        90%;
  text-align:       center;
  text-decoration:  none;
  cursor:           pointer;

  border:           $primary-color-01 solid 0.2rem;
  font-weight:      bold;

  background-color: $primary-color-01;
  color:            $btn-primary-fg;
  opacity:          0.8;

  border-radius:    0.2rem;

  transition:       background-color 0.2s ease-in-out, border 0.2s, opacity 0.2s ease-in-out;

  &.nds-alert
  {
    background-color: $secondary-color-01;
    border-color:     $secondary-color-01;
  }

  &.nds-notice
  {
    background-color: $shade-06-06;
    border-color:     $shade-06-06;
  }

  &.nds-filter
  {
    background-color: $accent1-dark-02;
    border-color:     $accent1-dark-02;
  }

  &.nds-info
  {
    background-color: $shade-11-02;
    border-color:     $primary-color-01;
    color:            $primary-color-02;
  }

  &.secondary
  {
    background-color: $shade-13-05;
    color:            $shade-13-01;
    border-color:     $shade-13-05;
  }

  &:hover
  {
    opacity: 0.95;
  }
  &.nds-big
  {
    padding: 1rem 2rem;
    font-size: 150%;
    height: 2.5rem;
    
  }
  &.nds-small
  {
    padding:   0 0.4rem;
    font-size: 75%;
    height:    1.5rem;
  }

  &.nds-tiny
  {
    padding:   0 0.4rem;
    font-size: 65%;
    height:    1.3rem;
  }

  &.nds-expanded
  {
    width: 100%;
  }

  &.nds-square
  {
    border-radius: unset;
  }

  &.nds-circle
  {
    border-radius: 50%;
  }

  &.no-color
  {
    background-color: transparent;
    border-color: transparent;
    color: #0a0a0a;
  }

  &.nds-hollow
  {
    background-color: transparent;
    border-color:     $primary-color-01;
    color:            $primary-color-01;

    &:hover
    {
      background-color: rgba(0, 0, 0, 0.02);
    }

    &.alert
    {
      border-color: $secondary-color-01;
      color:        $secondary-color-01;
    }

    &.nds-filter
    {
      border-color: #00acc1;
      color:        #00acc1;
    }

    &.secondary
    {
      background-color: $shade-13-01;
      border-color:     $shade-13-06;
      color:            $shade-13-06;
    }

  }

  &.nds-object-selected
  {
    @extend .nds-hollow;
  }

  &.nds-menu-btn
  {
    background-color: transparent;
    border-color:     $primary-color-01;
    color:            $primary-color-01;
    padding:          0.2rem 0.2rem;
    font-size:        75%;
    align-self:       flex-end;
    margin-top:       auto;
  }
}

.nds-button-bevel
{
  margin:          0;
  padding:         0.2rem 0.9rem;
  font-family:     Poppins, sans-serif bold;
  font-size:       90%;
  text-align:      center;
  text-decoration: none;

  color:           $btn-primary-fg;

  border-radius:   0.2rem;
  background:      linear-gradient($primary-color-01, $primary-color-01, $shade-12-05);
  opacity:         0.8;
  box-shadow:      0.1rem 0.1rem 0.1rem $btn-primary-border-color;
  border-right:    $btn-primary-border-color solid 0.1rem;
  border-bottom:   $btn-primary-border-color solid 0.1rem;

  cursor:          pointer;

  transition:      background-color 0.2s ease-in-out, border 0.2s, opacity 0.2s ease-in-out;

  &:hover
  {
    opacity: 0.95;
  }

  &:active
  {
    box-shadow:       none;
    background-color: $btn-primary-bg-hover;
  }

  &.nds-expanded
  {
    width: 100%;
  }
}

$nds-acbtn-size: 2rem;
.nds-actbtn2,
.nds-actbtn
{
  min-width:        $nds-acbtn-size;
  width:            $nds-acbtn-size;
  height:           $nds-acbtn-size;
  border-radius:    50%;
  border:           solid 6px;
  margin:           0 0.2rem;

  cursor:           pointer;

  border-color:     $shade-01-06;
  background-color: transparent;

  &.active
  {
    border-color:     $shade-04-06;
    background-color: $shade-04-05;

  }

  //background-color: #ff0000;
}

.nds-icon-button
{
  border:     none;
  //appearance: none;
  //background-color: transparent;
  transition: background 0.2s ease-out, opacity 0.2s;
  width:      1.5rem;
  height:     1.5rem;
  cursor:     pointer;

  &.update
  {
    background: url("/img/icons/update.svg");
    opacity:    0.3;

    &.all
    {
      opacity: 1;
    }

    &:hover
    {
      background-color: rgba(0, 183, 118, 0.44);
      background-size:  contain;
      opacity:          1;
    }
  }
}

//.nds-fi-button {
//  border: $shade-13-01 solid 0.1rem;
//  border-radius: 1rem;
//  width: 1rem;
//  height: 1rem;
//  background-color: $shade-12-04;
//  transition: background-color 0.2s;
//
//  &:hover {
//    background-color: $shade-12-06;
//  }
//
//  &.mark {
//    background-color: $shade-02-04;
//  }
//}
.nds-fi-button
{
  width:                 1.5rem;
  //height: 73px;
  background:            url("/img/icons/filter-down-icon.png") no-repeat;
  background-size:       contain;
  background-position-x: right;
  border:                none;
  text-align:            right;
  //justify-self: flex-end;
  //align-self: flex-end;
  cursor:                pointer;
  padding:               0.1rem;

  &.mark
  {
    background-image: url("/img/icons/filter-down-icon-green-bg.png");
    background-color: #00b776;
  }
}

.nds-button-transparent
{
  width:            100%;
  background-color: transparent;
  -moz-appearance:  none;
  border:           none;
  cursor:           pointer;
  text-align:       left;

  transition:       background-color 0.2s;

  &:hover
  {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

button
{
  &.nds-button-link
  {
    display:    flex;
    flex-flow:  row;
    appearance: none;
    border:     none;
    background: none;
    cursor:     pointer;
    width:      100%;
    text-align: left;

    &:hover
    {
      background-color: $primary1-light-03;
    }

    & .nds-button-link-txt
    {
      display:       flex;
      flex-flow:     column;
      padding:       0 0.2rem;
      border-bottom: $primary1-dark-03 solid 1px;
      width:         unset;
      color:         $primary1-dark-03;
    }
  }
  
  &.nds-details-toggle
  {
    display: flex;
    flex-flow: row nowrap;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    font-size: 120%;
    font-weight: bold;
  }
}
