/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

.nds-table-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;

  margin:    0 0.2rem;
}

.nds-table-searchbar
{
  //border:           #a62f1b solid 1px;
  display:          flex;
  flex-flow:        row nowrap;
  justify-content:  space-between;
  flex:             1 0 auto;
  align-items:      center;
  height:           24px;

  //position:         fixed;
  //top:              $nds-main-header-height;
  //margin:           0 0 0 $fixed-navbar-margin-left;
  //max-width:        75rem;
  //min-width:        100%;
  width:            100%;
  padding:          0;
  //background-color: #FFFFFF;


  & nav
  {
    //border: #a62f1b solid 1px;
    display:     flex;
    flex-flow:   row nowrap;
    flex:        0 1 auto;
    //justify-content: space-between;
    align-items: center;
    width:       100%;

    & .svg-nav-arrow
    {
      fill:       $neutral1-center;
      transition: 0.2s ease-in-out;

      &:hover
      {
        fill: $neutral1-dark-02;
      }
    }

    & ul
    {
      //border: #a62f1b solid 1px;
      display:         flex;
      flex-flow:       row nowrap;
      list-style:      none;
      justify-content: flex-start;
      align-items:     center;
      flex:            1 0 auto;
      padding:         0;

      &.nds-nav-double-row
      {
        //border: #a62f1b solid 1px;
        //border: $shade-13-05 solid 1px;
        margin: 4px 16px 4px 0;

        //& li
        //{
        //  &.pg-of-pgs
        //  {
        //    //display: flex;
        //    //flex-flow: row nowrap;
        //    white-space: nowrap;
        //    //border: #a62f1b solid 1px;
        //    margin:      0 auto 0 2rem;
        //  }
        //}
      }

      &.nds-nav-double-col
      {
        //border: #a147a6 solid 1px;
        //border:          $shade-13-05 solid 1px;
        //margin-left: auto;
        justify-content: flex-start;

        //& li
        //{
        //  &.pg-of-pgs
        //  {
        //    //border: #a62f1b solid 1px;
        //    white-space:  nowrap;
        //    margin-right: 2rem;
        //    //  html body div.nds-page-container div.nds-content div.nds-table-container div.nds-table-searchbar nav ul.nds-nav-double-row li.pg-of-pgs
        //  }
        //}
      }

      &.nds-nav-double-pgs
      {
        & .pg-of-pgs
        {
          border-bottom: $accent1-center solid 1px;
          margin:        0 4px;
        }
      }

      & li
      {
        //border: #a62f1b solid 1px;
        //display: flex;
        //flex-flow: column;
        //justify-content: center;
        margin: 0;

        & a
        {
          //border: #a62f1b solid 1px;
          display:         flex;
          flex-flow:       column;
          justify-content: center;

          padding:         0 0.5rem;
        }

        &.pg-of-pgs
        {
          //margin-left: auto;
          padding: 0 0.5rem;
        }
      }
    }

    & > .pg-of-pgs
    {
      display:      flex;
      flex-flow:    row nowrap;
      white-space:  nowrap;
      padding-left: 0.2rem;
    }
  }

  & .nds-search-form-wrapper
  {
    //border: #a62f1b solid 1px;
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: flex-end;
    align-items:     center;
    height:          100%;
    margin:          0;
    padding:         0;
    width:           100%;

    //& form
    //{
    //  height: 100%;
    //  width:  100%;

    & .nds-fieldset
    {
      display:   flex;
      flex-flow: row nowrap;
      align-items: center;
      height:    100%;
      padding:   0;
      margin:    0;

      & input
      {
        height: 100%;
        width:  100%;
        margin: 0;
        border: $shade-13-03 solid 0.1rem;

      }

      & .nds-reset-link
      {
        display:     none;
        width:       16px;
        margin-left: -16px;
        transition:  0.2s ease-in-out;

        &.term-present
        {
          display:         flex;
          justify-content: center;
          align-items:     center;

          color:           #7a7a7a;

          &:hover
          {
            color:            #1b1b1b;
            background-color: #e6e6e6;
          }
        }
      }
    }

    //}
  }
}


@media only screen and (min-width: $media-wide-width)
{
  .nds-table-container
  {
    display:   flex;
    flex-flow: column;
    width:     100%;

    //border: #f52f2a solid 3px;
    border:    transparent solid 1px;
    margin:    0 0.2rem;
  }

  .nds-table-searchbar
  {
    display:   flex;
    flex-flow: row nowrap;
    //width:         unset;
    //margin-bottom: 1.5rem;

    & nav
    {
      width: unset;
    }

    & .nds-search-form-wrapper
    {
      //border: #a62f1b solid 1px;
      width: unset;

      //& form
      //{
      //  width: unset;

      //& .nds-fieldset
      //{
      //  & input
      //  {
      //    width: unset;
      //    //border: #a62f1b solid 1px;
      //  }
      //
      //  & a.nds-reset-link
      //  {
      //    display:     none;
      //    width:       16px;
      //    margin-left: -16px;
      //    transition:  0.2s ease-in-out;
      //
      //    &.term-present
      //    {
      //      display:         flex;
      //      justify-content: center;
      //      align-items:     center;
      //
      //      color:           #7a7a7a;
      //
      //      &:hover
      //      {
      //        color:            #1b1b1b;
      //        background-color: #e6e6e6;
      //      }
      //    }
      //  }
      //}
      //}
    }
  }
}
