/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

.nds-form-container
{
  & .nds-tabs-row
  {
    @extend .nds-row;
    //border: #ff5a47 solid 1px;
    justify-content: stretch;

    & .nds-tab
    {
      display:         flex;
      flex-flow:       row nowrap;
      flex:            1 1 auto;
      justify-content: center;

      border-bottom:   transparent solid 5px;

      transition:      background-color 0.2s;

      &:hover
      {
        background-color: $shade-14-01;
      }

      &.current
      {
        border-bottom-color: #0B91EA;
      }

      & a
      {
        width:      100%;
        text-align: center;


      }
    }
  }
}

