/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */
td:empty::after
{
  content: "\00a0";
}

.nds-table-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;

  margin:    0 0.2rem;

  & .nds1-table
  {
    display:         table;
    table-layout:    fixed;
    width:           100%;
    border-collapse: collapse;


    & .nds2-thead
    {
      width:   100%;
      display: table-header-group;

      & .nds2-tr
      {
        display: table-row;
        width:   100%;

        & .nds2-td-group
        {
          display: table-cell;

          & .nds2-td-group-content
          {
            display:   flex;
            flex-flow: row nowrap;

            & .nds2-th
            {
              display:          flex;
              flex-flow:        row nowrap;
              justify-content:  center;
              font-weight:      bold;
              width:            100%;
              margin:           0.2rem 0;
              padding:          0.2rem;
              border-bottom:    #f2f8ff solid 0.2rem;
              background-color: #f7f7f9;
              color:            #9b9b9b;
            }
          }
        }
      }
    }


    & .nds2-tbody
    {
      width:   100%;
      display: table-row-group;

      & .nds2-tr
      {
        display: table-row;
        width:   100%;

        & .nds2-td-group
        {
          display:        table-cell;
          //width:   100%;
          //border:  #000000 solid 1px;
          padding:        0;
          vertical-align: top;

          & .nds2-td-group-content
          {
            display:   flex;
            flex-flow: row nowrap;

            & .nds2-td
            {
              display:       flex;
              flex:          1 1 auto;
              width:         100%;
              margin:        0.2rem;
              padding:       0.2rem;
              border-bottom: #f2f8ff solid 0.2rem;

              & .nds2-td-content
              {
                display: flex;
                width:   100%;
              }

              & .nds2-td-label
              {
                display: none;
              }
            }
          }
        }
      }
    }
  }

}

.nds-table-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;

  margin:    0 0.2rem;

  & .nds2-table
  {
    //border: #df4445 solid 5px;
    display:         flex;
    flex-flow:       column;
    width:           100%;
    border-collapse: collapse;


    & .nds2-thead
    {
      display: none;
    }


    & .nds2-tbody
    {
      width:     100%;
      display:   flex;
      flex-flow: column;

      & .nds2-tr
      {
        display:       flex;
        flex-flow:     column;
        width:         100%; //700px
        border:        #f2f8ff solid 0.2rem;
        box-shadow:    $tbl-tr-box-shadow;
        border-radius: 0.5rem;
        padding:       4rem;
        margin-bottom: 1rem;
        transition:    background-color 0.3s ease-in-out;

        &:hover
        {
          background-color: #fcfdff;
        }

        & .nds2-td-group
        {
          display:   flex;
          flex-flow: column;
          //padding: 0;
          //vertical-align: top;

          & .nds2-td-group-content
          {
            display:         flex;
            flex-flow:       row nowrap;
            justify-content: space-evenly;

            & .nds2-td
            {
              display:       flex;
              flex-flow:     column;
              align-items:   flex-start;
              flex:          1 1 auto;
              width:         100%;
              margin:        0.2rem;
              padding:       0.2rem;
              border-bottom: #f2f8ff solid 0.2rem;

              & .nds2-td-content
              {
                display:   flex;
                flex-flow: row nowrap;
                width:     100%;

                &.nds2-td-title
                {
                  font-weight: bold;
                  color:       #0b91ea;
                  font-size:   120%;
                }
              }

              & .nds2-td-label
              {
                display:       flex;
                flex-flow:     row nowrap;
                width:         100%;
                font-weight:   normal;
                margin-bottom: 1rem;
                font-size:     120%;
                color:         #a0a0a0;
              }
            }
          }
        }
      }
    }

    // TODO: Make generic later
    // used in app/views/products/dat03/owner/study/list.volt
    & .nds2-button-effect
    {
      background:    none;
      color:         #1562bf;
      font-weight:   bold;
      border:        none;
      cursor:        pointer;
      transition:    background-color 0.2s, box-shadow 0.2s;
      border-radius: 1rem;

      & > img
      {
        height: 1.5rem;
        width:  1.5rem;
      }

      &:hover
      {
        background-color: #eaeaea;
        box-shadow:       #a6a6a6 1px 1px 5px;
      }
    }
  }

}


.nds-table-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;

  margin:    0 0.2rem;

  //border: #a62f1b solid 1px;

  & table
  {
    width: 100%;

    & td,
    & th
    {
      border:   #bbc0c5 solid 1px;
      overflow: hidden;

      &.nds-td-hide
      {
        display: none;
      }
    }

    &.nds-data-table
    {
      & tr
      {
        & td
        {
          & select
          {
            max-width: 100%;
          }

          overflow-x: hidden;
          // prevent empty cells from collapsing to zero-height
          &:before
          {
            //content: "\00a0";
          }
        }

        // mark cells in tr.active
        &.active
        {
          & td
          {
            background-color: $shade-06-02;
          }
        }
      }
    }
  }

  td
  {
    transition: display 2s;
  }

  td:focus,
  td:focus ~ td
  {
    display: table-cell;
  }

  tr:focus
  {
    & td
    {
      display: table-cell;
    }
  }
}

@media only screen and (min-width: $media-wide-width)
{

  .nds-table-container
  {
    display:   flex;
    flex-flow: column;
    width:     100%;

    margin:    0 0.2rem;

    //border: #a62f1b solid 1px;

    &.nds-halfwidth-left
    {
      max-width:  50%;
      align-self: flex-start;
    }

    & table
    {
      table-layout:     fixed;
      border-collapse:  collapse;
      //border-spacing: 0.2rem;
      width:            100%;
      border:           none;
      background-color: transparent;
      margin:           0;

      & td,
      & th
      {
        &.nds-td-hide
        {
          display: table-cell;
        }
        & .nds-button
        {
          margin-right: 2px;
        }
      }

      & tr
      {
        //background-color: #5ac84a;
        & td
        {
          padding:          0.5rem;
          vertical-align:   middle;
          margin:           0;
          height:           2em;
          box-shadow:       0.2rem 0 0 $tbl-row-border-color;
          border-bottom:    $tbl-row-border-color solid 0.2rem;
          background-color: white;

          transition:       background-color 0.12s ease-in-out;
          overflow-x:       hidden;

          & .button
          {
            font-weight:   bold;
            border-radius: 0;
            padding:       0.2rem;
            margin:        0;

            &.alert
            {
              color: #fff;

              &:hover
              {
                color: #fff;
              }
            }
          }
        }
      }

      & thead
      {
        & tr
        {
          & th
          {
            //background-color: $tbl-header-bg;
            background-color: $shade-13-00;
            color:            $tbl-header-fg;
            box-shadow:       $tbl-th-box-shadow;
            padding:          0.5rem 0;
            font-size:        80%;
            margin-bottom:    0.5rem;
            color:            $shade-13-04;

            &:first-of-type
            {
              box-shadow: $tbl-th-box-shadow, $tbl-th-left-border-fix;
            }
          }
        }
      }

      & tbody
      {
        & tr
        {
          &:hover
          {
            & td
            {
              background-color: $shade-13-02;
            }
          }
        }

      }

      &.nds-data-table
      {
        & tbody
        {
          & tr
          {
            & td
            {
              padding:    0 0.2rem;
              height:     auto;
              overflow-x: hidden;
            }
          }
        }
      }
    }

  }
}
