/*********************************************************************
 * Kd Questionnaire System
 * Copyright (c) 2019-2020 Kd Lab team
 * Created 2020-08-14
 * This file is part of the 'Kd Questionnaire System'.
 * Author: Finn Sandø <fs@3q.dk>
 *********************************************************************
 */

//----------------------------------------------------------
// must follow .nds-content2-inner
//----------------------------------------------------------
//----------------------------------------------------------
// OBS: study-design page uses
// nds-content2-inner > nds-toolbar
//----------------------------------------------------------
.nds-content2-inner,
.nds-nav-header
{
  & .nds-toolbar
  {
    @extend .nds-row;
    justify-content: flex-start;
    align-self:      center;
    height:          100%;
    padding:         0.2rem 0.5rem;
    margin: 0 0 1em 0;
    width:           100%;
    max-width:       $content-width;
    //border:          #a60303 solid 1px;
    & button
    {
      margin-right: 0.2rem;
    }
  }
}

//----------------------------------------------------------
// for reference:
//----------------------------------------------------------
//.nds-content2-inner
//{
//  //border:     #e00b24 solid 4px;
//  display:    flex;
//  align-self: center;
//  flex-flow:  column;
//  max-width:  $content-width;
//  width: 100%;
//  padding:    0.2rem 0.5rem 20rem 0.5rem;
//}