/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

//--------------------------------------------------------------------------
// define table-like layout on view pages
// used on dat03/owner/import/view_dataset
//--------------------------------------------------------------------------
.nds-view-container
{
  width:      100%;
  //border: #7665ff solid 3px;
  display:    flex;
  flex-flow:  column;
  max-width:  $content-width;
  align-self: center;

  &.view-study
  {
    & .nds-view-block
    {
      display:         flex;
      flex-flow:       column;
      justify-content: space-between;
      //background-color: $shade-13-01;
      margin-bottom:   0.2rem;
      padding:         0.1rem 0.5rem;

      & .nds-view-header
      {
        font-family:  Poppins;
        font-weight:  bold;
        margin-right: 2rem;
        color:        $text-dark-05;
      }

      & .nds-view-value
      {

        &.nds-view-text
        {
          font-size:   12pt;
          line-height: 1.6;
        }

        &.nds-study-id
        {
          color: $accent1-dark-01;
        }

        &.nds-study-name
        {
          color:       $primary-col-00;
          font-size:   20pt;
          font-weight: 900;
        }

        &.nds-study-title
        {
          color:       $text-dark-05;
          font-size:   20pt;
          font-weight: 900;
        }

        &.nds-study-description-header
        {
          //border:           #e30088 solid 1px;
          color:            $primary2-center;
          background-color: $primary2-light-04;
          //font-size:   20pt;
          font-weight:      900;
          padding:          4px 8px;
          margin:           16px 0 8px 0;
          border-radius:    4px;
        }
      }
    }
  }

  &.view-dataset
  {
    //border: #ff2c7a solid 3px;
    & .nds-view-block
    {
      display:          flex;
      flex-flow:        column;
      justify-content:  space-between;
      background-color: $shade-13-01;
      margin-bottom:    0.2rem;
      padding:          0.1rem 0.5rem;

      & *
      {
        //border: #ff2c7a solid 1px;
      }

      & .nds-view-header
      {
        font-family:  Poppins;
        font-weight:  bold;
        margin-right: 2rem;
      }

      & .nds-view-value
      {
      }

      &.mark
      {
        background: $shade-01-02;
      }
    }
  }
}

@media only screen and (min-width: $media-wide-width)
{
  .nds-view-container
  {

    &.view-study
    {
      & .nds-view-block
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: inherit;
        align-items:     inherit;

        justify-content: space-between;
        margin-bottom:   0.2rem;
        padding:         0.1rem 0.5rem;

        //background-color: $shade-13-01;

        & .nds-view-header
        {
          font-family:  Poppins;
          font-weight:  bold;
          margin-right: 2rem;
        }

        & .nds-view-value
        {
          &.nds-study-id
          {
            color: $accent1-dark-01;
          }

          &.nds-study-name
          {
            color:       $primary-col-00;
            font-size:   20pt;
            font-weight: 900;
          }

          &.nds-study-name
          {
            color:       $primary-col-00;
            font-size:   20pt;
            font-weight: 900;
          }
        }
      }
    }


    &.view-dataset
    {
      //border: #862fff solid 3px;
      & .nds-view-block
      {
        // nds-row
        display:          flex;
        flex-flow:        row nowrap;
        justify-content:  inherit;
        align-items:      inherit;

        justify-content:  space-between;
        background-color: $shade-13-01;
        margin-bottom:    0.2rem;

        & *
        {
          //border: #ff2c7a solid 1px;
        }

        & .nds-view-header
        {
          font-family:  Poppins;
          font-weight:  bold;
          margin-right: 2rem;
        }

      }
    }

  }
  .nds-presentation-container
  {
    width:          100%;
    display:        table;
    border-spacing: 0 20px;

    & .nds-view-block
    {
      display:    table-row;

      & .nds-view-header
      {
        display:     table-cell;
        padding:     0 8px;
        width: 20%;
      }

      & .nds-view-value
      {
        display:     table-cell;
        line-height: 1.6;
        padding:     0 8px 4px 0;

      }
    }
  }
}

//--------------------------------------------------------------------------
