/*********************************************************************
 * dash-in datasharing
 * 
 * Copyright (c) 2017-2020 dash-in team NEXS Copenhage University
 * 
 * Created 2020-01-23
 * 
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 * 
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 * 
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
*/
.nds-card-container
{
  display: flex;
  flex-flow: column;
  width: 100%;

  & .nds-card
  {
    display:       flex;
    flex-flow:     column;
    width:         100%; //700px
    border:        #f2f8ff solid 0.2rem;
    background-color: #ffffff;
    box-shadow:    $tbl-tr-box-shadow;
    border-radius: 0.5rem;
    padding:       4rem;
    margin-bottom: 1rem;
    transition:    background-color 0.3s ease-in-out;

    &:hover
    {
      background-color: #fcfdff;
    }

    &.nds-card-warning
    {
      border:           #ff0d32 solid 1rem;
      background-color: #ffdfde;
    }

    & .nds-card-section
    {
      & .nds-card-tabs-row
      {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        & .nds-tab
        {
          display:         flex;
          flex-flow:       row nowrap;
          flex:            0 1 auto;
          justify-content: flex-start;
          //padding:         0 8px;
          padding:         0 0 4px 0;
          margin-right:    16px;
          border:          transparent solid 0.1rem;

          //border: #f52f2c solid 1px;

          border-bottom:   transparent solid 5px;

          transition:      0.2s ease-in-out;

          &.current
          {
            //background-color: $primary-col-l3;
            //border:           $primary-col-d3 solid 0.1rem;
            border-bottom: #00acc1 solid 5px;

            & a
            {
              color:       #00acc1;
              font-weight: bold;
            }

            &:hover
            {
              //background-color: $primary-col-l2;
              cursor:        pointer;
              border-bottom: #00838f solid 5px;

              & a
              {
                color: #00838f;
              }
            }
          }

          &:hover
          {
            //background-color: $shade-14-01;
            cursor: pointer;

            & a
            {
              color: #263238;
            }
          }

          & a
          {
            transition:      color 0.2s ease-in-out;
            font-family:     "Poppins", sans-serif;
            font-size:       120%;
            color:           #78909c;
            display:         flex;
            flex:            1 1 auto;
            justify-content: center;
          }
        }
      }
    }
    
    & .nds-card-level-2
    {
      display:       flex;
      flex-flow:     column;
      width:         100%;
      border:        #f2f8ff solid 0.2rem;
      box-shadow:    $tbl-tr-box-shadow-secondary;
      border-radius: 0.5rem;
      padding:       1rem;
      margin-bottom: 0.2rem;
      transition:    background-color 0.2s ease-in-out;
      &:hover
      {
        background-color: #ffffff;
      }
    }
    
    & .nds-card-level-3
    {
      display:       flex;
      flex-flow:     column;
      width:         100%;
      border:        #f2f8ff solid 0.2rem;
      //box-shadow:    $tbl-tr-box-shadow-secondary;
      border-radius: 0.5rem;
      padding:       0.2rem;
      margin-bottom: 0.2rem;
      transition:    background-color 0.2s ease-in-out;
      &:hover
      {
        background-color: #ffffff;
      }
    }
    
    & .nds-view-label
    {
      display:       flex;
      flex-flow:     row nowrap;
      width:         100%;
      font-weight:   normal;
      margin-bottom: 1rem;
      font-size:     120%;
      color:         $shade-13-04;
    }

    & .nds-view-header
    {
      font-weight: bold;
      color:       $primary-col-00;
      font-size:   120%;
    }

    & .nds-view-content
    {
      //  blank
    }

    & .nds-view-row
    {
      @extend .nds-row;
      justify-content: space-between;
      border-bottom: #f2f8ff solid 0.2rem;
      
      &.mark
      {
        background-color: $shade-01-01;
      }
    }

    & .nds-view-row-header
    {
      @extend .nds-row;
      justify-content: space-between;
      
      &.mark
      {
        background-color: $shade-01-01;
      }
    }

    & .nds-view-column
    {
      @extend .nds-column;
      border-bottom: #f2f8ff solid 0.2rem;
    }

    & .nds-view-column-header
    {
      @extend .nds-column;
      font-weight: bold;
      font-size: 120%;
    }

    & .nds-card-button-row
    {
      @extend .nds-row;
      padding-top:     1rem;
      width:           100%;
      justify-content: flex-end;

      & button
      {
        //border: #f52c4e solid 1px;
      }
    }

    & .nds-card-img-button
    {
      display: flex;
      background:  none;
      color:       #1562bf;
      font-weight: bold;
      border:      none;
      cursor:      pointer;
      transition:  background-color 0.2s, box-shadow 0.2s;
      //border-radius: 1rem;

      & > img
      {
        //height: 1.2rem;
        //width:  1.2rem;
      }

      &:hover
      {
        background-color: $shade-13-02;
        //box-shadow:       #a6a6a6 1px 1px 2px;
      }
    }

  }
}