/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@keyframes spinner
{
  to
  {
    transform: rotate(360deg);
  }
}


.has-spinner
{
  & ~ .spinner-container
  {
    display:          flex;
    flex-flow:        row nowrap;
    flex:             0 1 auto;
    justify-content:  center;

    // move the spinner to the right of the button
    // remove space at the container's original positioun (margin-left: -3rem)
    position:         relative;
    width:            3rem;
    margin-left:      -3rem;
    left:             -350px;

    transition:       left 1s ease-in-out;
    min-height:       100%;
    padding:          0;

    background-color: transparent;
    //border:           #c713b1 solid 3px;
  }

  &:focus ~ .spinner-container,
  &:active ~ .spinner-container
  {
    //border: #f563dc 1px solid;
    left: -60px;

    & .spinner
    {

      width:               1.5rem;
      height:              1.5rem;

      border-radius:       50%;
      border:              5px solid transparent;
      border-top-color:    #07d;
      border-bottom-color: #07d;
      animation:           spinner .8s ease infinite;
    }
  }
}

.nds-form-container
{
  width:      100%;
  //border: #7665ff solid 3px;
  display:    flex;
  flex-flow:  column;
  max-width:  $content-width;
  align-self: center;
  
  & label
  {
    font-weight: bold;
    font-size: 120%;
  }

  & textarea,
  & select,
  & input[type="submit"],
  & input[type="file"],
  & input[type="number"],
  & input[type="date"],
  & input[type="text"]
  {
    appearance:       none;
    border:           none;
    padding:          0 4px;
    margin:           8px 0 20px 0;
    font-size:        100%;
    font-family:      Poppins, sans-serif;
    background-color: $shade-13-01;

    border-radius:    0.2rem;
    transition:       background-color 0.2s ease-in-out;
    
    &:hover
    {
      background-color: darken($shade-13-01, 3%);
    }

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder,
    &::placeholder,
    &:placeholder-shown
    {
      color: $shade-13-04;
    }

    &.nds-expanded
    {
      width: inherit;
    }

  }

  & input[type="number"],
  & input[type="text"]
  {
    min-height: 16px;
  }

  & textarea
  {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    min-height: 128px;
    padding: 4px;
    
  }

  & label
  {
    font-family: Poppins, sans-serif bold;
  }

  &.upload-dataset
  {
    & #header
    {
      //border: #de0808 solid 1px;
    }
  }

  & select
  {
    padding:          0;
    margin:           0;
    //font-size: 100%;
    //border: none;
    background-color: rgba(255, 255, 255, 0.51);
    border:           $shade-13-02 solid 1px;
    cursor:           pointer;

    & option
    {
      //  padding: 0;
      //  border: none;
      //  background-color: #7a54ff;
      //  -webkit-appearance: none!important;
      //  -moz-appearance: none!important;
      appearance: none;
    }

    //-webkit-appearance: none!important;
    //-moz-appearance: none!important;
    //appearance: none;
  }

  & .nds-fieldset
  {
    & input[type="checkbox"]
    {
      width:       10px !important;
      margin-left: 30px;
    }

    &.nds-error,
    & .nds-error
    {
      border: $shade-01-05 solid 0.2rem;
    }
  }

  // button group
  & .nds-btn-group
  {
    //border: #aa0019 solid 1px;
    & .nds-button
    {
      margin: 0 0.4rem 2px 0;

      &:last-child
      {
        margin-right: 0;
      }
    }
  }

  & .nds-fieldset
  {
    width: 100%;

    & .nds-messages
    {
      background-color: $shade-01-06;
      color:            #fff;
      font-weight:      bold;
      padding:          0 0 0.1rem 0.2rem;
    }

    //------------------------------------------
    // default form properties
    //------------------------------------------
    & textarea,
    & input
    {
      width:  100%;
      border: $shade-13-05 solid 1px;
    }

    //------------------------------------------
    // checkmulti (non-qst)
    //------------------------------------------
    & .checkmulti.cl-roles2
    {
      & .field
      {
        & input[type="checkbox"]
        {
          position: absolute;
          left:     -9999999px;

          &:checked ~ label
          {
            & .label-text
            {
              background-color: #8eff60;
            }
          }
        }

        & label
        {
          & .label-text
          {
            border: #bdbdbd solid 0.1rem;
          }
        }

      }
    }

  }

  // TODO: temporary fix for when a table inside a form-container needs to 100%
  &.wide
  {
    max-width: 100%;
  }
}

.checkmulti.cl-roles
{
  //border:  #e81220 solid 0.1rem;
  display: flex;

  & .field-group
  {
    //border:    #63e612 solid 0.1rem;
    display:   flex;
    flex-flow: column;
    width:     100%;

    & .field
    {
      display:   flex;
      flex-flow: row;
      //width:     100%;
      //border:    #5c12e6 solid 0.1rem;
      padding:   0;

      & label
      {
        width:            100%;
        display:          flex;
        cursor:           pointer;
        background-color: #f5f5f5;
        transition:       background-color 0.2s;

        & .labdecor
        {
          display:          flex;
          cursor:           pointer;
          background-color: #b65050;
          transition:       background-color 0.2s;

          border-radius:    1.5rem;
          margin:           0.1rem 0;
          width:            1.5rem;
          height:           1.5rem;

        }

        &:hover
        {
          background-color: #ffffff;

          & .labdecor
          {
            background-color: #f58181;
          }
        }
      }

      & input
      {
        position: relative;
        left:     -1000px;
        margin:   0 0 0 -1rem;

        &:checked ~ label
        {
          & .labdecor
          {
            //background-color: #bcf5b7;
            background: url("img/done-24px.svg") no-repeat #bcf5b7;
          }

          &:hover
          {
            & .labdecor
            {
              background-color: #e1ffdd;
            }
          }
        }
      }

      & .label-text
      {
        margin-left: 0.5rem;
        //border:       #bd359e solid 2px;
        //display:      inline-flex;
        //padding-left: 2rem;
        //width:        30rem;
        //min-width:    30rem;
      }
    }
  }
}

.sg-container
{
  display:   flex;
  flex-flow: row nowrap;

  & .sg-item
  {
    display:         flex;

    justify-content: flex-start;
    padding:         0.2rem 0.2rem 0.2rem 0.2rem;
    margin:          0 0.4rem 0 0;
    font-weight:     bold;
    border:          #9c9c9c solid 0.1em;
    border-radius:   0.2rem;
    //background: #ad0e8b;
    //color: #ffffff;
  }
}

.se-container
{
  display:   flex;
  flex-flow: row nowrap;

  & .se-item
  {
    display:         flex;

    justify-content: flex-start;
    padding:         0.2rem 0.2rem 0.2rem 0.2rem;
    margin:          0 0.4rem 0 0;
    font-weight:     bold;
    border:          #9c9c9c solid 0.1em;
    border-radius:   0.2rem;
    //background: #ad0e8b;
    //color: #ffffff;
  }
}
