/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

//html
// body
// div.nds-page-container.nds-dashboard-1
// div.nds-content2
// form.nds
// div.nds-table-container
// div.nds-row
// div.nds-column
// div
// div.nds-column
// select#dt_all

//html
// body
// div.nds-page-container.nds-dashboard-1
// div.nds-content2
// form.nds
// div.nds-table-container
// div.nds-row
// div.nds-column
// table.nds-data-table
// tbody
// tr
// td.format-c
// select
//----------------------------------
//html body div.nds-page-container.nds-dashboard-1 div.nds-content2
// form.nds div.nds-table-container
// div.nds-row div.nds-column
// table.nds-data-table
// tbody
// tr
// td.format-c select
.nds
{
  //border: #00f58d solid 3px;
  & select
  {
    border:              $shade-13-04 solid 1px;

    &::-ms-expand
    {
      display: none;
    }

    //---------------------------------------------------------
    // style FF to look like chrome:
    // appearance:
    // FF:     does not remove all padding
    // chrome: removes all padding
    //---------------------------------------------------------
    //appearance: none;
    -moz-appearance:     none;

    min-width:           10rem;
    padding:             0rem 2rem 0.2rem 0;
    margin:              0;
    line-height:         1.4;
    border-radius:       0.2rem;
    text-transform:      none;

    background-image:    url("/img/triangle-down.svg");
    background-repeat:   no-repeat;
    background-size:     18px 12px;
    background-position: center right;
    background-color:    $shade-13-01;

    & option
    {
      border: #ff5a47 solid 1px;
    }

    &[data-changed="changed"]
    {
      background-color: $shade-06-03;
    }
  }

  & input
  {
    width: 100%;
    //line-height: 1.5;
  }

  // TODO: delete this
  //.nds-table-container {
  //  //border: #a62f1b solid 1px;
  //  & table.nds-data-table {
  //    & tbody {
  //      & tr {
  //        & th {
  //        }
  //
  //        & td {
  //        }
  //
  //        &.nds-data-table {
  //          & tr {
  //            & td {
  //            }
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
}

//html body div.nds-page-container.nds-dashboard-1 div.nds-content2 form.nds div.nds-table-container div.nds-row div.nds-column table.nds-data-table
//html body div.nds-page-container.nds-dashboard-1 div.nds-content2 form.nds div.nds-table-container div.nds-row div.nds-column table.nds-data-table thead tr td.format-c input#varname