/*********************************************************************
 * Kd Questionnaire System
 * Copyright (c) 2019-2020 Kd Lab team
 * Created 2020-08-11
 * This file is part of the 'Kd Questionnaire System'.
 * Author: Finn Sandø <fs@3q.dk>
 *********************************************************************
 */
.nds-menu-entry
{
  display:     flex;
  flex-flow:   row nowrap;
  align-items: center;

  & svg
  {
    //border: #a60303 solid 1px;
    fill: white;
    margin-right: 0.4rem;
  }
}
