/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

.td-unit
{
  & > select
  {
    width:     2rem;
    max-width: 5rem !important;
    min-width: 5rem !important;
  }
}

details
{
  display: flex;

  & summary
  {
    flex-flow:   row nowrap;
    align-items: center;
    font-size:   120%;
    font-weight: bold;
    margin:      0.4rem 0;
    cursor:      pointer;

    &::marker,
    &::-webkit-details-marker
    {
      font-size: 120%;
    }

    &.header
    {
      font-size:   150%;
      font-weight: bold;
      //&::marker,
      //&::-webkit-details-marker
      //{
      //  font-size: 150%;
      //}

    }
  }

  & input[type="text"]
  {
    height: 3rem;
  }
}

.tabbed-view-container
{
  display:   flex;
  flex-flow: row;

  & .details
  {
    display:   none;
    position: absolute;
    left: -90000px;
    flex-flow: column;
  }


  & .tabbed-view-toggle
  {
    position: absolute;
    left:     -90000px;

    &:checked ~ .details
    {
      display: flex;
      flex-flow: column;
      position: unset;
      left: 0;
    }
  }

  & .nds-card-tabbed-view-menu
  {
    display:         flex;
    flex-flow:       column;
    justify-content: flex-start;

    & label
    {
      display:         flex;
      flex-flow:       row nowrap;
      width:           108px;
      justify-content: center;
      border:          #ff4fea solid 1px;

      &:focus
      {
        background-color: #dbdbdb;
      }
    }

  }
}
