/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@import "nds03/00/reset";
@import "nds03/00/nds-colors";
@import "nds03/00/nds-colors2";
@import "nds03/00/nds-utils";
@import "nds03/00/fontface";
@import "nds03/00/global";
@import "nds03/00-03/settings";

@import "nds03/00main-index";

.studyrowset-outer-row
{
  display:    flex;
  flex-flow:  row nowrap;
  height:     100%;
  min-height: 100px;
  width:      100%;

  border:     #d41733 solid 1px;


  & .studyrowset-pane
  {
    display:   flex;
    flex-flow: column;
    width:     100%;

    border:    #d41733 solid 1px;

    &.left-pane
    {
      max-width: 200px;
    }

    & .studyrowset-pane-header
    {
      display:     flex;
      flex-flow:   row nowrap;
      justify-content: center;

      font-size:   120%;
      font-weight: bold;
    }

    & .studyrowset-pane-row
    {
      display:     flex;
      flex-flow:   row nowrap;

      & button
      {
        display: flex;
        width: 100%;
      }
    }
  }
}