/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid) 
{
  .nds-page-container
  {
    display: grid;
    grid-gap: 0;

    padding: 0;
    height: 100%;

    grid-template-columns: 0 repeat(11,1fr);
    grid-template-rows: $nds-main-header-height $nds-nav-header-height 1fr 4rem;
    grid-template-areas:
            "m h h h h h h h h h h h"
            "m b b b b b b b b b b b"
            "m c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2"
            "m f f f f f f f f f f f";

    .nds-header
    {
      grid-area:     h;

      //border-bottom: #1274dc solid 2px;
      //& *
      //{
      //  border: #000000 solid 1px;
      //  margin: 2px;
      //}
    }
    .nds-nav-header
    {
      grid-area: b;

      //border: #ff2bc0 solid 1px;
      
      //& *
      //{
      //    border: #ffc32b solid 1px;
      //}
    }
    .nds-menu
    {
      grid-area: m;
    }
    //.nds-content1
    //{
    //  grid-area: c1;
    //  overflow-y: scroll;
    //}
    .nds-content2
    {
      grid-area: c2;
      overflow-y: scroll;
      
      //--------------------------------------------------------
      // custom scrollbar
      //--------------------------------------------------------
      scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
      scrollbar-width: auto;
      

      &::-webkit-scrollbar
      {
        background-color: transparent;
        width: 0.8rem;
      }
      &::-webkit-scrollbar-thumb
      {
        background-color: rgba(0, 0, 0, 0.2);
        &:hover
        {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

    }
    .nds-footer
    {
      grid-area: f;
      background-color: $shade-13-01;
      //box-shadow: $shade-13-03 -3px -3px 20px;
      z-index: 1;
    }
  }
}