/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

.nds-footer-container
{
  width:           100%;
  //border:     #7665ff solid 3px;
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: flex-start;
  align-items:     center;

  max-width:       $content-width;
  align-self:      center;

  padding:         0;
}
.nds-footer-info
{
  display: flex;
}

@supports (display: grid) 
{
  .nds-page-container
  {
    .nds-footer
    {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      //box-shadow: $shade-13-03 0.2rem -0.2rem 0.5rem;
    }
  }
}