/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@supports (display: grid)
{
  .nds-page-container
  {
    //border: #12a747 solid 1px;
    & .nds-header
    {
      //& *
      //{
      //  border: #ff3fcf solid 1px;
      //}
      //border: #e30088 solid 1px;
      & .nds-page-title-container
      {
        width:           100%;
        height:          100%;
        min-height:      $page-title-container-height;
        max-height:      $page-title-container-height;
        display:         flex;
        flex-flow:       column;
        justify-content: center;

        //max-width:       $content-width;
        align-self:      center;

        padding:         0;

        //border-bottom:   $neutral1-light-03 solid 4px;

        & .nds-page-title
        {
          display: flex;
          flex-flow: row nowrap;
          
          font-weight: 900;
          font-size:   150%;
          margin:      0 0 0 8px;
          //border: #e30088 solid 1px;
        }

      }

      & *
      {
        //border: #c25977 solid 1px;
      }

      display:         flex;
      flex-flow:       column;
      justify-content: flex-start;
      //----------------------------------
      // align towards bottom
      //----------------------------------
      align-items:     flex-start;
      //background-color: $shade-14-02;
      //box-shadow: $shade-13-03 0.1rem 0.1rem 0.5rem;
      padding:         0;

      //border: #c25977 solid 4px;

      & .nds-main-header-left
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-start;
        align-items:     flex-end;
        //padding: 0 2rem $mh-padding-bottom 1rem;
        padding-bottom:  $mh-padding-bottom;

        width:           100%;
        height:          100%;
        //padding: $mh-padding-bottom 2rem 0 1rem;
        //border: #c25977 solid 4px;

        & .nds-other-links
        {
          //border: #c2276d solid 1px;
          margin:      0 0 0 auto;
          padding:     0;
          font-size:   90%;
          line-height: 1;

          & a
          {
            margin-right: 0.5rem;

            &.help-link
            {
              font-family: Poppins;
              font-weight: bold;
              font-size:   200%;
            }
          }
        }

      }
    }
  }

  @media only screen and (min-width: $media-wide-width)
  {
    .nds-page-container
    {
      & .nds-header
      {
        //border: #c25977 solid 1px;
        & *
        {
          //border: #c25977 solid 1px;
        }

        padding: 0;
      }
    }
  }
}