@supports (display: grid)
{
  .content-inner,
  .subfooter-inner,
  .subheader-inner
  {
    display:   flex;
    flex-flow: column;

    width:     100%;
    max-width: $main-inner-width-w0;
    height:    100%;

    //border:    #39af65 solid 1px;
  }
}
