.table-container
{
  &.fixed-header-select,
  {
    //padding-top: 5px;
    //height: 100%;
    min-width: 100%;

    //border: #d45dc8 solid 1px;

    & table
    {
      table-layout:    fixed;
      border-collapse: collapse;
      width:           100%;
      max-width:       100%;

      & caption
      {
        font-weight: bold;
        font-size:   125%;
        text-align:  left;
        margin:      8px;
      }

      & thead
      {

        & th
        {
          position:         sticky;
          top:              0;
          background-color: #ffffff;
          text-align:       left;

          padding:          4px;

          font-family:      'Roboto';
          font-weight:      bold;


          //background-color: $primary1-light-04;

          border-left:      #f0f0f0 solid 1px;
          border-right:     #f0f0f0 solid 1px;

          &.selectpage-action
          {
            width: 72px;
          }
        }
      }

      & tbody
      {
        & tr
        {
          & td
          {
            top:              0;
            background-color: #ffffff;

            max-width:        0;
            overflow:         hidden;
            text-overflow:    ellipsis;
            white-space:      nowrap;


            padding:          8px;

            border-left:      #f0f0f0 solid 1px;
            border-right:     #f0f0f0 solid 1px;
            border-bottom:    #f0f0f0 solid 1px;

            &.selectpage-action
            {
              & button
              {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }

  &.fixed-header
  {
    & table
    {
      & tbody
      {
        & td
        {
          white-space: nowrap;
        }
      }
    }
  }
}
