@supports (display: grid)
{
  .page-container
  {

    display:               grid;
    height:                100%;
    grid-gap:              0;

    grid-template-columns: $menu-width-wide repeat(12, 1fr);
    grid-template-rows: 
        $page-header-height 
        $subheader-nav-height 
        $subheader-subnav-height
        $subheader-msg-height 
        $subheader-action-height 
        $subheader-info-height
        1fr
        $page-subnav-subfooter-height
        $page-footer-height;
    grid-template-areas: 
        "m h  h  h  h  h  h  h  h  h  h  h  h"
        "m b1 b1 b1 b1 b1 b1 b1 b1 k1 k1 k1 k1"
        "m bs bs bs bs bs bs bs bs ks ks ks ks"
        "m b2 b2 b2 b2 b2 b2 b2 b2 k2 k2 k2 k2"
        "m b3 b3 b3 b3 b3 b3 b3 b3 k3 k3 k3 k3"
        "m b4 b4 b4 b4 b4 b4 b4 b4 k4 k4 k4 k4"
        "m c  c  c  c  c  c  c  c  kc kc kc kc"
        "m d  d  d  d  d  d  d  d  kd kd kd kd"
        "m f  f  f  f  f  f  f  f  f  f  f  f";

    //border:                #ff42d6 solid 5px;

    .page-menu
    {
      grid-area: m;

      //border:    #d2dc12 solid 1px;
    }

    .page-header
    {
      grid-area: h;

      //border:    #4842ff solid 1px;
    }

    .page-subheader-nav
    {
      grid-area: b1;
    }

    .page-subheader-subnav
    {
      grid-area: bs;
      //border:    #ff4346 solid 1px;
    }

    .page-subheader-msg
    {
      grid-area: b2;
    }

    .page-subheader-action
    {
      grid-area: b3;
    }

    .page-subheader-info
    {
      grid-area: b4;
    }


    .page-sub-k-nav
    {
      grid-area: k1;
    }

    .page-sub-k-subnav
    {
      grid-area: ks;
      //border:    #5c5dff solid 1px;
    }

    .page-sub-k-msg
    {
      grid-area: k2;
      //border:    #ff4346 solid 1px;
    }

    .page-sub-k-action
    {
      grid-area: k3;
      //border:    #ec65ff solid 1px;
    }

    .page-sub-k-info
    {
      grid-area: k4;
      //border:    #5c5dff solid 1px;
    }

    .page-subheader-nav,
    .page-subheader-subnav,
    .page-subheader-msg,
    .page-subheader-action,
    .page-subheader-info
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      //padding:         $main-outer-padding-w0;

      //border:          #57579c solid 3px;
    }

    .page-sub-k-nav,
    .page-sub-k-subnav,
    .page-sub-k-msg,
    .page-sub-k-action,
    .page-sub-k-info
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      //padding:         $main-outer-padding-w0;

      //border:          #ff0034 solid 1px;
    }

    .page-content
    {
      grid-area: c;

      //border:          #217f09 solid 1px;
    }

    .page-content-k
    {
      grid-area: kc;

      //border:          #217f09 solid 2px;
    }

    .page-subfooter
    {
      grid-area: d;

      //border:    #dedc1b solid 1px;
    }

    .page-subfooter-k
    {
      grid-area: kd;

      //border:    #de1b86 solid 1px;
    }

    .page-footer
    {
      grid-area: f;

      //border:    #ff0034 solid 1px;
    }
  }

}