.studyrowset-outer-row
{
  display:    flex;
  flex-flow:  row nowrap;
  height:     100%;
  min-height: 100px;
  width:      100%;

  border:     #d41733 solid 1px;


  & .studyrowset-pane
  {
    display:   flex;
    flex-flow: column;
    width:     100%;

    border:    #d41733 solid 1px;

    &.left-pane
    {
      max-width: 200px;
    }

    & .studyrowset-pane-header
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;

      font-size: 100%;
      font-weight:     bold;
    }

    & .studyrowset-pane-row
    {
      display:   flex;
      flex-flow: row nowrap;

      & button
      {
        display: flex;
        width:   100%;
      }
    }
  }
}

.subsetactive
{
  border:           #fa184f solid 1px;
  background-color: #dcf5e5;
}

