{% extends "layouts/basepage-2.volt" %}
  {% block set_params %}
    {{ set_title("Import dataset design") }}
  {% endblock %}
  {% block menu_wide_1 %}
    {{ partial("modules/dashin/00partials/module_header_menu_partial") }}
  {% endblock %}
  {% block menu_wide_2 %}
    {{ partial("modules/dashin/00partials/00_nds_index_submenu_partial",["show_submenu_study":1,"show_submenu_study_event":1,"current":"event_index"]) }}
  {% endblock %}
  {% block tab_menu %}
    <div class="nds-tab-aligned">
      {{ partial("modules/dashin/owner/studydesign/00_tabs_partial",["current_tab":"importdatadesign"]) }}
    </div>
  {% endblock %}
  {% block toolbar_1 %}
    <form id="form1" action="/dashin/owner/studydesign/importdatadesign/{{ _ls_querystring_ }}" accept-charset="utf-8" method="post" onsubmit="formSetSubmit()" onchange="formSetChanged()"></form>
    <button form="form1" class="button select" name="btn[select_study]">Select study</button>
    <button form="form1" class="button select" name="btn[selectdatadesign]">Select dataset</button>
  {% endblock %}
  {% block content2 %}

    <div class="nds-card-container">

      <div class="nds-card">

        <div class="nds-row">
          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Study</header>
              {% if study_info is defined %}
                {{ study_info.name }}
                <span style="color: #00bb1f">[{{ study_info.study_id }}]</span>
              {% endif %}
            </div>
          </div>
          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Dataset</header>
              {% if dataset_info is defined %}
                {{ dataset_info.name }}<br>
                <span style="color: #00bb1f">[{{ dataset_info.dataset_id }}]</span>
                <span>Unique design values</span>
                {% if count_distinct is defined %}
                  {{ count_distinct }}
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="nds-row">
          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header class="nds-view-row-header">
                {% if design_imported is defined and design_imported === 1 %}
                  Design imported
                {% else %}
                  Design not imported
                  {% if confirm_import is defined and confirm_import %}
                    <button form="form1" name="btn[confirm]" type="submit" class="nds-button nds-alert">Confirm</button>
                  {% else %}
                    <button form="form1" name="btn[import]" type="submit" class="nds-button nds-hollow nds-alert">Import</button>
                  {% endif %}
                {% endif %}
              </header>
              {% if import_result is defined and import_result %}
                <table>
                  <tr>
                    <th>Name</th>
                    <th>Affected rows</th>
                  </tr>
                  {% for row in import_result %}
                    <tr>
                      <td>{{ row.name }}</td>
                      <td>{{ row.affected_rows }}</td>
                    </tr>
                  {% endfor %}
                </table>
              {% endif %}
            </div>
          </div>
        </div>

        {# ================================================================= #}
        {#   Design summary     #}
        {# ================================================================= #}
        <div class="nds-column-stretch">
          <div class="nds-card-level-2 nds-table-container">
            <header>Design summary</header>

            {% if design_summary is defined and design_summary %}
              <table>
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Number of unique values</th>
                  <th>Varname</th>
                  <th>Autogen</th>
                </tr>
                </thead>
                <tbody>
                {% for row in design_summary %}
                  <tr>
                    <td>{{ row.variabletype_label }}</td>
                    <td class="align-right">{{ row.n }}</td>
                    <td class="align-right">{{ row.variable_name }}</td>
                    <td class="align-right">{{ row.autogenerated }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>

        {# ================================================================= #}
        {#   Event - subevent     #}
        {# ================================================================= #}
        <div class="nds-row">
          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Events</header>
              {% if event is defined and event %}
                <table>
                  <thead>
                  <tr>
                    <th>Event names</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in event %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>

          {# ===================== #}

          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Subevents</header>
              {% if subevent is defined and subevent %}
                <table>
                  <thead>
                  <tr>
                    <th>Subevent names</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in subevent %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>
        </div>

        {# ================================================================= #}
        {#   Samplingevent - samplingtime     #}
        {# ================================================================= #}
        <div class="nds-row">

          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Sampling events</header>
              {% if samplingevent is defined and samplingevent %}
                <table>
                  <thead>
                  <tr>
                    <th>Samplingevents</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in samplingevent %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
          </div>


          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Samplingtime</header>
              {% if samplingtime is defined and samplingtime %}
                <table>
                  <thead>
                  <tr>
                    <th>Samplingevent</th>
                    <th>Samplingtime</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in samplingtime %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.valuename2 }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>

        </div>

        {# ================================================================= #}
        {#   Startgroup - subject    #}
        {# ================================================================= #}
        <div class="nds-row">
          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Startgroup</header>
              {% if startgroup is defined and startgroup %}
                <table>
                  <thead>
                  <tr>
                    <th>Startgroups</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in startgroup %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>

          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Subjects</header>

              {% if subject is defined and subject %}
                <table>
                  <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Startgroup</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in subject %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.valuename2 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}

            </div>

          </div>
        </div>
      </div>

    </div>
  {% endblock %}
