{% extends "layouts/basepage-nav.volt" %}
  {% block set_params %}
    {{ set_title("View dataset design") }}

    {% set btn_dataset_selected = "" %}
    {% if dataset_info is defined and dataset_info %}
      {% set btn_dataset_selected=" nds-object-selected" %}
    {% endif %}

  {% endblock %}
  {% block menu_wide_1 %}
    {{ partial("modules/dashin/00partials/module_header_menu_partial") }}
  {% endblock %}
  {% block menu_wide_2 %}
    {{ partial("modules/dashin/00partials/00_nds_index_submenu_partial",["show_submenu_study":1,"show_submenu_study_studydata":1,"current":"studydata_index"]) }}
  {% endblock %}
  {% block tab_menu %}
    {{ partial("modules/dashin/owner/studydata/00_tabs_partial",["current_tab":"viewdatadesign"]) }}
  {% endblock %}
  {% block toolbar_1 %}
    <form id="form1" action="/dashin/owner/studydata/viewdatadesign/{{ _ls_querystring_ }}" accept-charset="utf-8" method="post" onsubmit="formSetSubmit()" onchange="formSetChanged()"></form>
    <button form="form1" class="nds-button{{ btn_dataset_selected }}" name="btn[select_dataset]">Select dataset</button>
  {% endblock %}
  {% block content2 %}

    <div class="nds-card-container">

      <div class="nds-card">
        <header>
          {% if dataset_info is defined %}
            {{ dataset_info.name }}
            [<span style="color: #00bb1f">{{ dataset_info.dataset_id }}</span>]
          {% endif %}
        </header>


        <div class="nds-row">
          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Number of rows in dataset</header>
              {% if count_full is defined %}
                {{ count_full }}
              {% endif %}
            </div>
          </div>
          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Unique design values</header>
              {% if count_distinct is defined %}
                {{ count_distinct }}
              {% endif %}
            </div>
          </div>
        </div>
{#        <div class="nds-row">#}
{#          <div class="nds-column-stretch">#}
{#            <div class="nds-card-level-2 nds-table-container">#}
{#              <header class="nds-view-row-header">#}
{#                {% if design_exists is defined and design_exists === 1 %}#}
{#                  Design already saved#}
{#                  {% if confirm_delete is defined and confirm_delete %}#}
{#                    <button form="form1" name="btn[confirm]" type="submit" class="nds-button nds-alert">Confirm</button>#}
{#                  {% else %}#}
{#                    <button form="form1" name="btn[delete]" type="submit" class="nds-button nds-hollow nds-alert">Delete</button>#}
{#                  {% endif %}#}
{#                {% else %}#}
{#                  Design not saved#}
{#                  <button form="form1" name="btn[save]" type="submit" class="nds-button">Save</button>#}
{#                {% endif %}#}
{#              </header>#}
{#              {% if save_result is defined and save_result %}#}
{#                <table>#}
{#                  <tr>#}
{#                    <th>Name</th>#}
{#                    <th>Affected rows</th>#}
{#                    <th>Description</th>#}
{#                  </tr>#}
{#                  {% for row in save_result %}#}
{#                    <tr>#}
{#                      <td>{{ row.name }}</td>#}
{#                      <td>{{ row.affected_rows }}</td>#}
{#                      <td>{{ row.description }}</td>#}
{#                    </tr>#}
{#                  {% endfor %}#}
{#                </table>#}
{#              {% endif %}#}
{#            </div>#}
{#          </div>#}
{#        </div>#}

        {# ================================================================= #}
        {# Design summary #}
        {# ================================================================= #}
        <div class="nds-column-stretch">
          <div class="nds-card-level-2 nds-table-container">
            <header>Design summary</header>

            {% if design_summary is defined and design_summary %}
              <table>
                <thead>
                <tr>
                  <th>Type</th>
                  <th>Number of unique values</th>
                  <th>Varname</th>
                  <th>Autogen</th>
                </tr>
                </thead>
                <tbody>
                {% for row in design_summary %}
                  <tr>
                    <td>{{ row.variabletype_label }}</td>
                    <td class="align-right">{{ row.n }}</td>
                    <td class="align-right">{{ row.variable_name }}</td>
                    <td class="align-right">{{ row.autogenerated }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>

        {# ================================================================= #}
        {# Event - subevent #}
        {# ================================================================= #}
        <div class="nds-row">
          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Events</header>
              {% if event is defined and event %}
                <table>
                  <thead>
                  <tr>
                    <th>Event names</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in event %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>

          {# ===================== #}

          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Subevents</header>
              {% if subevent is defined and subevent %}
                <table>
                  <thead>
                  <tr>
                    <th>Subevent names</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in subevent %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>
        </div>

        {# ================================================================= #}
        {# Samplingevent - samplingtime #}
        {# ================================================================= #}
        <div class="nds-row">

          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Sampling events</header>
              {% if samplingevent is defined and samplingevent %}
                <table>
                  <thead>
                  <tr>
                    <th>Samplingevents</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in samplingevent %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
          </div>


          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Samplingtime</header>
              {% if samplingtime is defined and samplingtime %}
                <table>
                  <thead>
                  <tr>
                    <th>Samplingevent</th>
                    <th>Samplingtime</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in samplingtime %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.valuename2 }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>

        </div>

        {# ================================================================= #}
        {# Startgroup - subject #}
        {# ================================================================= #}
        <div class="nds-row">
          <div class="nds-column-stretch">

            <div class="nds-card-level-2 nds-table-container">
              <header>Startgroup</header>
              {% if startgroup is defined and startgroup %}
                <table>
                  <thead>
                  <tr>
                    <th>Startgroups</th>
                    <th>Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in startgroup %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.n }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>

          </div>

          <div class="nds-column-stretch">
            <div class="nds-card-level-2 nds-table-container">
              <header>Subjects</header>

              {% if subject is defined and subject %}
                <table>
                  <thead>
                  <tr>
                    <th>Subject</th>
                    <th>Startgroup</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for row in subject %}
                    <tr>
                      <td>{{ row.valuename }}</td>
                      <td>{{ row.valuename2 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}

            </div>

          </div>
        </div>
      </div>

    </div>
  {% endblock %}
  {% block footer %}
    {% if dataset_info is defined and dataset_info %}
      <div class="nds-footer-container">
        <div class="nds-footer-info">
          <div title="Currently selected dataset">Dataset: <span style="font-weight: bold">{{ dataset_info.name }}</span></div>
        </div>
      </div>
    {% endif %}
  {% endblock %}
