<li>
  <div style="display: flex;flex-flow: column">
  <a href="/admin/index/{{ _ls_querystring_ }}">System admin</a>
  <a href="/dashin/index/{{ _ls_querystring_ }}">Data sharing module</a>
  </div>
</li>
