<div class="tabs-row" style="margin-bottom: 1rem">
  
  {{ m_menu_tabentry("List", "/dashin/owner/prfxunit/listprfxunits", "listprfxunits", current_tab, _ls_querystring_) }}
  
{#  <div class="nds-tab{% if current_tab is defined and current_tab === "listprfxunits" %} current{% endif %}">#}
{#    <a href="/dashin/owner/prfxunit/listprfxunits/{{ _ls_querystring_ }}">#}
{#      List#}
{#    </a>#}
{#  </div>#}

</div>
