{% extends "layouts/public/public-base-standardpage.volt" %}
  {% block set_params %}
    {{ set_title("Landing page") }}
  {% endblock %}
 
    {% block page_content %}
      <h1>
        {{ get_title() }}
      </h1>
    {% endblock %}
