<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="assay icon48 filled">
  <path d="M13.75 36.15q-3.25 0-5.5-2.25T6 28.4q0-3.25 2.25-5.5t5.5-2.25q3.25 0 5.5 2.25t2.25 5.5q0 3.25-2.25 5.5t-5.5 2.25Zm19.5-8.65q-4.5 0-7.625-3.125T22.5 16.75q0-4.5 3.125-7.625T33.25 6q4.5 0 7.625 3.125T44 16.75q0 4.5-3.125 7.625T33.25 27.5Zm-4 14.5q-2.3 0-3.9-1.6t-1.6-3.9q0-2.3 1.6-3.9t3.9-1.6q2.3 0 3.9 1.6t1.6 3.9q0 2.3-1.6 3.9t-3.9 1.6Z" class="p1"/>
</svg>