<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="filteroff icon48 outline">
  <path d="m29 24.75-2.15-2.15L36 11H15.25l-3-3H38.6q1.05 0 1.55.95t-.2 1.8Zm11.65 20.2L28 32.3V38q0 .85-.575 1.425Q26.85 40 26 40h-4q-.85 0-1.425-.575Q20 38.85 20 38V24.3L3.05 7.35 5.2 5.2l37.6 37.6ZM26.85 22.6Z" class="p1"/>
</svg>