<svg
    style="border: none;margin: 0.15em 0 0 0"
    width="100%"
    height="21px"
    x="0px"
    y="0px"
    viewBox="0 0 100 110"
    version="1.1">
  <circle r="50%" cx="50%" cy="50%"></circle>
</svg>
