<svg
    width="200"
    height="200"
    viewBox="0 0 200 200"
    id="svg20"
    class="hambg hambg-left"
>
  <g
      id="layer1"
      transform="translate(0,-97)">
    <rect
{#        style="fill:#000000;stroke:#000000;stroke-width:3.97981763;stroke-miterlimit:4;stroke-dasharray:none"#}
        id="rect1"
        width="175"
        height="25"
        x="15.235375"
        y="109.77032"
        ry="7.5405326"/>

    <path id="path1"
{#          style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:0.41342789px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"#}
          d="m 62.630958,154.61805 -50.067304,41.28183 50.031037,41.33435 z"
    />
    <rect
{#        style="fill:#000000;stroke:#000000;stroke-width:3.97981763;stroke-miterlimit:4;stroke-dasharray:none"#}
        id="rect2"
        width="111.56326"
        height="25"
        x="79.499268"
        y="159.51392"
        ry="7.5405326"/>
    <rect
{#        style="fill:#000000;stroke:#000000;stroke-width:3.97981763;stroke-miterlimit:4;stroke-dasharray:none"#}
        id="rect3"
        width="111.56326"
        height="25"
        x="79.499268"
        y="209.25754"
        ry="7.5405326"/>
    <rect
{#        style="fill:#000000;stroke:#000000;stroke-width:3.97981763;stroke-miterlimit:4;stroke-dasharray:none"#}
        id="rect4"
        width="175.82715"
        height="25"
        x="15.235375"
        y="259.00113"
        ry="7.5405326"/>
  </g>
</svg>
