{#<svg version="1.1"#}
     {#width="25"#}
     {#height="25"#}
     {#viewBox="0 0 200 220"#}
{#>#}
  {#<g>#}
    {#<path #}
        {#fill="none"#}
        {#d="M200-0.5H0v200h26.099c2.885-35.293,24.07-64.381,52.419-74.319C64.372,117.596,54.75,102.674,54.75,85.5   #}
          {#c0-24.853,20.146-45,45-45c24.853,0,45,20.147,45,45c0,17.095-9.533,31.963-23.572,39.58c28.5,9.837,49.828,39.002,52.724,74.42   #}
          {#H200V-0.5z"/>#}
    {#<path #}
        {#fill="none"#}
        {#stroke-width="1rem"#}
        {#stroke="#0d2432"#}
        {#d="M121.178,125.08c14.039-7.617,23.572-22.485,23.572-39.58c0-24.853-20.147-45-45-45   #}
          {#c-24.854,0-45,20.147-45,45c0,17.174,9.622,32.096,23.768,39.681c-28.349,9.938-49.534,39.026-52.419,74.319h147.803   #}
          {#C171.006,164.082,149.678,134.917,121.178,125.08z"/>#}
  {#</g>#}
{#</svg>#}
<svg
    width="35"
    height="45"
    viewBox="0 0 157 154"
    version="1.1"
    style="border: #c2276d solid 1px"
>
  <g id="profile-round" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    {#<gx id="profile-round" transform="translate(-5.000000, -10.000000)">#}
      {#<g id="Group-2" transform="translate(5.372917, 10.552779)">#}
        <ellipse id="Oval-10" fill="#FFFFFF" cx="77.9073028" cy="76.507646" rx="77.9073028" ry="76.507646"></ellipse>
        <g id="Group" fill="#02C1C0">
          <ellipse id="Oval-7" cx="45.6697982" cy="23.7437522" rx="24.1781284" ry="23.7437522"></ellipse>
          <path d="
          M31.752,54.2922607 
          L56.786905,54.2922607 
          C78.2199715,54.2922607 95.594905,71.6671942 95.594905,93.1002607 
          L95.594905,99.2606153 
          L0,99.2606153 L7.10542736e-15,86.0442607 
          C4.95786893e-15,68.5081154 14.2158546,54.2922607 31.752,54.2922607 
          Z"
                id="Rectangle"></path>
        </g>
      {#</g>#}
    {#</gx>#}
  </g>
</svg>