<div class="tabs-row" style="margin-bottom: 1rem">

  {{ m_menu_tabentry("Search type 1", "/dashin/owner/search/metabolomics", "metabolomics", current_tab, _ls_querystring_) }}
  {{ m_menu_tabentry("Save resultset (type 1)", "/dashin/owner/search/savemetabolomics", "savemetabolomics", current_tab, _ls_querystring_) }}

</div>
