<div class="tabs-row" style="margin-bottom: 1rem">
  
  {{ m_menu_tabentry("Search type 2", "/dashin/owner/search/metabolomicstype02", "metabolomics02", current_tab, _ls_querystring_) }}
  {{ m_menu_tabentry("Save resultset (type 2)", "/dashin/owner/search/savemetabolomicstype02", "savemetabolomics02", current_tab, _ls_querystring_) }}
  
</div>
