<svg viewBox="0 0 52 52" xmlns="http://www.w3.org/2000/svg" class="assay-icon-svg">
  <path d="M10.5 44C16.299 44 21 39.299 21 33.5C21 27.701 16.299 23 10.5 23C4.70101 23 0 27.701 0 33.5C0 39.299 4.70101 44 10.5 44Z" class="circ-1"/>
  <path d="M34.5 52C38.0899 52 41 49.0899 41 45.5C41 41.9101 38.0899 39 34.5 39C30.9101 39 28 41.9101 28 45.5C28 49.0899 30.9101 52 34.5 52Z" class="circ-2"/>
  <path d="M36.5 31C45.0604 31 52 24.0604 52 15.5C52 6.93959 45.0604 0 36.5 0C27.9396 0 21 6.93959 21 15.5C21 24.0604 27.9396 31 36.5 31Z" class="circ-3"/>
</svg>
