<svg viewBox="0 0 75 47" xmlns="http://www.w3.org/2000/svg" class="admin-managers-icon-svg">
  <path d="M50.9545 20.1429C56.5382 20.1429 61.0118 15.6443 61.0118 10.0714C61.0118 4.49857 56.5382 0 50.9545 0C45.3709 0 40.8636 4.49857 40.8636 10.0714C40.8636 15.6443 45.3709 20.1429 50.9545 20.1429ZM24.0455 20.1429C29.6291 20.1429 34.1027 15.6443 34.1027 10.0714C34.1027 4.49857 29.6291 0 24.0455 0C18.4618 0 13.9545 4.49857 13.9545 10.0714C13.9545 15.6443 18.4618 20.1429 24.0455 20.1429ZM24.0455 26.8571C16.2082 26.8571 0.5 30.785 0.5 38.6071V47H47.5909V38.6071C47.5909 30.785 31.8827 26.8571 24.0455 26.8571ZM50.9545 26.8571C49.9791 26.8571 48.8691 26.9243 47.6918 27.025C51.5936 29.845 54.3182 33.6386 54.3182 38.6071V47H74.5V38.6071C74.5 30.785 58.7918 26.8571 50.9545 26.8571Z"/>
</svg>
