<svg viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg" class="admin-person-svg">
  <path d="M27.0325 6.78791C30.8715 6.78791 33.9823 9.89877 33.9823 13.7377C33.9823 17.5766 30.8715 20.6875 27.0325 20.6875C23.1936 20.6875 20.0827 17.5766 20.0827 13.7377C20.0827 9.89877 23.1936 6.78791 27.0325 6.78791ZM27.0325 36.5727C36.8615 36.5727 47.22 41.4045 47.22 43.5225V47.1629H6.84504V43.5225C6.84504 41.4045 17.2035 36.5727 27.0325 36.5727ZM27.0325 0.5C19.7187 0.5 13.7948 6.42387 13.7948 13.7377C13.7948 21.0515 19.7187 26.9754 27.0325 26.9754C34.3464 26.9754 40.2702 21.0515 40.2702 13.7377C40.2702 6.42387 34.3464 0.5 27.0325 0.5ZM27.0325 30.2848C18.1964 30.2848 0.557129 34.7195 0.557129 43.5225V53.4508H53.5079V43.5225C53.5079 34.7195 35.8687 30.2848 27.0325 30.2848Z"/>
</svg>
