<svg viewBox="0 0 47 46" xmlns="http://www.w3.org/2000/svg" class="admin-datacolumn-svg">
  <path d="M8.159 46H5.1C2.57 46 0.5 43.4125 0.5 40.25V5.75C0.5 2.5875 2.57 0 5.1 0H8.159C10.689 0 12.759 2.5875 12.759 5.75V40.25C12.759 43.4125 10.712 46 8.159 46ZM46.5 40.25V5.75C46.5 2.5875 44.43 0 41.9 0H38.841C36.311 0 34.241 2.5875 34.241 5.75V40.25C34.241 43.4125 36.311 46 38.841 46H41.9C44.453 46 46.5 43.4125 46.5 40.25ZM29.641 40.25V5.75C29.641 2.5875 27.571 0 25.041 0H21.982C19.452 0 17.382 2.5875 17.382 5.75V40.25C17.382 43.4125 19.452 46 21.982 46H25.041C27.571 46 29.641 43.4125 29.641 40.25Z"/>
</svg>
