<svg viewBox="0 0 55 68" xmlns="http://www.w3.org/2000/svg" class="dataset-upload-icon-svg">
  <path d="M34.2998 0.00195312H7.0998C3.3598 0.00195312 0.333805 3.06195 0.333805 6.80195L0.299805 61.202C0.299805 64.942 3.3258 68.002 7.0658 68.002H47.8998C51.6398 68.002 54.6998 64.942 54.6998 61.202V20.402L34.2998 0.00195312ZM47.8998 61.202H7.0998V6.80195H30.8998V23.802H47.8998V61.202ZM13.8998 44.236L18.6938 49.03L24.0998 43.658V57.802H30.8998V43.658L36.3058 49.064L41.0998 44.236L27.5338 30.602L13.8998 44.236Z" id="path-1"/>
</svg>
