<svg viewBox="0 0 48 49" xmlns="http://www.w3.org/2000/svg">
<path d="M9.12522 6.89922H38.8752L23.9705 25.6417L9.12522 6.89922ZM0.943975 5.73897C6.95347 13.4442 18.0502 27.7242 18.0502 27.7242V45.5742C18.0502 47.2105 19.389 48.5492 21.0252 48.5492H26.9752C28.6115 48.5492 29.9502 47.2105 29.9502 45.5742V27.7242C29.9502 27.7242 41.0172 13.4442 47.0267 5.73897C48.544 3.77547 47.1457 0.949219 44.6765 0.949219H3.29422C0.824975 0.949219 -0.573275 3.77547 0.943975 5.73897Z"/>
</svg>
