<svg viewBox="0 0 55 68" xmlns="http://www.w3.org/2000/svg" class="dataset-icon-svg">
  <path d="M13.8998 47.6H41.0998V54.4H13.8998V47.6ZM13.8998 34H41.0998V40.8H13.8998V34ZM34.2998 0H7.0998C3.3598 0 0.299805 3.06 0.299805 6.8V61.2C0.299805 64.94 3.3258 68 7.0658 68H47.8998C51.6398 68 54.6998 64.94 54.6998 61.2V20.4L34.2998 0ZM47.8998 61.2H7.0998V6.8H30.8998V23.8H47.8998V61.2Z"/>
</svg>
