<svg viewBox="0 0 59 32" xmlns="http://www.w3.org/2000/svg" class="list-icon-svg">
  <path d="M0.87207 19.0853H7.23385V12.7236H0.87207V19.0853ZM0.87207 31.8089H7.23385V25.4471H0.87207V31.8089ZM0.87207 6.36178H7.23385V0H0.87207V6.36178ZM13.5956 19.0853H58.1281V12.7236H13.5956V19.0853ZM13.5956 31.8089H58.1281V25.4471H13.5956V31.8089ZM13.5956 0V6.36178H58.1281V0H13.5956ZM0.87207 19.0853H7.23385V12.7236H0.87207V19.0853ZM0.87207 31.8089H7.23385V25.4471H0.87207V31.8089ZM0.87207 6.36178H7.23385V0H0.87207V6.36178ZM13.5956 19.0853H58.1281V12.7236H13.5956V19.0853ZM13.5956 31.8089H58.1281V25.4471H13.5956V31.8089ZM13.5956 0V6.36178H58.1281V0H13.5956Z" id="path-1"/>
</svg>
