<svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
  <path d="m4 21.5 l9 0, 0 -4,6.5 6.5,-6.5 6.5,0 -4,-9 0,0-4z 
           m40 0 l-9 0, 0 -4,-6.5 6.5,6.5 6.5,0 -4,9 0,0-4z
           m-21.5 -15.5 l3.5 0,0 36,-3.5 0,0 -36z"/>
</svg>
