<svg viewBox="0 0 13 12" xmlns="http://www.w3.org/2000/svg" class="nav-last-icon">
  <path d="M0.0898438 1.41L4.67984 6L0.0898438 10.59L1.49984 12L7.49984 6L1.49984 0L0.0898438 1.41ZM10.4998 0H12.4998V12H10.4998V0Z"/>
</svg>
