<svg viewBox="0 0 13 12" xmlns="http://www.w3.org/2000/svg" class="nav-first-icon">
  <path d="M12.9102 1.41L8.32016 6L12.9102 10.59L11.5002 12L5.50016 6L11.5002 0L12.9102 1.41ZM2.50016 0H0.500156V12H2.50016V0Z"/>
</svg>
