<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
  <path d="M10.5 17.5h9v-3h-9Zm0 8h9v-3h-9Zm0 8h9v-3h-9Zm18.6-4.2 9.2-9.2-2.15-2.15-7.05 7.1-2.85-2.85-2.1 2.15ZM3.6 42V6h40.8v36Zm3-3h34.8V9H6.6Zm0 0V9v30Z"/>
</svg>