<svg viewBox="0 0 64 50" xmlns="http://www.w3.org/2000/svg" class="study-design-icon-svg">
<path d="M0.0712891 0V49.6667H63.9284V0H0.0712891ZM18.9801 42.5714H7.16653V7.09524H18.9801V42.5714ZM37.9244 42.5714H26.1108V28.381H37.9244V42.5714ZM56.8332 42.5714H45.0196V28.381H56.8332V42.5714ZM56.8332 21.2857H26.0753V7.09524H56.8332V21.2857Z"/>
</svg>
