<svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.6667 0.5H2.16667C1.25 0.5 0.5 1.25 0.5 2.16667V13.8333C0.5 14.75 1.25 15.5 2.16667 15.5H14.6667C15.5833 15.5 16.3333 14.75 16.3333 13.8333V2.16667C16.3333 1.25 15.5833 0.5 14.6667 0.5ZM14.6667 2.16667V4.66667H2.16667V2.16667H14.6667ZM10.5 13.8333H6.33333V6.33333H10.5V13.8333ZM2.16667 6.33333H4.66667V13.8333H2.16667V6.33333ZM12.1667 13.8333V6.33333H14.6667V13.8333H12.1667Z"/>
</svg>
