<svg width="48" height="48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
>
  <g>
    <path d="M40,13 v19 c0,3 -3,3 -3,3 h-19 c-3,0 -3,-3 -3,-3 l0,-24 c0,-3 3,-3 3,-3 l14 0,8 8z
             m-20.75,19.5 l16 0 c2,0 2,-2 2,-2 l0,-16.5,-6 -6,-11.5 0 c0,0 -2,0 -2,2 l0,20.5 c0,0 0,2 2,2z
             m-11,-19 l0 25 c0,3 3,3 3,3 l23 0,0 -3,-21 0 c-2,0 -2,-2 -2,-2 l0,-22.5,-3 0z
             m17.5,16 l3 0 ,0 -14 ,4 4,2 -2,-7.25 -7.25,-7.25 7.25,2 2,4 -4,0 14z"/>
  </g>
</svg>
