<svg viewBox="0 0 63 62" xmlns="http://www.w3.org/2000/svg" class="varinfo-icon-svg">
  <path d="M38.5039 20.8664L41.6319 23.9944L10.8279 54.7984H7.6999V51.6704L38.5039 20.8664V20.8664ZM50.7439 0.398438C49.8939 0.398438 49.0099 0.738437 48.3639 1.38444L42.1419 7.60644L54.8919 20.3564L61.1139 14.1344C62.4399 12.8084 62.4399 10.6664 61.1139 9.34044L53.1579 1.38444C52.4779 0.704437 51.6279 0.398438 50.7439 0.398438V0.398438ZM38.5039 11.2444L0.899902 48.8484V61.5984H13.6499L51.2539 23.9944L38.5039 11.2444V11.2444Z" id="path-1"/>
</svg>
