/*********************************************************************
 * dash-in datasharing
 * 
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 * 
 * Created 2019-10-12
 * 
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 * 
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 * 
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
*/

.align-left
{
  text-align: left;
  justify-content: flex-start;
}
.align-center
{
  text-align: center;
  justify-content: center;
}
.align-right
{
  text-align: right;
  justify-content: flex-end;
}

//datatype_id=1: text
.align-datatype1
{
  text-align: left;
  justify-content: flex-start;
}
//datatype_id=2: numeric
.align-datatype2
{
  text-align: right;
  justify-content: flex-end;
}
