/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */
// new colors
//box-shadow: #94a6b5 0.4rem 0.4rem 0.4rem,#dde1e4 -0.1rem -0.1rem 0.2rem;
$text-dark-05:      #0d2433;
$main-menu-bgcolor: #0d2433;

$temp-grey-01:      #26353c;
$temp-grey-02:      #455962;

$primary1-dark-05:  #062350;
$primary1-dark-04:  #093170;
$primary1-dark-03:  #0d47a1;
$primary1-dark-02:  #1565c0;
$primary1-dark-01:  #1976d2;
$primary1-center:   #1e88e5;
$primary1-light-01: #42a5f5;
$primary1-light-02: #90caf9;
$primary1-light-03: #bbdefb;
$primary1-light-04: #e3f2fd;
$primary1-light-05: #f2f8ff;

$primary2-dark-05:  #5c2000;
$primary2-dark-04:  #b84000;
$primary2-dark-03:  #e65100;
$primary2-dark-02:  #ef6c00;
$primary2-dark-01:  #f57c00;
$primary2-center:   #ff9437;
$primary2-light-01: #faaa65;
$primary2-light-02: #ffbb80;
$primary2-light-03: #ffd6b3;
$primary2-light-04: #fff1e5;

$accent1-dark-05:   #004346;
$accent1-dark-04:   #006064;
$accent1-dark-03:   #00838f;
$accent1-dark-02:   #0097a7;
$accent1-dark-01:   #00acc1;
$accent1-center:    #00bcd4;
$accent1-light-01:  #4dfbff;
$accent1-light-02:  #80fcff;
$accent1-light-03:  #b3fdff;
$accent1-light-04:  #e5feff;

//$accent2-dark-06:   #1a1900;
$accent2-dark-05:   #c46512;
$accent2-dark-04:   #f57f17;
$accent2-dark-03:   #f9a825;
$accent2-dark-02:   #fbc02d;
$accent2-dark-01:   #fdd835;
$accent2-center:    #ffeb3b;
$accent2-light-01:  #ffee58;
$accent2-light-02:  #fff59d;
$accent2-light-03:  #fff9c4;
$accent2-light-04:  #fffde7;

$accent3-dark-05:   #6d1010;
$accent3-dark-04:   #b71c1c;
$accent3-dark-03:   #c62828;
$accent3-dark-02:   #d32f2f;
$accent3-dark-01:   #e53935;
$accent3-center:    #f44336;
$accent3-light-01:  #ef5350;
$accent3-light-02:  #e57373;
$accent3-light-03:  #ffcdd2;
$accent3-light-04:  #ffebee;

$accent4-dark-05:   #2e0613;
$accent4-dark-04:   #5d0c27;
$accent4-dark-03:   #8b123b;
$accent4-dark-02:   #a31545;
$accent4-dark-01:   #ba184f;
$accent4-center:    #e91e63;
$accent4-light-01:  #ed4a82;
$accent4-light-02:  #f178a1;
$accent4-light-03:  #f6a5c0;
$accent4-light-04:  #ffebee;

$neutral1-dark-06:  #171e22;
$neutral1-dark-05:  #252d34;
$neutral1-dark-04:  #263238;
$neutral1-dark-03:  #37474f;
$neutral1-dark-02:  #455a64;
$neutral1-dark-01:  #546e7a;
$neutral1-center:   #607d8b;
$neutral1-light-01: #78909c;
$neutral1-light-02: #90a4ae;
$neutral1-light-03: #b0bec5;
$neutral1-light-04: #cfd8dc;
$neutral1-light-05: #eceff1;
$neutral1-light-06: #f4f7f8;
$neutral1-light-07: #f7f8f9;
$neutral1-light-08: #fbfbfb;








