/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 **************************************************************-*******
 */

// z-levels
$z-top:                       90000;
$z-lower-01:                  $z-top - 100;
$z-lower-02:                  $z-top - 200;
$z-lower-03:                  $z-top - 300;
$z-lower-04:                  $z-top - 400;
$z-lower-05:                  $z-top - 500;
$z-lower-06:                  $z-top - 600;
$z-zero:                      0;

// border radius
$border-radius-standard:      0.2rem;

//-----------------------------------------------------
// header heights
//-----------------------------------------------------
$logo-container-height: 55px;
$page-title-container-height: $logo-container-height+4px;


//-----------------------------------------------------
// overall content width
//-----------------------------------------------------
$content-width:               70rem;
$content-width-studydesign:   70rem;

//-----------------------------------------------------
// temporary hack:
// fixed navbar slightly wider than content to hide scrolling table
// adjusted back to center with negative margin
//-----------------------------------------------------
$fixed-navbar-width:          $content-width + 5rem;
$fixed-navbar-margin-left:    -2.5rem;

//-----------------------------------------------------
// nds-menu width 
// (align widths of nds-menu and nds-nav-container)
//-----------------------------------------------------
// slide-menu/stationary menu on the left side
//   width: width when visible
//   transform: length removed outside of the screen
$nds-menu-narrow-width:       4rem;
$nds-menu-wide-width:         20rem;
$nds-menu-wide-transform:     22rem;
$nds-menu-narrow-transform:   7rem;

//-----------------------------------------------------
// main-header height
// (align height of header to other elements)
//-----------------------------------------------------

// OBS: main-header-height stretches below 
//      nav-header-hight: used to push table-nav down
//      to create space between toolbar and table-nav
$nds-main-header-height:      96px;
$nds-nav-header-height:       70px;

$mh-item-height:              30px;
$mh-padding-top:              0.5rem;
$mh-padding-bottom:           0.4rem;

//-----------------------------------------------------
// padding below index-page-title header to allign header to
// tab-menu on other pages
//-----------------------------------------------------
$nds-title-padding-bottom:    $nds-main-header-height - $nds-nav-header-height;


$nds-main-footer-height:      2rem;

// font
$font-family-header:          Poppins, sans-serif;
$font-family-text:            Poppins, sans-serif;

// table
$tbl-row-border-color:        $shade-13-01;
$tbl-th-box-shadow:           0.3rem 0.3rem 0.4rem $shade-13-03;
$tbl-th-left-border-fix:      -0.4rem 0 0 #fafafa;
$tbl-tr-box-shadow:           0.3rem 0.3rem 0.4rem $shade-13-03;
$tbl-tr-box-shadow-secondary: 0.1rem 0.1rem 0.2rem $shade-13-03;

// hover
$hover-transition:            0.2s ease-in-out;

