/*********************************************************************
 * dash-in datasharing
 *
 * Copyright (c) 2017-2019 dash-in team NEXS Copenhage University
 *
 * Created 2017-08-20
 *
 * This file is part of the 'dash-in datasharing' project.
 *
 * This source file is subject to the New BSD License that is bundled
 * with this package in the file LICENSE.txt.
 *
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to fsp@nexs.ku.dk so we can send you a copy immediately.
 *
 * Author: Finn Sandø <fsp@nexs.ku.dk>
 *********************************************************************
 */

@font-face
{
  font-family: 'Poppins-Thin';
  font-style:  normal;
  font-weight: normal;
  src:         local('Poppins Thin'),
               local('Poppins-Thin'),
               url('fonts/Poppins_thin.woff2') format('woff2'),
               url('fonts/Poppins_thin.woff') format('woff'),
               url('fonts/Poppins_thin.eot?#iefix') format('embedded-opentype'),
               url('fonts/Poppins_thin.svg#Poppins') format('svg'),
               url('fonts/Poppins_thin.ttf') format('truetype');
}

@font-face
{
  font-family: 'Poppins-Medium';
  font-style:  normal;
  font-weight: normal;
  src:         local('Poppins Medium'),
               local('Poppins-Medium'),
               url('fonts/Poppins_medium.woff2') format('woff2'),
               url('fonts/Poppins_medium.woff') format('woff'),
               url('fonts/Poppins_medium.eot?#iefix') format('embedded-opentype'),
               url('fonts/Poppins_medium.svg#Poppins') format('svg'),
               url('fonts/Poppins_medium.ttf') format('truetype');
}

@font-face
{
  font-family: 'Poppins';
  font-style:  normal;
  font-weight: bold;
  src:         local('Poppins Bold'),
               local('Poppins-Bold'),
               url('fonts/Poppins_medium.woff2') format('woff2'),
               url('fonts/Poppins_medium.woff') format('woff'),
               url('fonts/Poppins_medium.eot?#iefix') format('embedded-opentype'),
               url('fonts/Poppins_medium.svg#Poppins') format('svg'),
               url('fonts/Poppins_medium.ttf') format('truetype');
}

@font-face
{
  font-family: 'Poppins';
  font-style:  normal;
  font-weight: normal;
  src:         local('Poppins Regular'),
               local('Poppins-Regular'),
               url('fonts/Poppins_regular.woff2') format('woff2'),
               url('fonts/Poppins_regular.woff') format('woff'),
               url('fonts/Poppins_regular.eot?#iefix') format('embedded-opentype'),
               url('fonts/Poppins_regular.svg#Poppins') format('svg'),
               url('fonts/Poppins_regular.ttf') format('truetype');
}

@font-face
{
  font-family: 'OpenSans';
  font-style:  normal;
  font-weight: normal;
  src:         local('Open Sans Regular'),
               local('OpenSans-Regular'),
               url('fonts/Open_Sans_regular.woff2') format('woff2'),
               url('fonts/Open_Sans_regular.woff') format('woff'),
               url('fonts/Open_Sans_regular.eot?#iefix') format('embedded-opentype'),
               url('fonts/Open_Sans_regular.svg#OpenSans') format('svg'),
               url('fonts/Open_Sans_regular.ttf') format('truetype');
}

