{% if has_results is defined and has_results %}
  {{ partial("00element_partials/table_nav_double_results_ng") }}
{% else %}
  {{ partial("00element_partials/table_nav_double_noresults_ng") }}
{% endif %}
