
@supports (display: grid)
{
  .page-container.frontpage
  {
    display:               grid;
    height:                100vh;
    grid-gap:              0;

    grid-template-columns: 1fr;
    grid-template-rows: $frontpage-header-height 1fr;
    grid-template-areas: 
    "h1"
    "c1";
    
    overflow: hidden;

    .frontpage-header
    {
      display: flex;
      grid-area: h1;

      //border:    #ff338f solid 5px;
    }

    .frontpage-content
    {
      grid-area: c1;

      //border:    #ff338f solid 5px;
    }
  }
}
