.page-container
{
  & .frontpage-header
  {
    display:          flex;
    flex-flow:        row nowrap;
    justify-content:  space-between;

    background-color: #0d8eff;

    & .fp-logo-container
    {
      display:         flex;
      flex-flow:       column;
      justify-content: flex-start;

      margin:          32px 0 0 32px;

      &.logo-dark
      {
        background-color: #9b9b9b;
        color:            #ffffff;
      }


      & a.fp-logo-link
      {
        display: flex;

        & img
        {
          //display: flex;
        }

        & svg
        {
          justify-content: flex-start;
          height:           64px;
          width: auto;

          //margin-right:     16px;
          padding:          6px;
          border-radius:    8px;
          background-color: transparent;
          //border: #ff4fea solid 1px;

        }
      }
    }

    & .fp-login-container
    {
      display:         flex;
      flex-flow:       row;
      justify-content: center;
      align-items:     center;
      height:          100%;

      margin:          0 98px 0 0;

      & a
      {
        display:         flex;
        display:         flex;
        justify-content: center;
        align-items:     center;
        text-decoration: none;
        height:          100%;

        &.fp-login-link,
        &.fp-user-link
        {

          & .user-link
          {
            display:         flex;
            justify-content: center;
            align-items:     center;

            color:           #000000;
            font-weight:     bold;
            font-size:       170%;
            height:          100%;

            & svg.account-svg
            {
              height:       100%;
              width:        32px;
              margin-right: 8px;
              
              //border:       #da5680 solid 2px;
            }
          }
        }
      }
    }

    //& *
    //{
    //  border: #5c59ff solid 1px;
    //}

  }

}