.page-container
{
  & .frontpage-content
  {
    display:    flex;
    flex-flow:  column;

    overflow-x: hidden;
    overflow-y: scroll;


    & .fp-row
    {
      display:         flex;
      flex-flow:       row;
      height:          90%;
      //min-height:      90%;
      width:           100%;
      justify-content: center;

      //border:          #5a57ff solid 3px;

      &.fp-r1
      {
        background: linear-gradient(180deg, #0d8eff 10%, #edeff0 60%, #ffffff 100%);;
      }

      & .fp-col
      {
        display:          flex;
        flex-flow:        column;

        justify-content:  center;

        width:            100%;
        background-color: transparent;


        //border:           #5a57ff solid 3px;

        padding:          5%;


        & img
        {
          display: flex;
          width:   100%;
          //margin: 50px;
          //border:  #ff2783 solid 3px;
        }
      }

      & .fp-row-inner
      {
        display:          flex;
        flex-flow:        row;
        max-width:        1600px;
        background-color: transparent;

        //border:           #991758 solid 5px;


        & .fp-r1c1
        {
          display:         flex;
          flex-flow:       column;
          justify-content: center;
          align-items:     center;

          height:          100%;

          & .fp-main-text
          {
            display:         flex;
            flex-flow:       column;
            justify-content: flex-start;
            align-items:     flex-start;
            max-width:       50%;

            //border: #d95983 solid 1px;

            & p.head-text
            {
              line-height:   1.2;
              display:       flex;
              font-size:     500%;
              font-weight:   bold;
              margin-bottom: 24px;
            }

            & p.body-text
            {
              display:   flex;
              font-size: 100%;

            }
          }

          & .fp-main-enter
          {
            display:         flex;
            flex-flow:       row;
            justify-content: flex-start;
            max-width:       50%;
            width:           50%;
            margin-top:      32px;

            //border: #d95983 solid 1px;

            & a
            {
              display:          flex;
              flex-flow:        row;

              background-color: #000000;
              border-radius:    32px;

              padding:          4px 64px;

              text-decoration:  none;
              color:            #ffffff;
              font-size: 100%;
              font-weight:      bold;
            }
          }
        }

        & .fp-r1c2
        {
          display:         flex;
          flex-flow:       column;
          justify-content: center;
          align-items:     center;
          width:           100%;
          height:          100%;

          & .fp-main-img
          {
            display:   flex;
            max-width: 60%;
          }
        }
      }
    }
  }
}

