<div class="nds-dropdown-menu">
  <div class="nds-dropdown-menu-header">
    {#<div class="nds-user-name">#}
      {#{% if LOGGED_IN_USER_FULL_NAME is defined %}{{ LOGGED_IN_USER_FULL_NAME }}{% endif %}#}
    {#</div>#}
    <div class="nds-user-avatar">
      <img src="/img/icons/profile-round.svg">
      {#{{ partial("00img_partials/nds-user-menu-avatar") }}#}
    </div>
    {#<div class="nds-icon-txt">#}
      {#Profile#}
    {#</div>#}
  </div>
  <nav class="nds-dropdown-items-container">
    <a href="/user/{{ _ls_querystring_ }}" onclick="">My account</a>
    <a href="/logout/{{ _ls_querystring_ }}" onclick="">Logout</a>
{#    <a href="/" onclick="">KdLab</a>#}
{#    <a href="/welcome/{{ _ls_querystring_ }}" onclick="">Tools</a>#}
    <a href="/admin/index/{{ _ls_querystring_ }}" onclick="">Admin</a>
    <a href="/sysadmin/index/{{ _ls_querystring_ }}" onclick="">Sysadmin</a>
{#    <a href="/listuris/{{ _ls_querystring_ }}" onclick="">List links</a>#}
  </nav>
</div>
