.tabs-row
{
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: flex-start;

  height:          100%;
  width:           100%;

  //padding-left:    16px;

  //font-weight: bold;

  //border:          #ff2435 solid 1px;

  &.study-summary
  {
    display:          flex;
    flex-flow:        row;
    justify-content:  space-around;
    width:            75%;

    padding:          16px;
    background-color: $primary1-light-04;

    border-radius:    16px;
    margin:           32px 0;
    //border: #d53d38 solid 3px;
  }

  //--------------------------------------------------------------------------
  // study design
  //--------------------------------------------------------------------------
  & .tab-studydesign
  {
    display:         flex;
    flex-flow:       column;
    flex:            0 1 auto;
    justify-content: flex-start;

    height:          100%;
    //width: 120px;

    padding-left:    4px;
    margin:          0 8px 0 0;

    transition:      background-color 0.2s;

    //border-left:     #ff42d6 solid 1px;
    //border-right:    #ff42d6 solid 1px;
    //border:          #ff42d6 solid 1px;

    &:last-of-type
    {
      margin-right: 0;
    }

    & .tab-header
    {
      display:         flex;
      flex-flow:       row nowrap;
      flex:            0 1 auto;
      justify-content: flex-start;


      padding:         0 0 0 4px;
      margin:          8px 0;
      white-space:     nowrap;

      //border-bottom:   transparent solid 4px;

      transition:      background-color 0.2s;

      font-size:       12px;
      font-weight:     bold;

      //border: #ff1aa2 solid 1px;

    }

    & .tab-actions
    {
      display:         flex;
      flex-flow:       row nowrap;
      flex:            0 1 auto;
      justify-content: flex-start;

      //border:          #a588ff solid 1px;

      & a
      {
        display:         flex;
        flex-flow:       row;
        justify-content: center;
        width:           32px;
        height:          32px;
        padding:         8px;
        margin:          0 0 0 0;


        &.current
        {
          //border:  $neutral1-light-03 solid 1px;
          background-color: $neutral1-light-03;
        }

        & img
        {
          //border: #8f3885 solid 1px;
        }
      }
    }
  }

  & .tab
  {
    display:          flex;
    flex-flow:        row nowrap;
    flex:             0 1 auto;
    justify-content:  center;
    align-items:      center;

    max-height:       32px;

    padding:          0;
    margin:           8px 16px 0 0;

    border:           $submenu-tab-border solid 2px;
    border-radius:    16px;

    //background-color: $neutral1-light-05;
    background-color: transparent;

    //border-bottom:   transparent solid 4px;

    transition:       background-color 0.2s;

    //border-left:     #ff42d6 solid 1px;
    //border-right:    #ff42d6 solid 1px;


    & a
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: center;
      align-items:     center;
      white-space:     nowrap;

      width:           100%;
      height:          100%;
      padding:         0 16px;

      font-size: 100%;
      font-family:     'Roboto';
      color:           $neutral1-center;

      transition:      0.2s ease-in-out;
      
      //border: #ff47fc solid 1px;
    }

    &:hover
    {
      cursor: pointer;

      & a
      {
        color: $neutral1-dark-04;
      }
    }

    &.current
    {
      border-color: $submenu-tab-border-current;
      //border-bottom-color: $accent1-dark-01;

      & a
      {
        color: $submenu-tab-border-current;
      }
    }
  }
}

.subheader-subnav-content
{
  //padding: 0;
  & .tabs-row
  {
  //border: #4b8742 solid 1px;
    //background-color: $neutral1-light-06;
  ;
    padding: 0;

    & .tab
    {
      max-height:    24px;
      margin:        4px 16px 0 0;
      padding:       0 8px;
      //border: #b02787 solid 3px;
      //border-bottom: transparent solid 3px;
      background-color: transparent;
      border-radius: 16px;

      & a
      {
        font-size: 90%;
      }

      &.current
      {
        //border-bottom-color: $accent1-dark-01;

        & a
        {
          //color: $accent1-dark-01;
        }
      }
    }
  }
}