.page-container
{
  & .page-subheader-msg
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #c79f28 solid 1px;

    & .subheader-msg-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;
      //border:          #3631c7 solid 1px;

      & .subheader-msg-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-start;
        width:       $content-width-w0;

        //border:      #ff2b8b solid 1px;
      }
    }
  }
}
