.page-container
{
  & .page-subheader-info
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #c79f28 solid 1px;

    & .subheader-info-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;
      //border:          #3631c7 solid 1px;

      & .subheader-info-content
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-start;
        align-items:     center;
        width:           $content-width-w0;

        //border:          #11ffcf solid 1px;

        & .info-element
        {
          display: flex;
          flex-flow: row;
          align-items: center;
          margin: 0 8px 0 0;
          padding: 0 8px;
          border:     $shade-13-02 solid 2px;
          
          & .info-element-header
          {
            display:   flex;
            flex-flow: column;
            margin-right: 16px;
            color: $neutral1-dark-01;
          }
          & .info-element-content
          {
            display: flex;
            flex-flow: column;
            font-size: 100%;
            font-weight: bold;
            color: $neutral1-dark-04;
            
          }
          
        }
      }
    }
  }
}
