.page-container
{
  & .page-content-k
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #c7282d solid 1px;

    & .subheader-action-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-start;

      width:           100%;
      height:          100%;

      //border:          #c731a0 solid 1px;

      & .subheader-action-content
      {
        display:         flex;
        flex-flow:       column;
        justify-content: flex-start;
        align-items:     flex-start;
        //width:       $content-width-w0;

        padding:         8px 0 0 16px;

        & button.button
        {
          margin: 0 0 12px 0;

          &.select
          {
            color:            #ffffff;
            background-color: $primary-color;
            transition: background-color 0.2s;
            &:hover
            {
              background-color: $primary-color-hover;
            }
          }

          &.download
          {
            color:            #ffffff;
            background-color: #000000;
          }


        }

        //border:      #11ff30 solid 1px;
      }
    }
  }
}
