.table-container-fixed-header-card
{
  display:          flex;
  flex-flow:        column;

  // make space above the card
  // without triggering scroll on the outer container
  height:           95%;
  margin-top:       8px;

  border:           $box-standard-border;
  background-color: $card-background-color;
  border-radius:    16px;
  padding:          32px;

  transition:       background-color 0.3s ease-in-out;

  & .table-card-title
  {
    display:         flex;
    flex-flow:       row nowrap;

    white-space:     nowrap;

    justify-content: space-between;

    font-size:       125%;
    font-weight:     bold;
    padding-bottom:  16px;

  }
}

.table-container-studyexport-card
{
  display:          flex;
  flex-flow:        column;
  overflow:         hidden;

  // make space above the card
  // without triggering scroll on the outer container
  height:           100%;
  margin-top:       8px;

  border:           $box-standard-border;
  background-color: $card-background-color;
  border-radius:    16px;
  padding:          32px 0;

  transition:       background-color 0.3s ease-in-out;

  & .studyexport-card-row
  {
    display:    flex;
    flex-flow:  row nowrap;
    height:     95%;
    margin-top: 8px;
    padding:    0;
  }

  & .studyexport-card-header-row
  {
    display:   flex;
    flex-flow: row nowrap;
    padding:   0;
    height:    100%;
    width: 100%;


  }

  & .studyexport-card-header-pane
  {
    display:   flex;
    flex-flow: column;
    width:     50%;
    padding:   0 20px;
  }

  & .table-card-title
  {
    display:         flex;
    flex-flow:       row nowrap;
    width:           100%;
    white-space:     nowrap;

    justify-content: space-between;

    font-size:       125%;
    font-weight:     bold;
    padding-bottom:  16px;

  }

}

.table-container
{
  &.fixed-header-select,
  &.fixed-header
  {
    //padding-top: 5px;
    //height: 100%;

    border:  $temp-grey-05 solid 4px;
    padding: 0 16px 16px 16px;

    //border:  #d45dc8 solid 1px;

    & table
    {
      border-collapse: collapse;
      width:           100%;
      max-width:       100%;
      table-layout:    fixed;

      & caption
      {
        font-weight: bold;
        font-size:   125%;
        text-align:  left;
        margin:      8px;
      }

      & thead
      {
        //border: #ff2d3e solid 3px!important;

        & th
        {
          position:         sticky;
          top:              0;
          background-color: #ffffff;
          text-align:       left;

          padding:          16px 4px 16px 4px;


          background-color: #ffffff; //$primary1-light-04;

          border-left:      #f0f0f0 solid 1px;
          border-right:     #f0f0f0 solid 1px;
        }
      }

      & tbody
      {
        & td
        {
          top:              0;
          background-color: #ffffff;

          max-width:        0;
          overflow:         hidden;
          text-overflow:    ellipsis;
          white-space:      nowrap;


          padding:          8px;

          border-left:      #f0f0f0 solid 1px;
          border-right:     #f0f0f0 solid 1px;
          border-bottom:    #f0f0f0 solid 1px;

        }

        & tr
        {
          &:nth-child(odd)
          {
            & td
            {
              background-color: $temp-grey-05;
            }
          }

          &.variables
          {
            & td
            {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  &.fixed-header
  {
    & table
    {
      & tbody
      {
        & td
        {
          white-space: nowrap;
        }
      }
    }
  }
}