nav.box-menu-container
{
  display:         flex;
  flex-flow:       column;
  justify-content: flex-start;
  align-items:     flex-start;

  width:           100%;
  padding:         12px;

  //border:    #ff2b8e solid 5px;

  & ul
  {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: flex-start;
    align-items:     stretch;

    width:           100%;

    padding:         0;
    margin:          40px 0 0 0;

    //border:          #622e2e solid 1px;

    & li
    {
      display:          flex;
      flex-flow:        column wrap;
      flex:             1 0 auto;
      justify-content:  flex-start;
      align-items:      center;


      max-width:        $box-menu-item-width;
      min-width:        $box-menu-item-width;
      width:            $box-menu-item-width;
      min-height:       220px;

      margin:           12px;

      background-color: #ffffff;

      border:           $neutral1-light-04 solid 2px;
      border-radius:    32px;
      box-shadow:       $neutral1-light-04 0px 2px 4px 0px;

      transition:       box-shadow 0.4s ease, background-color 0.4s ease;


      //border:          #46ff6c solid 1px;

      &:hover
      {
        box-shadow: $neutral1-light-03 4px 4px 4px, $neutral1-light-05 -2px -2px 4px;
      }

      & a
      {
        display:         flex;
        flex-flow:       column;
        justify-content: flex-start;
        align-items:     center;
        width:           100%;
        height:          100%;
        //padding:         8px 8px 20px 8px;
        padding:         0;

        //border:          #404aff solid 1px;

        & .box-menu-item-icon
        {
          display:         flex;
          flex-flow:       row;
          justify-content: center;
          align-items:     center;
          width:           60%;
          min-height:      60%;

          padding:         32px 0 0 0;

          //border:          #ff2255 solid 1px;

          & svg
          {
            width:  64px;
            height: 64px;
          }

          //-------------------------------------------------------------
          // section colors
          //-------------------------------------------------------------
          &.section-studies
          {
            & svg
            {
              fill: $studies-section-color;
            }
          }

          &.section-dataset
          {
            & svg
            {
              fill:   $dataset-section-color;
              stroke: $dataset-section-color;
            }
          }

          &.section-home
          {
            & svg
            {
              //fill: $primary-color;
            }
          }

          &.section-search
          {
            & svg
            {
              fill: $search-section-color;
              //stroke: none;

              & #mask-1
              {
                fill: #ffffff;

              }

              & #path-2
              {
                //stroke: red;
                fill: $search-section-color;
              }
            }
          }

          &.section-account
          {

            & svg
            {
              fill: $account-section-color;
            }
          }

          &.section-admin
          {
            & svg
            {
              fill: $admin-section-color;
            }
          }

          &.section-sysadmin
          {
            & svg
            {
              fill: $sysadmin-section-color;
            }
          }

          //-------------------------------------------------------------
          // end - section colors
          //-------------------------------------------------------------
        }

        & .box-menu-item-caption
        {
          display:         flex;
          flex-flow:       column;
          justify-content: flex-start;
          align-items:     center;
          height:          40%;
          max-height:      40%;
          width:           100%;

          padding:         0;
          margin-bottom:   0;
          //border:          #8a02ff solid 1px;

          & header
          {

            display:         flex;
            flex-flow:       row nowrap;
            align-items:     center;
            justify-content: center;

            //height:         100%;
            width:           100%;

            margin:          0;
            padding:         0;

            font-family:     'Roboto';
            font-size:       125%;
            color:           $text-dark-05;
            text-transform:  uppercase;
            font-weight:     bold;
            //border:         #ff2783 solid 1px;

          }

          & p
          {
            display:     none;
            align-items: flex-start;
            flex-flow:   row;
            padding:     0 8px;
            //margin-top:  8px;
            //font-weight: bolder;
            font-family: 'Roboto';
            color:       $neutral1-light-02;

            //border:      #d53dff solid 1px;
          }
        }
      }
    }
  }
}

