@supports (display: grid)
{
  .page-container
  {
    & .page-subfooter
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: flex-end;

      padding:         0;

      & .subfooter-inner
      {
        display:   flex;
        flex-flow: column;
        width:     100%;
        max-width: $main-inner-width-w0;
        //border:    #666bff solid 1px;
      }
    }
  }
}
