.flex-row
{
  display:   flex;
  flex-flow: row;

  &.nowrap
  {
    flex-wrap: nowrap;
  }

  &.start
  {
    justify-content: flex-start;
  }

  &.end
  {
    justify-content: flex-end;
  }

  &.center
  {
    justify-content: center;
  }

  &.middle
  {
    align-items: center;
  }

  &.striped
  {
    &:nth-of-type(odd)
    {
      background-color: $table-row-striped-dark;
    }

    &:nth-of-type(even)
    {
      background-color: $table-row-striped-light;
    }
  }
}

.flex-column
{
  display:   flex;
  flex-flow: column;

  &.start
  {
    justify-content: flex-start;
  }

  &.end
  {
    justify-content: flex-end;
  }

  &.center
  {
    justify-content: center;
  }

  &.middle
  {
    align-items: center;
  }
  
  &.fullwidth
  {
    width: 100%;
  }
}

