.checkmulti.cl-roles
{
  //border:  #e81220 solid 0.1rem;
  display: flex;

  & .field-group
  {
    //border:    #63e612 solid 0.1rem;
    display:   flex;
    flex-flow: column;
    width:     100%;

    & .field
    {
      display:   flex;
      flex-flow: row;
      flex-wrap: nowrap;
      //width:     100%;
      padding:   0;
      //border:    #5c12e6 solid 0.1rem;

      & label
      {
        display:          flex;
        flex-flow:        row;
        flex-wrap:        nowrap;
        align-items:      center;

        width:            100%;
        height:           24px;
        margin: 4px 0;

        cursor:           pointer;
        background-color: #f5f5f5;

        transition:       background-color 0.2s;
        background-color: $element-color-unselected;
        border-radius:    16px;
        border: darken($element-color-unselected, 10%) 1px solid;

        font-weight: bold;

        //& .labdecor
        //{
        //  display:          flex;
        //  transition:       background-color 0.2s;
        //
        //  margin:           0.1rem 0;
        //  width:            1.5rem;
        //  height:           1.5rem;
        //
        //}

        &:hover
        {
          //background-color: #ffffff;
          background-color: lighten($element-color-unselected, 2.5%);

          & .labdecor
          {
          }
        }
      }

      & input
      {
        position: relative;
        left:     -1000px;
        margin:   0 0 0 -1rem;

        &:checked ~ label
        {

          background-color: $element-color-selected;
          //background: url("img/done-24px.svg") no-repeat #bcf5b7;
          & .labdecor
          {
            //background-color: #bcf5b7;
          }

          &:hover
          {
            & .labdecor
            {
              background-color: #e1ffdd;
            }
          }
        }
      }

      & .label-text
      {
        margin-left: 0.5rem;
        //border:       #bd359e solid 2px;
        //display:      inline-flex;
        //padding-left: 2rem;
        //width:        30rem;
        //min-width:    30rem;
      }
    }
  }
}
