.page-container
{
  & .page-subheader-filterpanel
  {
    display:   flex;
    flex-flow: row;
    height:    100%;
    width:     100%;

    //border:    #c79f28 solid 1px;

    & .subheader-filterpanel-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;
      //border:          #3631c7 solid 1px;

      & .subheader-filterpanel-content
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: space-between;
        align-items:     center;
        width:           $content-width-w0;
        border: $temp-grey-05 solid 4px;
        border-radius: 8px;
        margin-bottom: 8px;

        //border:          #11ffcf solid 1px;

        & form
        {
          display:     flex;
          flex-flow:   row;
          align-items: flex-end;

        }

        & .filter-input
        {
          display:         flex;
          flex-flow:       column;
          justify-content: flex-start;
          padding:         8px;
          //border: #e65c98 solid 1px;
          & input,
          & select
          {
            border: none;
            background-color: $temp-grey-04;
            border-radius: 8px;
            padding-left: 8px;
            transition: background-color 0.2s;
            
            &:hover
            {
              background-color: $temp-grey-05;
            }
          }

          &.save-button
          {
            margin-left:  auto;
            margin-right: 16px;
          }
          
          & #vt_fi,
          & #dt_fi
          {
            width: 112px;
            min-width: 112px;
          }
        }

      }
    }
  }
}
