div.button.toggle.off-disabled
{
  font-size:        80%;
  padding:          2px;
  margin:          1px;
  border:           none;
  cursor:           unset;
  background-color: #987c8a;
  color:            #404040;

  &:active
  {
    border: none;
  }
}

.button
{
  display:         flex;
  flex-flow:       row nowrap;
  justify-content: center;
  align-items:     center;
  white-space:     nowrap;

  font-weight:     bold;

  border-radius:   16px;
  padding:         6px 16px;
  //word-break: keep-all;
  border:          none;
  transition:      background-color 0.2s;

  &:hover
  {
    cursor: pointer;
  }

  &.subtable-action
  {
    width:            100%;
    justify-content:  flex-start;
    border-radius:    8px;
    margin:           2px 0px;
    padding:          2px 8px;
    background-color: $primary1-light-03;
    transition:       background-color 0.2s;

    &:hover
    {
      background-color: darken($primary1-light-03, 10%);
    }
  }

  &.download,
  &.action
  {
    color:            #ffffff;
    background-color: $primary-color;
    transition:       background-color 0.2s;

    &:hover
    {
      background-color: $primary-color-hover;
    }

    transition:       background-color 0.2ms;

  }

  &.table-action
  {
    //border:           $primary-color solid 1px;
    //max-height:       20px;
    //font-size:        90%;
    //color:            $primary-color;
    border:           none;
    background-color: transparent;


    &.icon
    {
      padding:         0;
      border-radius:   unset;
      width:           100%;
      justify-content: flex-start;
      transition:      background-color 0.2s;
      padding:         2px;

      //border:          #3075ff solid 1px;
      &:hover
      {
        background-color: #f1f1f1;
      }

      & svg
      {

        height:        20px;
        border-radius: 10px;
        border:        $primary-color solid 1px;
        padding:       2px;
        margin:        0 8px 0 0;

        //stroke: white;

        &.plus-icon-svg
        {

          & .p1
          {
            fill: none;
          }

          & .p2
          {
            fill: $primary-color;
          }
        }

      }

      &.alert
      {
        & svg
        {
          border-color: $table-action-remove;

          &.minus-icon-svg
          {

            & .p1
            {
              fill: none;
            }

            & .p2
            {
              fill: $table-action-remove;
            }
          }


        }
      }

    }

  }

  &.toggle
  {
    border-radius: 0;
    padding:       0px 8px;
    width:         100%;
    border:        #bebebe solid 2px;

    &.on
    {
      background-color: $green-center;
      //background-color: #6bbf6b;
      //border-color: #6bbf6b;
    }

    &.off
    {
      background-color: $accent3-light-01;
      //background-color: #bf5560;
      //border-color: #bf6174;
    }


    &:active
    {
      border: #000000 inset 2px;
    }

  }

  &.manager
  {
    display:         flex;
    flex-flow:       row;
    justify-content: flex-start;
    width:           100%;
    margin:          4px 0;

    &.unselected
    {
      //background-color: ;
    }

    &.selected
    {
      background-color: $accent1-center;
    }

  }

  &.reset
  {
    display:          flex;
    justify-content:  center;
    align-items:      center;
    background-color: $accent3-light-01;
    //padding:          0 4px;
    cursor:           pointer;
    appearance:       none;
    border:           $accent4-dark-01 solid 1px;
    border-radius:    4px;
  }

  &.filter
  {
    //display:         flex;
    //justify-content: center;
    //align-items:     center;
    //cursor:          pointer;
    background-color: $primary-color;
    color:            #ffffff;
    height:           24px;

    &.reset
    {
      border-radius:    16px;
      fill:             $filter-reset-color;
      background-color: transparent;
      border:           $filter-reset-color solid 1px;
      padding:          0 4px;
      width:            24px;
    }

    &:hover
    {
      background-color: $primary-color-hover;
    }
  }

  &.tiny
  {
    font-size:  65%;
    max-height: 16px;
    min-height: 16px;
    //max-width:  12px;
    //min-width:  12px;
  }

  &.small
  {
    font-size:  85%;
    max-height: 20px;
    min-height: 20px;
    //max-width:  12px;
    //min-width:  12px;
  }

  &.xsmall
  {
    font-size:  65%;
    max-height: 16px;
    min-height: 16px;
    padding:    8px 12px;
    margin:     0 4px;
    //max-width:  12px;
    //min-width:  12px;
  }

  &.stretch
  {
    width:   100%;
    height:  100%;
    padding: 0;
  }

  &.actinfo-select
  {
    width:            35px;
    height:           30px;
    min-width:        35px;

    transition:       0.2s ease-in-out;

    border:           #213917 solid 1px;
    border-radius:    8px;
    padding:          0;
    background-color: #daffd8;
    color:            #213917;

    &:hover
    {
      background-color: #edd8ff;
    }
  }

  &.circle
  {
    border-radius: 50%;
  }

  &.details-toggle
  {
    display:     flex;
    flex-flow:   row nowrap;
    appearance:  none;
    border:      none;
    background:  none;
    cursor:      pointer;
    text-align:  left;
    font-size:   100%;
    font-weight: bold;
  }

  //----------------------------------------------------
  // section specific styles
  //----------------------------------------------------
  &.selectpage
  {
    &.select
    {
      border:           none;
      border-radius:    8px;

      padding:          3px 7px;

      background-color: $primary-color;

      font-size:        70%;
      font-family:      'Roboto';
      font-weight:      bold;
      color:            #ffffff;
      transition:       background-color 0.2s;

      &:hover
      {
        background-color: darken($primary-color, 10%);

      }

    }

    &.cancel
    {
      border:           none;
      border-radius:    16px;

      padding:          4px 24px;

      background-color: $neutral1-dark-05;

      font-family:      'Roboto';
      font-weight:      bold;
      color:            #ffffff;
      transition:       background-color 0.2s;

      &:hover
      {
        background-color: #000000;
      }
    }

  }

  &.hidden-default
  {
    position: absolute;
    left:     -90000px;
  }


  //----------------------------------------------------
  // metabol search
  //----------------------------------------------------
  &.metabolsearch
  {
    margin-left: 8px;
    font-family: 'Roboto';
    font-weight: bold;
    height:      24px;

    &.search
    {
      width:            40%;
      background-color: $main-menu-bgcolor;
      border:           $main-menu-bgcolor solid 1px;
      color:            $neutral1-light-05;
      border-radius:    12px;
    }

    &.save
    {
      background-color: $primary1-center;
      border:           $primary1-center solid 1px;
      color:            $primary1-light-05;
      border-radius:    12px;
      padding:          0 16px;
    }

    &.reset
    {
      background-color: $primary1-light-05;
      border:           $primary1-center solid 1px;
      color:            $primary1-center;
      border-radius:    12px;
      padding:          0 16px;
    }

    &.details-toggle
    {
      display:     flex;
      flex-flow:   row nowrap;
      appearance:  none;
      border:      none;
      background:  none;
      cursor:      pointer;
      text-align:  left;
      font-size:   100%;
      font-weight: bold;
    }

  }

  //----------------------------------------------------

  & .msg-button
  {
    width: 20px;
  }

  &.secondary
  {
    background-color: $neutral1-light-04;

    &:hover
    {
      background-color: lighten($neutral1-light-04, 5%);
    }
  }
}