.page-container
{
  & .page-header
  {
    display:   flex;
    flex-flow: row nowrap;
    //background-color: $shade-13-01;

    & .page-header-inner
    {
      display:         flex;
      flex-flow:       row nowrap;
      justify-content: space-between;

      height:          100%;
      width:           100%;

      & .header-title
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-start;
        align-items:     center;
        width:           100%;
        height:          100%;
        padding-left:    32px;

        //border:          #e30088 solid 1px;

        & .section-header-inner
        {
          display:     flex;
          flex-flow:   row nowrap;
          white-space: nowrap;
          align-items: center;


          & a
          {
            font-size:   125%;
            font-weight: bold;
            margin-left: 16px;
          }

          & svg
          {
            //fill:  $menu-focus-color;
            width: 16px;
          }

          & .section-logo-container
          {
            display:         flex;
            flex-flow:       column;
            width:           36px;
            height:          36px;

            justify-content: center;
            align-items:     center;

            border-radius:   6px;

            //----------------------------------------------------
            // section colors
            //----------------------------------------------------
            &.section-dataset
            {
              background-color: $dataset-section-color;

              & svg
              {
                width: 16px;
              }
            }

            &.section-studies
            {
              background-color: $studies-section-color;

              & svg
              {
                width: 22px;
              }
            }

            &.section-home
            {
              background-color: $primary-color;

              & svg
              {
                width: 22px;
              }
            }

            &.section-search
            {
              background-color: $search-section-color;

              & svg
              {
                width: 22px;
              }
            }

            &.section-account
            {
              background-color: $account-section-color;

              & svg
              {
                width: 22px;
              }
            }

            &.section-admin
            {
              background-color: $admin-section-color;

              & svg
              {
                width: 22px;
              }
            }

            &.section-sysadmin
            {
              background-color: $sysadmin-section-color;

              & svg
              {
                width: 22px;
                //stroke: #ffffff;
                //outline: none;
                fill: white;
              }
            }

            //----------------------------------------------------
            // end - section colors
            //----------------------------------------------------

            //border:    #d93cff solid 1px;
          }

        }

        & span
        {
          font-size:      125%;
          text-transform: lowercase;

          &::first-letter
          {
            text-transform: uppercase;
          }

        }

      }

      & .user-menu
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-end;
        align-items:     center;

        padding-right:   32px;

        //border: #5d90d4 solid 1px;

        & .user-link
        {
          margin-right: 16px;

          & .account-svg
          {
            width:  32px;
            height: 32px;
          }
        }

      }
    }
  }
}