.card-table-container,
.table-container
{
  & .css-table
  {
    display: table;

    & .css-thead
    {
      display: table-header-group;

      & .css-trh
      {
        display: table-row;
      }

    }

    & .css-tbody
    {
      display: table-row-group;
    }

    & .css-tfoot
    {
      display: table-footer-group;
    }

    & .css-tr
    {
      display: table-row;
      
    }

    & .css-col
    {
      display: table-column;
    }

    & .css-colgroup
    {
      display: table-column-group;
    }

    & .css-th,
    & .css-td
    {
      display:      table-cell;
      white-space:  nowrap;
      padding:      4px 8px;
      border-left:  #0b5d35 solid 1px;
      border-right: #0b5d35 solid 1px;
      vertical-align: middle;
    }

    & .css-th
    {
      font-weight: bold;
      text-align:  center;
      background-color: #d8d8d8;
    }

    & .css-td
    {
    }

    & .css-caption
    {
      display: table-caption;
    }
  }

  // used in study_summary - ensures that sub-menues align to top when sub-menu page is too short
  &.study-summary
  {
    & .css-table
    {
      & .css-th,
      & .css-td
      {
        display:      table-cell;
        white-space:  nowrap;
        padding:      4px 8px;
        border-left:  none;
        border-right: none;
      }

      & .css-th
      {
        text-align:  left;
        font-size: 110%;
        background-color: transparent;
      }

    }
  }

}