@supports (display: grid)
{
  .page-container
  {
    //& .page-subfooter
    //{
    //  & .subfooter-inner
    //  {
    & .table-nav-container
    {
      display:         flex;
      flex-flow:       row;
      justify-content: space-between;
      align-items:     center;

      width:           100%;
      height:          100%;

      //border:          #cf1f51 solid 1px;

      &.narrow
      {
        & .table-nav-container-inner
        {
          flex-flow: column;
        }

      }

      & .navbar-container
      {
        display:   flex;
        flex-flow: column;
        width:     100%;
        height:    100%;

        //border:    #cf1f51 solid 1px;

        &.dualpane-left
        {
          margin-right: 8px;
        }

        &.dualpane-right
        {
          margin-left: 8px;
        }
      }


      & .table-nav-container-inner
      {
        display:         flex;
        flex-flow:       row;
        justify-content: space-between;
        align-items:     center;
        width:           100%;

        //border:          #885cff solid 2px;

        & .table-navbar-search
        {
          display:    flex;
          flex-flow:  row;
          max-height: 24px;

          //border: #ff0a9c solid 2px;
        }

        & .table-navbar,
        & .table-searchbar
        {
          display:         flex;
          flex-flow:       row nowrap;
          justify-content: space-between;
          flex:            0 1 auto;
          //align-items:      center;
          //height:           24px;
          width:           100%;
          height:          100%;

          & nav
          {
            display:     flex;
            flex-flow:   row nowrap;
            flex:        1 1 auto;
            align-items: center;

            width:       100%;

            height:      100%;


            & ul
            {
              display:         flex;
              flex-flow:       row nowrap;
              justify-content: space-between;
              align-items:     center;

              list-style:      none;
              width:           256px;
              height:          100%;

              padding:         0;

              //border: #ff66f8 solid 1px;

              & li
              {
                display:         flex;
                flex-flow:       row nowrap;
                justify-content: center;
                align-items:     center;

                width:           100%;
                height:          100%;

                //border:    #ff2762 solid 1px;

                &.pg-of-pgs
                {
                  white-space:  nowrap;
                  padding-left: 0.2rem;
                }

                & a
                {
                  display:         flex;
                  flex-flow:       row nowrap;
                  justify-content: center;
                  align-items:     center;

                  width:           100%;
                  height:          100%;

                  & svg
                  {
                    height: 12px;
                  }

                }

              }

              &.table-nav-double-row
              {
                margin-right: 16px;
              }

              &.table-pg-of-pgs
              {
                justify-content: center;
                //width: 48px;
                //border: #ff36bb solid 1px;
              }

            }

            & .svg-nav-arrow
            {
              fill:       $neutral1-center;
              //fill:       #dbffd9;
              transition: 0.2s ease-in-out;

              &:hover
              {
                fill: $neutral1-dark-02;
              }
            }

          }

        }
      }

      & .table-searchform
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: flex-end;
        align-items:     center;
        height:          100%;
        margin:          0;
        padding:         0;
        width:           100%;
        border:          #a62f1b solid 1px;

        & .fieldset
        {
          display:     flex;
          flex-flow:   row nowrap;
          align-items: center;
          height:      100%;
          padding:     0;
          margin:      0;

          & input
          {
            height: 100%;
            width:  100%;
            margin: 0;
            border: $primary1-light-04 solid 0.1rem;

          }

          & .reset-link
          {
            display:     none;
            width:       16px;
            margin-left: -16px;
            transition:  0.2s ease-in-out;

            &.term-present
            {
              display:         flex;
              justify-content: center;
              align-items:     center;

              color:           #7a7a7a;

              &:hover
              {
                color:            #1b1b1b;
                background-color: #e6e6e6;
              }
            }
          }
        }
      }

    }

    //}
    //}
  }
}

.table-nav-container
{
  display:         flex;
  flex-flow:       row;
  justify-content: space-between;
  align-items:     center;

  width:           100%;
  height:          100%;

  //border: #cf1f51 solid 1px;

  & .navbar-container
  {
    display:   flex;
    flex-flow: column;
    width:     100%;
    height:    100%;

    //border:    #cf1f51 solid 1px;

    &.dualpane-left
    {
      margin-right: 8px;
    }

    &.dualpane-right
    {
      margin-left: 8px;
    }
  }

  & .table-navbar,
  & .table-searchbar
  {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: space-between;
    flex:            0 1 auto;
    //align-items:      center;
    //height:           24px;
    width:           100%;
    height:          100%;

    & nav
    {
      display:     flex;
      flex-flow:   row nowrap;
      flex:        1 1 auto;
      align-items: center;

      width:       100%;

      height:      100%;


      & ul
      {
        display:         flex;
        flex-flow:       row nowrap;
        justify-content: space-between;
        align-items:     center;

        margin:          16px 0;

        list-style:      none;
        width:           256px;
        height:          100%;

        padding:         0;

        //border: #ff66f8 solid 1px;

        & li
        {
          display:         flex;
          flex-flow:       row nowrap;
          justify-content: center;
          align-items:     center;

          width:           100%;
          height:          100%;

          //border:    #ff2762 solid 1px;

          &.pg-of-pgs
          {
            white-space:  nowrap;
            padding-left: 0.2rem;
          }

          & a
          {
            display:         flex;
            flex-flow:       row nowrap;
            justify-content: center;
            align-items:     center;

            width:           100%;
            height:          100%;

            & svg
            {
              height: 12px;
            }

          }

        }

        &.table-nav-double-row
        {
          margin-right: 16px;
        }

        &.table-pg-of-pgs
        {
          justify-content: center;
          //width: 48px;
          //border: #ff36bb solid 1px;
        }

      }

      & .svg-nav-arrow
      {
        fill:       $neutral1-center;
        //fill:       #dbffd9;
        transition: 0.2s ease-in-out;

        &:hover
        {
          fill: $neutral1-dark-02;
        }
      }

    }

  }

  & .table-searchform
  {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: flex-end;
    align-items:     center;
    height:          100%;
    margin:          0;
    padding:         0;
    width:           100%;
    border:          #a62f1b solid 1px;

    & .fieldset
    {
      display:     flex;
      flex-flow:   row nowrap;
      align-items: center;
      height:      100%;
      padding:     0;
      margin:      0;

      & input
      {
        height: 100%;
        width:  100%;
        margin: 0;
        border: $primary1-light-04 solid 0.1rem;

      }

      & .reset-link
      {
        display:     none;
        width:       16px;
        margin-left: -16px;
        transition:  0.2s ease-in-out;

        &.term-present
        {
          display:         flex;
          justify-content: center;
          align-items:     center;

          color:           #7a7a7a;

          &:hover
          {
            color:            #1b1b1b;
            background-color: #e6e6e6;
          }
        }
      }
    }
  }

}
