.table-nav-filter-column
{

  display:         flex;
  flex-flow:       column;
  justify-content: space-between;
  width:           100%;

  //border:          #a036ff solid 1px;

  & .table-filter-container
  {
    display:    flex;
    flex-flow:  row;
    justify-content: space-between;
    max-height: 24px;

    //border:     #ff459c solid 1px;

    & input[type="text"]
    {
      &.filter
      {
        border-radius: 16px;
        border-style:  solid;
        padding:       0 8px;
        //margin:        0 8px;

      }
    }
  }
}