.page-container
{
  & .page-subheader-nav
  {
    display:          flex;
    flex-flow:        row;
    //background-color: $neutral1-light-06;
    height:           100%;
    width:            100%;
    //padding: 0;

    //border:           #ff93c2 solid 1px;

    & .subheader-nav-inner
    {
      display:         flex;
      flex-flow:       row;
      justify-content: flex-end;
      width:           100%;
      height:          100%;

      //border:           #ff93c2 solid 1px;

      & .subheader-nav-content
      {
        display:     flex;
        flex-flow:   row nowrap;
        align-items: flex-start;
        width:       $content-width-w0;
        //height:      100%;
        
        //border:          #0e07e8 solid 1px;
      }
    }
  }

  & .page-sub-k-nav
  {
    display:          flex;
    flex-flow:        row;
    justify-content: flex-start;
    //background-color: $neutral1-light-06;
    height:           100%;
    width:            100%;
    //border:           #0e07e8 solid 1px;
    z-index: -1000;

  }
}
