.button
{

  &.icon24
  {
    display:          flex;
    flex-flow:        row nowrap;
    border-radius:    8px;
    padding:          4px;
    background-color: $temp-grey-04;
    transition:       background-color 0.2s;

    height:           32px;
    width:            32px;
    max-width:        32px;
    min-width:        32px;
    border-radius:    16px;

    margin-right:     4px;

    & img
    {
      width: 16px;
    }

    &:hover
    {
      background-color: $btn-icon24-hover-bgcolor;
    }

    & svg
    {
      width: 24px;

      //---------------------------
      &.edit-icon-svg
      {
        & .p1
        {
          fill: none;
        }

        & .p2
        {
          fill: black;
        }
      }

      //---------------------------
      &.view-icon-svg
      {
        & .p1
        {
          fill: none;
        }

        & .p2
        {
          fill: black;
        }
      }

      //---------------------------
      &.assay-icon48-svg
      {
        fill: black;

        & .p1
        {
          stroke: black;
          fill:   black;
        }

      }

      //---------------------------
    }

    &.table-icon
    {
      border-radius: 24px;
      padding:       4px;

      &:hover
      {
        background-color: $table-icon-background;
      }

      & svg
      {
        & .p1
        {
          fill:   $btn-table-icon-color;
          stroke: $btn-table-icon-color;
        }
      }
    }
  }
}
