.card-table-container-2
{
  display: flex;
  flex-flow: column;
  width: 100%;
  
  border: #e36293 solid 1px;
  & .css-table
  {
    display: table;

    & .css-thead
    {
      display: table-header-group;

      & .css-trh
      {
        display: table-row;
      }

    }

    & .css-tbody
    {
      display: table-row-group;

      & .css-tr
      {
        display: table-row;
      }
    }

    & .css-tfoot
    {
      display: table-footer-group;
    }


    & .css-col
    {
      display: table-column;
    }

    & .css-colgroup
    {
      display: table-column-group;
    }

    & .css-th,
    & .css-td
    {
      display:      table-cell;
      white-space:  nowrap;
    }

    & .css-th
    {
      font-weight:      bold;
      text-align:       center;
    }

    & .css-td
    {
    }

    & .css-caption
    {
      display: table-caption;
    }
  }
}