@supports (display: grid)
{
  @media only screen and (min-width: $screen-width-up)
  {
    .page-container
    {
      & .page-menu
      {

        & .page-menu-container.menu-narrow
        {
          display: none;
        }

        //----------------------------------------------------------
        // main menu container
        //----------------------------------------------------------
        & .page-menu-container.menu-wide
        {
          & .site-logo-container
          {
            padding:          0;
            background-color: $main-menu-bgcolor;
            //border: #ff4fea solid 1px;

            & .site-logo-link
            {
              display:         flex;
              flex-flow:       row nowrap;
              justify-content: flex-start;
              align-items:     center;
              width:           100%;


              //color:           white;
              //font-family:     'Roboto';
              //font-weight:     bold;
              //font-size:       125%;
              //width: 128px;
              padding:  8px  8px 0 16px;

              & img
              {
                height: 34px;
              }

              & svg
              {
                justify-content: flex-start;
                height:           48px;
                width: auto;

                //margin-right:     16px;
                padding:          6px;
                border-radius:    8px;
                background-color: transparent;
                //border: #ff4fea solid 1px;

              }
            }
          }

          //----------------------------------------------------------
          // menu (main part)
          //----------------------------------------------------------
          & .page-menu-inner
          {
            // padding at top of left-menu below site-logo
            padding-top: $menu-wide-padding-top;

            //border: #d53dff solid 3px;

            & nav
            {
              width:        100%;
              // main-menu padding to left screen-side
              padding-left: 16px;

              //border: #d53dff solid 3px;

              & ul
              {
                width:  100%;

                //border: #d53dff solid 3px;

                & li
                {
                  width: 100%;
                }

                //----------------------------------------------------------
                // module-header
                //----------------------------------------------------------
                // top menu item below site-logo
                // container for logo-link to "home"
                //----------------------------------------------------------
                &.module-header
                {
                  //border: #5dd497 solid 1px;

                  & li
                  {
                    & .module-header-inner
                    {
                      display:   flex;
                      flex-flow: row nowrap;
                      width:     100%;

                      //border:    #ff61b0 solid 3px;


                      & a
                      {
                        display:         flex;
                        flex-flow:       row nowrap;

                        justify-content: flex-start;
                        align-items:     center;

                        width:           100%;
                        white-space:     nowrap;
                        color:           #fffff;
                        font-weight:     bold;

                        //border:          #ff61b0 solid 3px;
                        padding:         0;

                        & .link-inner
                        {
                          display:         flex;
                          flex-flow:       row;
                          justify-content: flex-start;
                          align-items:     center;

                          font-family:     'Roboto';
                          font-size: 125%;

                          width:           100%;
                          padding:         0 4px;

                          //border:          #d83dff solid 1px;

                          & svg
                          {
                            fill:         #ffffff;
                            stroke:       none;

                            height:       36px;
                            width:        36px;
                            margin-right: $header-icon-text-dist;
                            padding:      0;

                            //border:       #ff61b0 solid 3px;
                          }
                        }
                      }

                      &.current
                      {
                        & a
                        {
                          color: $module-header-color;

                          & .link-inner
                          {
                            & svg
                            {
                              fill: $module-header-color;
                            }
                          }

                        }

                      }
                    }
                  }
                }

                //----------------------------------------------------------
                // subheaders - main menu items under module
                //----------------------------------------------------------
                &.module-submenu
                {
                  & li
                  {
                    &.main
                    {


                      & .menu-entry
                      {
                        font-family: 'Roboto';
                        font-size: 125%;
                        color:       $primary1-light-04;
                        margin-top:  16px;

                        //border:      #5dd497 solid 1px;

                        & svg
                        {
                          fill:   $primary1-light-04;
                          width:  24px;
                          margin: 0 $sub-header-icon-text-dist 0 2px;

                          &.home-icon-svg
                          {
                            width: 48px;
                            margin: 0 $sub-header-home-text-dist 16px -10px;
                          }
                        }
                      }

                      &.current
                      {
                        & .menu-entry
                        {
                          color: $menu-focus-color;

                          & svg.dataset-icon-svg
                          {
                            fill: $menu-focus-color;
                          }

                          & svg
                          {
                            fill: $menu-focus-color;
                          }
                        }

                      }
                    }
                  }
                }

                //----------------------------------------------------------
                // submenu items without icons
                //----------------------------------------------------------
                &.submenu
                {
                  padding-left: 64px;
                  //padding-right: 16px;

                  & li
                  {
                    &.head
                    {
                      //border-radius: 6px;
                      padding-left: 24px;

                      //border: #d53dff solid 1px;
                    }

                    &.current
                    {

                      //border: #d53dff solid 1px;
                      & a
                      {
                        color: $menu-focus-color;

                      }
                    }

                    & a
                    {

                      //border: #5dd497 solid 1px;
                      &.menu-entry
                      {
                        flex-flow: row nowrap;

                        //border:    #d53dff solid 2px;

                        & svg
                        {
                          margin-right: 8px;
                          fill:         $primary1-light-04;
                        }
                      }
                    }
                  }

                  //-- end ul.submenu
                }

              }
            }
          }
        }
      }
    }
  }
}
