/*********************************************************************
 * Kd Questionnaire System
 * Copyright (c) 2019-2021 Kd Lab team
 * Created 2021-03-29
 * This file is part of the 'Kd Questionnaire System'.
 * Author: Finn Sandø <fs@3q.dk>
 *********************************************************************
 */
.nds-form-container input[type="text"][readonly],
.replaced-plaintext
{
  border-radius:    2px;
  padding:          0 4px;
  margin:           8px 0 20px 0;
  font-size:        100%;
  font-family:      'Roboto';
  background-color: $shade-13-02;

  border:           $primary-col-l2 solid 1px;
}

.form-container
{
  & .form-fieldset
  {
    & .form-field
    {
      & textarea,
      & input
      {
        width:       100%;
        font-family: Roboto;

        &:read-only
        {
          background-color: $shade-13-02;
        }
      }

      & textarea,
      & input[type="text"]
      {
        //border: $input-text-border-color solid 1px;
        border:           none;
        background-color: $input-text-background-color;
        border-radius:    8px;
        padding:          8px;
        //&:required
        //{
        //  border-color: #ff1351;
        //}
        margin-bottom:    32px;
      }

      & textarea
      {
        min-height: 150px;
        //border: #dc2c9a solid 1px;
      }

      & input[type=checkbox]
      {
        width:        unset;
        margin-right: auto;
      }

      & input[type=text]
      {
        min-height: 24px;

        &.filter
        {
          border-radius: 16px;
          //border: #ff449b solid 1px;
        }
      }

    }

    & .form-buttonset
    {

    }
  }

  &.metabolsearch
  {
    & .form-fieldset
    {
      & .form-field
      {
        //border: #ff47f0 solid 1px;

        & input
        {
          background-color: $primary1-light-04;
          padding-left:     16px;
          height:           24px;
          border-radius:    6px;
          border:           $primary1-light-03 solid 1px;

          &::placeholder
          {
            color: $neutral1-dark-05;
          }
        }

        //border: #ff4f7b solid 1px;
      }

    }
  }
}

select
{
  border:              $shade-13-04 solid 1px;
  cursor:              pointer;

  &::-ms-expand
  {
    display: none;
  }

  //---------------------------------------------------------
  // style FF to look like chrome:
  // appearance:
  // FF:     does not remove all padding
  // chrome: removes all padding
  //---------------------------------------------------------
  //appearance: none;
  -moz-appearance:     none;

  //max-width:           80px;
  padding:             0 16px 4px 4px;
  margin:              0;
  line-height:         1.4;
  border-radius:       4px;
  text-transform:      none;
  height:              24px;
  font-weight:         bold;

  background-image:    url("/img/angle-bracket-down-circle.svg");
  background-repeat:   no-repeat;
  background-size:     28px 60px;
  background-position: center right;
  background-color:    $primary1-light-05;
  //background-color: #ff0a9c;
}

.td-assay,
.td-vartype,
.td-datatype,
.td-unit
{
  & select
  {
    border:           none;
    background-color: $temp-grey-04;
    border-radius:    8px;
    padding-left:     8px;
    transition:       background-color 0.2s;

    &:hover
    {
      background-color: $temp-grey-05;
    }

  }
}

.td-unit
{
  & select
  {
    max-width: 64px;
    //background:       none;
  }

  //border: #a3195d solid 2px;
}

.td-datatype
{
  & select
  {
    min-width: 96px;
  }

  //border: #a3195d solid 2px;
}

.td-vartype
{
  & select
  {
    min-width: 96px;
    max-width: 132px;
  }

  //border: #a3195d solid 2px;
}

.td-assay
{
  & select
  {
    min-width: 96px;
    max-width: 132px;
  }

  //border: #a3195d solid 2px;
}

.form-buttonset
{
  & button
  {
    margin-left: 16px;

    &.expand
    {
      width: 100%;
    }

    &.submit
    {
      background-color: $btn-submit-bgcolor;
      border:           $btn-submit-bgcolor solid 2px;
      transition:       background-color 0.2s;

      &:hover
      {
        background-color: $btn-submit-bgcolor-hover;
      }
    }

    &.standard
    {
      background-color: $btn-standard-bgcolor;
      border:           #000000 solid 2px;

      &:hover
      {
        background-color: darken($btn-standard-bgcolor, 5%);
      }
    }

    &.disabled
    {
      background-color: $btn-disabled-bgcolor;
      color:            $btn-disabled-color;
      border:           #000000 solid 2px;

      //&:hover
      //{
      //  background-color: darken($btn-standard-bgcolor, 5%);
      //}
    }

    &.cancel
    {
      background-color: $btn-standard-bgcolor;
      border:           #000000 solid 2px;

      &:hover
      {
        background-color: darken($btn-standard-bgcolor, 5%);
      }
    }

    &.alink
    {
      background-color: transparent;
      border:           none;
      text-decoration:  underline;

      &:hover
      {
        background-color: darken($btn-standard-bgcolor, 5%);
      }

    }

  }
}
