.no-hover
{
}
.table-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;
  overflow:  scroll;

  //border:    #d4295d solid 5px;


  & table
  {
    border-collapse: collapse;

    &.framed
    {
      border: $table-framed-border solid 1px;

      & tr
      {
        th
        {
          background-color: $table-framed-header;
        }
      }
    }

    & tr
    {
      & th,
      & td
      {
        transition: background-color 0.2s;
        text-align: left;
        padding:    4px;
        //border:    #ff5485 solid 1px;
      }

      &:not(.no-hover):hover
      {
        & td
        {
          background-color: $table-row-hover;
        }
      }
    }

    &.striped
    {
      & tbody
      {
        & tr
        {
          &:nth-of-type(odd)
          {
            & td
            {
              background-color: $table-row-striped-dark;
            }
          }

          &:nth-of-type(even)
          {
            & td
            {
              background-color: $table-row-striped-light;
            }
          }

          &:not(.no-hover):hover
          {
            & td
            {
              background-color: $table-row-hover;
            }
          }

        }
      }

    }
    

    &.fixed
    {
      table-layout:    fixed;
      border-collapse: collapse;
    }

    & tbody
    {
      & tr
      {
        &.warning
        {
          & td
          {
            position:         relative;
            background-color: #fe8179;
            bottom:           0px;
          }
        }
      }
    }
  }

  & table.scrollable-table
  {
    width:      100%;
    margin-top: -5px;

    & th,
    & td
    {
      padding:     4px 8px;
      min-width:   20px;
      white-space: nowrap;
    }

    & td
    {
      text-align: center;
    }

    & thead
    {

      width:            100%;

      height:           50px;

      background-color: white;
      border:           #c3cdd6 solid 0.1px;

      overflow-x:       auto;

      z-index:          0;
    }

    & tbody
    {
      height:     100%;
      width:      100%;
      overflow:   auto;

      margin-top: 25px;
    }
  }
}

.card-table-container
{
  display:   flex;
  flex-flow: column;
  width:     100%;

  //border:    #85d462 solid 3px;

  & table
  {
    table-layout:    fixed;
    border-collapse: collapse;
    //border-spacing: 0.2rem;
    width:           100%;

    & th,
    & td
    {
      text-align: left;
      padding:    0 8px;
      border:     $shade-13-01 solid 2px;

      & input
      {
        width: 100%;
      }
    }

    & th
    {
      font-weight: bold;
    }
  }
}