.page-content
{
  & .page-content-inner
  {
    & .card-container
    {
      & .card
      {
        &.emptypage
        {
          border-top-width: 32px;

          padding:          64px;
          //border: #5bd957 solid 1px;

          & .emptypage-container
          {
            display:         flex;
            flex-flow:       column;
            justify-content: flex-start;
            align-items:     center;
            width:           100%;
            height:          100%;
            //border:          #d44025 solid 1px;

            & header
            {
              font-size:     300%;
              font-weight:   bold;
              margin-bottom: 32px;
            }

            & button
            {
              &.select
              {
                font-size: 125%;
                background-color: black;
                color:            white;
                
                padding: 16px 64px;
                border-radius: 32px;
              }
            }


            & .emptypage-msg
            {
              display:         flex;
              flex-flow:       row nowrap;
              justify-content: center;

              height:          100%;

              font-size: 125%;
            }

            & .emptypage-action
            {
              display:         flex;
              flex-flow:       row nowrap;
              justify-content: center;

              height:          100%;

              font-size: 125%;
            }
          }
        }
      }
    }

  }
}
