.page-container
{
  & .page-content
  {
    & .page-content-inner
    {
      & .card-container
      {
        & .card-slim
        {
          display:       flex;
          flex-flow:     column;
          align-items:   stretch;
          width:         100%;
          border:        $box-standard-border;
          //background-color: #b7d7e3; //$card-background-color;

          border-radius: 16px;
          padding:       8px 32px;
          margin:        4px 0 8px 0;
          transition:    background-color 0.3s ease-in-out;

          & .card-row
          {
            display:         flex;
            flex-flow:       row nowrap;
            justify-content: space-between;

            width:           100%;

            //border:    #e31d38 solid 1px;

            &.thead
            {
              font-weight: bold;
              //font-size: 120%;
            }

            &.tbody
            {
              height: 100%;

              & .card-column
              {
                //border:        $box-standard-border;
              }

            }

          }

          & .card-column
          {
            display:         flex;
            flex-flow:       column;
            justify-content: center;

            width:           100%;
            height:          100%;
            //border:          #e31d38 solid 1px;

          }


        }

      }
    }
  }
}

.page-container
{
  & .page-content
  {
    & .page-content-inner
    {
      & .card-container
      {
        & .card-table
        {
          display:     flex;
          flex-flow:   column;
          //align-items: stretch;
          width:       100%;
          //border:        $box-standard-border;
          //background-color: #b7d7e3; //$card-background-color;

          //border-radius: 16px;
          //padding:       8px 32px;
          //margin:        4px 0 8px 0;
          //transition:    background-color 0.3s ease-in-out;

          & .css-table-header-container
          {
            display: flex;
            flex-flow: row;
            width:   100%;
            position: fixed;
            
            border:  #8416e3 solid 1px;
          }

          & .css-table-header-space
          {
            display: block;
            height:  132px;
            
            border:  #e3981c solid 3px;
          }

          & .css-table
          {
            display:        table;
            width:          100%;
            border-spacing: 0 8px;
            table-layout:   fixed;

            & .css-trh
            {
              display: table-row;

              //position:    absolute;
              //width: 100%;

              & .css-th
              {
                display:        table-cell;
                font-weight:    bold;
                padding:        4px 8px;
                vertical-align: middle;
                
                &:last-of-type
                {
                  text-align: center;
                }
              }
            }

            & .css-tr
            {
              display: table-row;


              & .css-td
              {
                display:        table-cell;
                border-bottom:  $box-standard-border;
                border-top:     $box-standard-border;
                vertical-align: middle;

                padding:        4px 8px;
                //align

                &:first-of-type
                {
                  padding-left:              16px;
                  border-bottom-left-radius: $box-slim-border-radius;
                  border-top-left-radius:    $box-slim-border-radius;
                  border-left:               $box-standard-border;

                  //border-left:               #e31e3b solid 1px;
                }

                &:last-of-type
                {
                  padding-right:              16px;
                  border-bottom-right-radius: $box-slim-border-radius;
                  border-top-right-radius:    $box-slim-border-radius;
                  border-right:               $box-standard-border;

                  //border-right:               #e31e3b solid 1px;
                }

              }
            }
          }


        }
      }
    }
  }
}
