.page-container
{
  & .page-content
  {
    & .page-content-inner
    {
      & .card-container
      {
        & .card
        {
          & .card-button-box
          {
            display:         flex;
            flex-flow:       row nowrap;
            justify-content: flex-end;
            align-items:     center;

            width:           100%;
            height:          24px;
            max-height:      24px;

            transition:      opacity 0.5s;

            //background-color: #942f58;
            //border:          #f02b94 solid 1px;
            
            & .confirm-delete-wrapper
            {
              display: flex;
              flex-flow: column;
              height: 100%;
            }

            & .confirm-delete-msg
            {
              display:     flex;
              font-size: 100%;
              font-weight: bold;
              margin:      8px;
            }
          }

          & .card-button-box-hide-outer
          {
            display:         flex;
            flex-flow:       nowrap row;
            justify-content: flex-end;
            align-items:     center;

            visibility:      hidden;
            transition:      visibility 0s;

            height:          0px;
            max-height:      0px;

            transition:      opacity 0.5s;
            transition:      height 2s;

            //background-color: #249669;
            //border:          #24976a solid 1px;

            & .card-button-box-hide-inner,
            {
              display:          flex;
              flex-flow:        row nowrap;
              justify-content:  flex-end;
              align-items:      center;

              background-color: $dots-background-color;
              border-radius:    16px;
              padding:          4px;

              //border:          #24976a solid 1px;
              & svg
              {
                width: 24px;
              }

            }

          }

          &.hover-action
          {
            //border: #f02b94 solid 1px;

            & .card-button-box
            {
              display:   flex;
              flex-flow: row;

              opacity:   0;
            }

            &:hover
            {
              & .card-button-box
              {
                display: flex;
                opacity: 1;
              }

            }
          }

          //-------------------------------

          &.hover-hide-action
          {
            //border: #f02b94 solid 1px;

            & .card-button-box-hide-outer
            {
              height:     24px;
              max-height: 24px;

              visibility: visible;
              transition: visibility 0s;

              opacity:    1;
              transition: opacity 1s;

            }

            & .card-button-box
            {
              visibility: hidden;
              transition: visibility 0s;

              opacity:    0;
              transition: opacity 1s;

              height:     0;
              max-height: 0;
              //transition: height 0s;

              //background-color: #942f58;
              //border:     #f02b94 solid 1px;
            }

            &:hover
            {
              & .card-button-box
              {
                visibility: visible;
                opacity:    1;
                height:     24px;
                max-height: 24px;
              }

              & .card-button-box-hide-outer
              {
                visibility: hidden;
                opacity:    0;
                height:     0;
                max-height: 0;
              }
            }
          }
        }
      }
    }
  }
}

