<!DOCTYPE html>
<html>
<head>
  {% block set_params %}{% endblock %}
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {{ partial("00partials/global_favicon_partial") }}
{#    <link rel="shortcut icon" type="image/png" href="/img/logo/das-in-favicon2.png"/>#}
    <link rel="stylesheet" href="{{ url.getStaticCss('css/00qelements.css') }}">
    <link rel="stylesheet" href="{{ url.getStaticCss('css/00master3.css') }}">
    <title>
      {{ get_title() }}
    </title>
  {% endblock %}
</head>
{% if extra_page_container_class is not defined %}{% set extra_page_container_class = "" %}{% endif %}
<body onload="default_focus()">

{# errors ------------------------------------------------- #}
{% block show_errors %}
  {% if flashSession.has() %}
    <div class="nds-error-container">
      <div class="message-header">
        {{ flashSession.output() }}
      </div>
    </div>
  {% endif %}
{% endblock %}
{# errors end ------------------------------------------------- #}

<div class="nds-page-container nds-no-nav {{ extra_page_container_class }}">

  {# header ------------------------------------------------- #}
  <div class="nds-header">

    <div class="nds-index-header">
      {% block index_header %}
        <header>{{ get_title(false) }}</header>
      {% endblock %}
    </div>


  </div>
  {# header end ------------------------------------------------- #}

  {# {% block nav_header %} #}
  {# {% endblock %} #}

  {# side menu ------------------------------------------------- #}
  <div class="nds-menu">

    {# menu-slide trigger #}
    <label for="chk-slide" class="nds-slide-menu-activator-label"></label>
    <input type="checkbox" id="chk-slide" class="nds-slide-menu-activator">

    {# sliding menu container #}
    {% block menu_big_start %}
    <div class="nds-nav-container">

      {{ partial("layouts/site_logo_big_partial") }}

      <div class="nds-nav-container-inner">
        <nav>

          {{ partial("layouts/site_user_menu_partial") }}

          <hr class="nds-menu-sep">
          {% endblock %}

          <ul>
            {% block menu_wide_1 %}
            {% endblock %}
          </ul>
          <hr class="nds-menu-sep">

          {% block menu_big_separator %}
          {% endblock %}

          {% block menu_wide_2 %}
          {% endblock %}

        </nav>
      </div>
    </div>

    {% block menu_narrow_start %}
    <div class="nds-nav-container2">

      <div style="background-color: transparent">
        <a class="nds-site-logo-link" href="/">
          <img id="g" src="/img/logo/dashin-logo-4.png" width="90%">
        </a>
      </div>

      <nav>

        <ul>
          {% if LOGGED_IN_USER_FULL_NAME is defined %}
            <li class="user-link">
              <a href="/user/{{ _ls_querystring_ }}" onclick="" title="Edit profile">
                {{ LOGGED_IN_USER_FULL_NAME }}
              </a>
            </li>
            <li class="user-link" style="min-height: 2rem">
              <a href="/user/view/{{ _ls_querystring_ }}" onclick="" title="Select role">
                {% if SU.getActiveManagerOrgName() %}({{ SU.getActiveManagerOrgName() }}){% endif %}
              </a>
            </li>
          {% else %}
            <li class="user-link">
              <a href="/user/{{ _ls_querystring_ }}" onclick="">
                User
              </a>
            </li>
          {% endif %}
          <li>
            <a href="/welcome/{{ _ls_querystring_ }}">Tools</a>
          </li>

        </ul>
        <hr class="nds-menu-sep">
        {% endblock %}

        {% block menu_narrow_1 %}
        {% endblock %}

        {% block menu_narrow_separator %}
        {% endblock %}

        {% block menu_narrow_2 %}
        {% endblock %}

      </nav>
    </div>

  </div>
  {# side menu end ------------------------------------------------- #}

  {# main content ------------------------------------------------- #}
  {# #ct2: (js) content gets focus at page-load #}
  <div id="ct2" class="nds-content2" tabindex="1">

    <div class="nds-content2-index-inner">
      {% block content2 %}
      {% endblock %}
    </div>

  </div>
  {# main content end ------------------------------------------------- #}

  {# footer ------------------------------------------------- #}
  <div class="nds-footer">
    {% block footer %}
    {% endblock %}
  </div>
</div>
{# <script> #}
{# function default_focus() { #}
{# document.getElementById("ct2").focus(); #}
{# } #}

{# var hasChanged = false; #}
{# var isSubmit = false; #}

{# var formSetSubmit = function () { #}
{# isSubmit = true; #}
{# } #}

{# function formSetChanged() { #}
{# hasChanged = true; #}
{# } #}

{# window.onbeforeunload = function () { #}
{# if (hasChanged && !isSubmit) { #}
{# return ""; #}
{# } #}
{# } #}
{# </script> #}
{% block jsscripts %}
  <script>
      function default_focus() {
          document.getElementById("ct2").focus();
      }

      var hasChanged = false;
      var isSubmit = false;

      var formSetSubmit = function () {
          isSubmit = true;
      }

      function formSetChanged() {
          hasChanged = true;
      }

      window.onbeforeunload = function () {
          if (hasChanged && !isSubmit) {
              return "";
          }
      }
  </script>
{% endblock %}
</body>
</html>
