<a class="site-logo-link" href="/">
{#  <img src="/img/logo/dashin-logo-1.png">#}
{#  <img src="/img/logo/logo-white-on-plack.png">#}
  {{ partial("00img_partials/v1/icons/squidr-logo-text-white.svg") }}
</a>
